@charset "UTF-8";
/*
  ⚜️ BLOCK: CONTACT-FORM ⚜️
*/
.contact-form .form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.contact-form .btn-container {
  padding-top: 37px;
}
@media (max-width: 1400px) {
  .contact-form .btn-container {
    padding-top: 20px;
  }
}
@media (max-width: 1000px) {
  .contact-form .btn-container {
    --btn-w-large: 290px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .contact-form .btn-container {
    --btn-w-large: 100%;
    padding-top: 0px;
  }
}

/*
    👑 👑 👑 👑
  👑 PAGE: CONTACT-US 👑
    👑 👑 👑 👑
*/
@media (max-width: 1400px) {
  .page__touch-the-animal-wrapper {
    max-width: 100%;
  }
}

.touch-the-animal__img {
  display: block;
  width: 100%;
  height: auto;
}
.touch-the-animal__container--pic {
  padding-bottom: 150px;
}
@media (max-width: 1400px) {
  .touch-the-animal__container--pic {
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .touch-the-animal__container--pic {
    padding-bottom: 30px;
  }
}
.touch-the-animal__container--flex {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--page-w-gap);
  padding-bottom: 150px;
}
@media (max-width: 1400px) {
  .touch-the-animal__container--flex {
    padding-bottom: 100px;
  }
}
@media (max-width: 1000px) {
  .touch-the-animal__container--flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
}
@media (max-width: 500px) {
  .touch-the-animal__container--flex {
    padding-bottom: 80px;
  }
}
.touch-the-animal__container--txt {
  grid-column: 1/span 5;
}
@media (max-width: 1400px) {
  .touch-the-animal__container--txt {
    grid-column: 3/span 9;
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .touch-the-animal__container--txt {
    padding-bottom: 40px;
  }
}
.touch-the-animal__container--form {
  grid-column: 7/span 6;
}
@media (max-width: 1400px) {
  .touch-the-animal__container--form {
    grid-column: 3/span 8;
    padding: var(--page-w-off);
  }
}
@media (max-width: 500px) {
  .touch-the-animal__container--form .input-textarea .input__base {
    height: 200px;
  }
}
@media (max-width: 1400px) {
  .touch-the-animal__article {
    text-align: center;
  }
}
.touch-the-animal__article-heading {
  padding-bottom: 50px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h2);
  font-size: var(--font-size--h2);
  line-height: var(--line-height--h2);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--color-ui-2-def);
}
@media (max-width: 1400px) {
  .touch-the-animal__article-heading {
    padding-bottom: 30px;
    /* 💩 tweaking pixel-perfect  💩 */
    padding-right: calc(var(--page-w-col) + var(--page-w-gap) + 5px);
  }
}
@media (max-width: 1000px) {
  .touch-the-animal__article-heading {
    padding-bottom: 18px;
    /* 🧹 clean pixel-perfect  🧹 */
    padding-right: 0;
  }
}
.touch-the-animal__article-text {
  max-width: 545px;
}
@media (max-width: 1400px) {
  .touch-the-animal__article-text {
    max-width: 100%;
    /* 💩 tweaking pixel-perfect  💩 */
    margin-left: -5px;
  }
}
@media (max-width: 1000px) {
  .touch-the-animal__article-text {
    /* 🧹 clean pixel-perfect  🧹 */
    margin-left: 0;
  }
}
