@charset "UTF-8";
/*
    👑 👑 👑 👑
  👑 PAGE: MAP 👑
    👑 👑 👑 👑
*/
.title {
  padding: 40px 0 70px;
}
@media (max-width: 1400px) {
  .title {
    padding: 30px 0 20px;
  }
}
@media (max-width: 1000px) {
  .title {
    padding: 30px 0 70px;
  }
}
@media (max-width: 500px) {
  .title {
    padding: 20px 0 25px;
  }
}
.title__heading {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h2);
  font-size: var(--font-size--h2);
  line-height: var(--line-height--h2);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-align: center;
  color: var(--color-main-navy);
}
@media (max-width: 1000px) {
  .title__heading {
    /* 🔽🔠🔽 */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: var(--font-weight--h3);
    font-size: var(--font-size--h3);
    line-height: var(--line-height--h3);
    /* 🆎 */
    text-transform: uppercase;
    /* 🔼🔠🔼 */
  }
}
@media (max-width: 500px) {
  .title__heading {
    text-transform: unset;
  }
}

.page__map-wrapper {
  --map-h: 64.865%;
  --map-scale: 1.12;
  padding-bottom: 150px;
}
@media (max-width: 1400px) {
  .page__map-wrapper {
    max-width: 100%;
    padding-bottom: 95px;
  }
}
@media (max-width: 1000px) {
  .page__map-wrapper {
    padding-bottom: 100px;
  }
}
@media (max-width: 500px) {
  .page__map-wrapper {
    position: relative;
    overflow-x: hidden;
    padding-bottom: calc(var(--map-scale) * var(--map-h) + 55px);
  }
}

.map {
  position: relative;
}
@media (max-width: 500px) {
  .map {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% * var(--map-scale));
  }
}
.map .map-svg {
  display: block;
  width: 100%;
  fill: var(--color-main-navy);
}
.map .btn-icon {
  /* 💩 twaking pixel-perfect 💩 */
  /* 💩 twaking pixel-perfect 💩 */
  /* 💩 twaking pixel-perfect 💩 */
}
.map .btn-icon--map-pin {
  position: absolute;
  transform-origin: center bottom;
  transform: translateX(-50%);
}
.map .btn-icon--eagle {
  bottom: 41%;
  left: 14.8%;
}
.map .btn-icon--alligator {
  bottom: 39.7%;
  left: 23.7%;
}
.map .btn-icon--lion {
  bottom: 34.6%;
  left: 44.1%;
}
.map .btn-icon--gorilla {
  bottom: 31.8%;
  left: 52.5%;
}
.map .btn-icon--lemur {
  bottom: 18.8%;
  left: 59.7%;
}
.map .btn-icon--panda {
  bottom: 45.8%;
  left: 71.1%;
}
.map .btn-icon--tiger {
  bottom: 28.2%;
  left: 75.6%;
}
.map .btn-icon--coala {
  bottom: 15.9%;
  left: 84.9%;
}
@media (max-width: 1200px) {
  .map .btn-icon--eagle {
    bottom: 41%;
    left: 14.8%;
  }
  .map .btn-icon--alligator {
    bottom: 38.8%;
    left: 24.5%;
  }
  .map .btn-icon--lion {
    bottom: 35.6%;
    left: 44.3%;
  }
  .map .btn-icon--gorilla {
    bottom: 32.1%;
    left: 52.8%;
  }
  .map .btn-icon--lemur {
    bottom: 19.2%;
    left: 60.3%;
  }
  .map .btn-icon--panda {
    bottom: 49.2%;
    left: 75.3%;
  }
  .map .btn-icon--tiger {
    bottom: 27.1%;
    left: 75.6%;
  }
  .map .btn-icon--coala {
    bottom: 16.4%;
    left: 84.9%;
  }
}
@media (max-width: 1000px) {
  .map .btn-icon {
    transform: translateX(-50%) scale(0.45);
  }
}
@media (max-width: 640px) {
  .map .btn-icon--eagle {
    bottom: 43.3%;
    left: 14.7%;
  }
  .map .btn-icon--alligator {
    bottom: 39.5%;
    left: 24.2%;
  }
  .map .btn-icon--lion {
    bottom: 34.6%;
    left: 44.8%;
  }
  .map .btn-icon--gorilla {
    bottom: 32%;
    left: 52.5%;
  }
  .map .btn-icon--lemur {
    bottom: 18.9%;
    left: 60%;
  }
  .map .btn-icon--panda {
    bottom: 47.8%;
    left: 75.4%;
  }
  .map .btn-icon--tiger {
    bottom: 26.6%;
    left: 75.8%;
  }
  .map .btn-icon--coala {
    bottom: 16.7%;
    left: 83.2%;
  }
}
@media (max-width: 500px) {
  .map .btn-icon {
    transform: translateX(-50%) scale(0.35);
  }
}
@media (max-width: 320px) {
  .map .btn-icon--eagle {
    bottom: 42.4%;
    left: 14.7%;
  }
  .map .btn-icon--alligator {
    bottom: 36.3%;
    left: 25.3%;
  }
  .map .btn-icon--lion {
    bottom: 34.6%;
    left: 45.7%;
  }
  .map .btn-icon--gorilla {
    bottom: 25.9%;
    left: 53.5%;
  }
  .map .btn-icon--lemur {
    bottom: 15.9%;
    left: 60.8%;
  }
  .map .btn-icon--panda {
    bottom: 42.2%;
    left: 72.5%;
  }
  .map .btn-icon--tiger {
    bottom: 23.6%;
    left: 77.6%;
  }
  .map .btn-icon--coala {
    bottom: 10.7%;
    left: 85.3%;
  }
}
