.link {
  --color-default: hsla(240, 100%, 75%, 1);
  --color-hover: hsla(240, 100%, 95%, 1);
  --color-active-default: hsla(240, 100%, 25%, 1);
  --color-active-hover: hsla(240, 100%, 05%, 1);
  --color: var(--color-default);

  text-decoration: none;
  transition: 200ms;
  
  color: var(--color);

  &:hover {
    --color: var(--color-hover);
  }

  &--active {
    --color: var(--color-active-default);

    &:hover {
      --color: var(--color-active-hover);
    }
  }
}
