/*
  ⚜️ DECOR HELPER-CLASSES ⚜️
*/

.decor-grad-border {
  border-image-slice: 1;
  border-image-source:
      linear-gradient(to left,
          var(--color-grad-3),
          var(--color-logo-def),
          var(--color-grad-3));
}

.decor-grad-background {
  --decor-fib-1: 5%;
  --decor-fib-2: 13%;
  --decor-fib-3: 26%;
  --decor-fib-4: 47%;
  --decor-fib-5: 81%;

  background-image:
    linear-gradient(var(--decor-grad-angle, 135deg),
        var(--color-grad-1) 0%                 var(--decor-fib-1),
        var(--color-grad-2) var(--decor-fib-1) var(--decor-fib-2),
        var(--color-grad-3) var(--decor-fib-2) var(--decor-fib-3),
        var(--color-grad-4) var(--decor-fib-3) var(--decor-fib-4),
        var(--color-grad-5) var(--decor-fib-4) var(--decor-fib-5),
        var(--color-grad-6) var(--decor-fib-5) 100%
    );

  animation: 10s linear infinite alternate rotate,
             10s linear infinite grad-move;
}

@property --decor-fib-1 { syntax: '<percentage>'; initial-value: 5%; inherits: false; }
@property --decor-fib-2 { syntax: '<percentage>'; initial-value: 13%; inherits: false; }
@property --decor-fib-3 { syntax: '<percentage>'; initial-value: 26%; inherits: false; }
@property --decor-fib-4 { syntax: '<percentage>'; initial-value: 47%; inherits: false; }
@property --decor-fib-5 { syntax: '<percentage>'; initial-value: 81%; inherits: false; }

@property --decor-grad-angle { syntax: '<angle>'; initial-value: 135deg; inherits: false; }

@keyframes rotate {
  from { --decor-grad-angle: 125deg; }
  50% { --decor-grad-angle: 135deg; }
  to { --decor-grad-angle: 145deg; }
}

@keyframes grad-move {
  0%   { --decor-fib-1: 5%; --decor-fib-2: 13%; --decor-fib-3: 26%; --decor-fib-4: 47%; --decor-fib-5: 81%; }
  5%   { --decor-fib-1: 9%; --decor-fib-2: 13%; --decor-fib-3: 26%; --decor-fib-4: 47%; --decor-fib-5: 81%; }
  13%  { --decor-fib-1: 5%; --decor-fib-2: 19%; --decor-fib-3: 26%; --decor-fib-4: 47%; --decor-fib-5: 81%; }
  26%  { --decor-fib-1: 5%; --decor-fib-2: 13%; --decor-fib-3: 36%; --decor-fib-4: 47%; --decor-fib-5: 81%; }
  47%  { --decor-fib-1: 5%; --decor-fib-2: 13%; --decor-fib-3: 26%; --decor-fib-4: 64%; --decor-fib-5: 81%; }
  81%  { --decor-fib-1: 5%; --decor-fib-2: 13%; --decor-fib-3: 26%; --decor-fib-4: 47%; --decor-fib-5: 100%; }
  100% { --decor-fib-1: 5%; --decor-fib-2: 13%; --decor-fib-3: 26%; --decor-fib-4: 47%; --decor-fib-5: 81%; }
}
