body {
  --color-main-bg: #999;
  --color-main-text: #333;
}

.header,
.footer {
  --end: #969696;
  --mid: #666;
  --grad: linear-gradient(to left, var(--end), var(--mid), var(--end));
}

.footer .logo-mask {
  --end: hsl(40, 100%, 35%);
  --mid: hsl(300, 100%, 35%);
  --grad: linear-gradient(var(--end), var(--mid), var(--end));
}

.btn {
  --color-def: hsl(0, 0%, 70%);
  --color-hov: hsl(0, 0%, 80%);
  --color-act: hsl(0, 0%, 90%);
  --color-act-def: hsl(30, 75%, 75%);
  --color-act-hov: hsl(30, 85%, 65%);
  --color-act-act: hsl(30, 95%, 55%);
}

.btn-icon {
  --color-def: rgba(0, 0, 0, 0.2);
  --color-hov: rgba(0, 0, 0, 0.3);
  --color-act: rgba(0, 0, 0, 0.5);
}
