.input-wrapper {
  --input-color: #fff;
  --input-bg-color: ##0002;
  --input-title-color: #0008;
  --input-placeholder-color: #fff8;
  --input-error-bg-color: hsla(var(--color-second-default), 0.75);
  --input-selection-bg-color: hsla(var(--color-second-default), 0.75);

  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px 20px;
  background-color: #0002;
  transition: all 500ms;
}

.error {
  background-color: var(--input-error-bg-color);
}

.title {
  display: block;
  text-transform: capitalize;
  color: var(--input-title-color);
  font-size: 12px;
}

.input {
  display: block;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
  color: var(--input-color);
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.input::selection {
  background-color: var(--input-selection-bg-color);
}
