-
  var animals = [
    {
      name: 'Lucas',
      kind: 'Giant Panda',
      img: {
        src: './assets/img/animal-panda.jpg',
        w: '455',
        h: '436',
      },
      camLink: './pages/zoos/panda.html',
      descr: [
        'Native to central China, giant pandas have come to symbolize vulnerable species.',
      ],
    },
    {
      name: 'Sam & Lora',
      kind: 'West End Bald Eagles',
      img: {
        src: './assets/img/animal-eagle.jpg',
        w: '455',
        h: '436',
      },
      camLink: './pages/zoos/eagle.html',
      descr: [
        'Pair of eagle parents lay and protect eggs, feed their chicks and teach them to hunt and fly.',
      ],
    },
    {
      name: 'Andy',
      kind: 'Madagascarian Lemur',
      img: {
        src: './assets/img/animal-lemur.jpg',
        w: '455',
        h: '436',
      },
      camLink: './pages/zoos/lemur.html',
      descr: [
        'Lemurs are considered the world’s most endangered group of mammals.',
      ],
    },
    {
      name: 'Liz',
      kind: 'Australian Koala',
      img: {
        src: './assets/img/animal-koala.jpg',
        w: '455',
        h: '436',
      },
      camLink: '#cam-koala',
      descr: [
        'The elevated walkways bring you to eye level with the koalas as they perch in their forest.',
      ],
    },
    {
      name: 'Glen',
      kind: 'Gorilla in Congo',
      img: {
        src: './assets/img/animal-gorilla.jpg',
        w: '455',
        h: '436',
      },
      camLink: './pages/zoos/gorilla.html',
      descr: [
        'Variety of snacks very important for the healthy life of gorillas and his plenty of babies',
      ],
    },
    {
      name: 'Shake',
      kind: 'African Lion',
      img: {
        src: './assets/img/animal-lion.jpg',
        w: '455',
        h: '436',
      },
      camLink: '#cam-lion',
      descr: [
        'Lions roam the savannas and grasslands of Africa, hunting and raising cubs in the pride.',
      ],
    },
    {
      name: 'Mike',
      kind: 'Chinese Alligator',
      img: {
        src: './assets/img/animal-alligator.jpg',
        w: '455',
        h: '436',
      },
      camLink: '#cam-alligator',
      descr: [
        'From nose to tail, belly to back, hard scales protect this petite alligator.',
      ],
    },
    {
      name: 'Senja',
      kind: 'Sumatran Tiger',
      img: {
        src: './assets/img/animal-tiger.jpg',
        w: '455',
        h: '436',
      },
      camLink: '#cam-tiger',
      descr: [
        'Sumatran Tigers are the smallest of the five sub-species, and are found in Indonesia.',
      ],
    },
  ];

  animals = animals.concat(animals, animals);


