-
  const dataFeedAnimals = getDataFeedAnimals();

  function getDataFeedAnimals() {
    return [
      {
        id: 'panda',
        name: 'Lucas',
        text: "Your $30 could give Lucas<br> a slice of panda cake, made with our secret recipe.",
        link: 'pages/zoos/panda.html',
        img: { link: 'assets/img/feed-panda.jpg' },
      },
      {
        id: 'tiger',
        name: 'Senja',
        text: "Your $150 will help to care for Senja,<br> a Sumatran tiger, for three weeks.",
        link: '#',
        img: { link: 'assets/img/feed-tiger.jpg' },
      },
      {
        id: 'lemur',
        name: 'Andy',
        text: "With your support, we can give Andy his favorite fruits. Especially when it's not fruit season in its natural habitat.",
        link: 'pages/zoos/lemur.html',
        img: { link: 'assets/img/feed-lemur.jpg' },
      },
      {
        id: 'eagles',
        name: 'Sam & Lora',
        text: "Sam & Lora have hatched and raised numerous young and will be happy with your help.",
        link: 'pages/zoos/eagle.html',
        img: { link: 'assets/img/feed-eagles.jpg' },
      },
    ];
  }
