-
  const dataTestimonials = [
      getData1Test().concat(getData2Test()),
      getData2Test().concat(getData1Test()),
    ];

  function getData1Test() {
    return [
      {
        name: 'Karen Maithlan',
        city: 'New Jersey',
        date: 'June 2020',
        text: "I am writing to thank you for your mission is to bring people closer to nature! Like myself, children were very impressed by the opportunity to explore the life of incredible animals in real-time.",
      },
      {
        name: 'Carol Larsen',
        city: 'Toronto',
        date: 'November 2020',
        text: "We so enjoy the ever-evolving selection of animals from around the globe. THANK YOU for sharing these fascinating animal friends with us so that we may learn and increase our understanding of the animal kingdom.",
      },
      {
        name: 'Kelley Melendez',
        city: 'Maryland',
        date: 'September 2020',
        text: "Online zoo is awesome! I was amazed at the quality of online zoo. Man, this thing is getting better and better as I learn more about it. I just can't get enough of online zoo. I want to get a T-Shirt with online zoo on it so I can show it off to everyone.",
      },
      {
        name: 'Magda Sabău',
        city: 'Suceava',
        date: 'July 2020',
        text: "I was amazed at the quality of online zoo. I would be lost without online zoo. Online zoo is the real deal! Nice work on your online zoo.",
      },
      {
        name: 'Sjef Boelens',
        city: 'Saba',
        date: 'Marth 2020',
        text: "Online zoo has got everything I need. No matter where you go, online zoo is the coolest, most happening thing around!",
      },
      {
        name: 'Arrigo Carboni',
        city: 'Napoli',
        date: 'January 2020',
        text: "Online zoo has got everything I need. I would like to personally thank you for your outstanding product. I'm good to go.",
      },
    ];
  }

  function getData2Test() {
    return [
      {
        name: 'C. Stockman',
        city: 'London',
        date: 'February 2020',
        text: "A fantastic experience for kids and adults alike! If anyone is looking for an attraction that educates people on wild animals –<br> it's for you! I highly recommend seeing for yourself the variety of animals on your screen.",
      },
      {
        name: 'Tomas Ray',
        city: 'Amsterdam',
        date: 'June 2020',
        text: "I want to thank you for the amazing sites you find to put your cameras to let each of us see things that we would probably never see on our own. There are so many positives on Zoo Online and I'm grateful for it. Thank you so much!",
      },
      {
        name: 'Alfio Marano',
        city: 'Parma',
        date: 'December  2020',
        text: "It's exactly what I've been looking for. If you aren't sure, always go for online zoo.",
      },
      {
        name: 'Margaret Carter',
        city: 'Place de la Gare',
        date: ' 2020',
        text: "I don't always clop, but when I do, it's because of online zoo. I would be lost without online zoo.",
      },
      {
        name: 'Hanna-Mari Saarinen',
        city: 'Kaavi',
        date: 'August 2020',
        text: "The service was excellent. Online zoo impressed me on multiple levels. Dude, your stuff is the bomb! We have no regrets!",
      },
      {
        name: 'Roger Svantesson',
        city: 'Gävleborg',
        date: 'April 2020',
        text: "You guys rock! Keep up the excellent work.",
      },
    ];
  }
