-
  var donates = [
    {
      animal: {
        name: "Lucas",
        kind: "panda",
        imgSrc: "./assets/img/donate_card--panda.jpg",
        pageLink: "./pages/zoos/panda.html"
      },
      text: [
        "Your $30 could give Lucas",
        "a slice of panda cake, made with our secret recipe."
      ],
    },
    {
      animal: {
        name: "Senja",
        kind: "tiger",
        imgSrc: "./assets/img/donate_card--tiger.jpg",
        pageLink: "#pages/zoos/tiger"
      },
      text: [
        "Your $150 will help to care for Senja,",
        "a Sumatran tiger, for three weeks."
      ],
    },
    {
      animal: {
        name: "Andy",
        kind: "lemur",
        imgSrc: "./assets/img/donate_card--lemur.jpg",
        pageLink: "./pages/zoos/lemur.html"
      },
      text: [
        "With your support, we can give Andy his favorite fruits. Especially when it's not fruit season in its natural habitat."
      ]
    },
    {
      animal: {
        name: "Sam & Lora",
        kind: "eagles",
        imgSrc: "./assets/img/donate_card--eagles.jpg",
        pageLink: "./pages/zoos/eagle.html"
      },
      text: [
        "Sam & Lora have hatched and raised numerous young and will be happy with your help."
      ]
    },
  ];

