@use '../_lib/css-var' as *;

.footer {
  @include set-vars((
    h-top: 214px,
  ));

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer__top { height: use-var(h-top); }
  .footer__bottom { flex-grow: 1; }

  width: 100%;
  @include use-vars((
    height: h-footer,
    background-color: color-primary-navy,
    color: color-primary-white,
  ));

  .footer__top {
    display: flex;
    align-items: center;
    column-gap: 100px;
    width: 100%;
    border-bottom: 1px solid use-var(color-primary-white);
  }
  .nav-menu { flex-grow: 1; }

  .logo__items {
    display: flex;
    column-gap: 65px;
    align-items: center;
  }

  .nav-menu {
    &__self {
      color: use-var(color-primary-cyan);
    }

    &__link {
      color: use-var(color-primary-white);
      &:hover { color: use-var(color-primary-orange); }
    }
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright__items {
    display: flex;
    column-gap: 50px;
  }

  .copyright__item::before {
    content: '© ';
  }

  .social-media {
    &__items {
      column-gap: 40px;
    }
  }
}
