@use '../_lib/css-var' as *;

.header {
  width: 100%;
  @include use-vars((
    height: h-header,
    background-color: color-primary-orange,
  ));

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .nav-menu { margin-left: auto; }
  .social-media { margin-left: 65px; }

  .logo-main__use { color: use-var(color-primary-black); }

  .nav-menu {
    &__items {
    @include use-vars((
        width: w-col-5,
      ));
    }

    &__self {
      color: use-var(color-primary-cyan);
    }

    &__link {
      color: use-var(color-primary-black);
      &:hover { color: use-var(color-primary-white); }
    }
  }

  .social-media {
    &__items {
      column-gap: 30px;
    }
  }
}
