.hero {
  background-color: var(--color-primary-white);
  background-image: url("../../assets/bg/about-intro.jpg");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 37px);
  background-position-y: -42px;
}
