@use '../_mixin/font';

.hero {
  background-color: var(--color-primary-white);
  background-image: url("../../assets/bg/about-intro.jpg");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 37px);
  background-position-y: -42px;
}

.hero__header {
  width: var(--w-col-8);
  padding-top: 129px;
  padding-bottom: 31px;

  @include font.h1;
}

.hero__descr {
  width: calc(var(--w-col-4) - var(--w-gap) / 2);
  padding-bottom: 44px;
}
