@use '../_mixin/font';

.intro-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
  padding: 150px 0;
}

.intro__section {
  display: flex;
  gap: var(--w-gap);
  align-items: center;
}

.intro__section:nth-child(2n) {
  flex-direction: row-reverse;
}

.intro__title {
  @include font.h2;
  padding-bottom: 50px;
}

.intro__pict {
  display: block;
  width: var(--w-col-7);
}


/* 💩 pixel-perfect tweaking 💩 */
.intro__section:nth-child(1) .intro__text {
  padding-bottom: 23px;
}
