@use '../_mixin/font';

.testimonials {
  --h: 1776px;
  --p-t: 100px;
  --p-b: 150px;
}

.testimonials {
  height: var(--h);
  overflow: hidden;

  background-color: var(--color-primary-navy);
  background-image: url('../../assets/bg/about-testimonials.jpg');
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) 0px;

  color: var(--color-primary-white);
}

.testimonials .wrapper {
  display: grid;
  grid-template-columns: var(--w-col-5) auto;
  column-gap: var(--w-gap);

  padding-top: var(--p-t);
  padding-bottom: var(--p-b);
}

.testimonials .info {
  display: flex;
  flex-direction: column;
  height: calc(var(--h) - var(--p-t) - var(--p-b));
}
.testimonials .info__title {
  @include font.h2;
  color: var(--color-primary-white);
  padding-right: var(--w-colgap);
  padding-bottom: 38px;
}
.testimonials .info__text {
  @include font.h-sub;
  color: var(--color-primary-white);
  margin-bottom: auto;
}

.testimonials .slider__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.testimonials .slider__slots {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.testimonials .slider__controls {
  padding-top: 60px;
}
