.nav-menu {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 0 0;
}

.nav-items {
  display: flex;
}

.nav-item {
  display: block;
  height: 100%;
}

.nav-link {
  --color-default: var(--color-white-default);
  --color-hover: var(--color-white-light);
  --color-active-default: var(--color-white-light);
  --color-active-hover: var(--color-white-light);

  --color-background-default: hsla(var(--color-first-dark), 0);
  --color-background-hover: hsla(var(--color-first-dark), 0.2);
  --color-background-active-default: hsla(var(--color-second-default), 1);
  --color-background-active-hover: hsla(var(--color-second-default), 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  padding: 10px 20px;

  font-size: 16px;
  text-transform: capitalize;
}

.svg-icon {
  order: -1;
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--link-color);
  transition: var(--link-transition);
}
