@import "./modern-normalize.css";
@import "./fonts.css";
@import "./colors.css";


button, input[type="submit"] { cursor: pointer; }


/*******************************************************************************
  Layout
*******************************************************************************/

.page {
  --w-page:   1440px;
  --h-header: 780px;
  --h-footer: 360px;

  display: grid;
  grid-template-rows:
    var(--h-header)
    minmax(calc(100vh - var(--h-header) - var(--h-footer)), auto)
    var(--h-footer);
  grid-template-areas:
    "head"
    "main"
    "foot";
}

.layout-head { grid-area: head; }
.layout-main { grid-area: main; }
.layout-foot { grid-area: foot; }

.layout-wrapper {
  width: var(--w-page);
  height: 100%;
  margin: 0 auto;
  padding: 0 120px;
}


/*******************************************************************************
  Backgrounds
*******************************************************************************/

.page {
  --img-bg-header: url(../img/bg-page-header.jpg);
  --img-bg-footer: url(../img/bg-page-footer.jpg);
}

.layout-main {
  background-color: var(--color-bg-main);
}

.layout-head {
  background-color: var(--color-bg-header);
  background-image:
    var(--img-bg-header),
    linear-gradient(to left, var(--color-bg-header), transparent, var(--color-bg-header)),
    var(--img-bg-header);
}

.layout-foot {
  background-color: var(--color-bg-footer);
  background-image:
    var(--img-bg-footer),
    linear-gradient(to left, var(--color-bg-footer), transparent, var(--color-bg-footer)),
    var(--img-bg-footer);
}

.layout-bg {
  background-size: contain, auto, cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*******************************************************************************
  Logo
*******************************************************************************/

.logo {
  --w-logo: 240px;
  --h-logo: 60px;
  --w-logo-img: 70px;
  display: inline-block;
  text-decoration: none;
}

.logo__box {
  display: block;
  width: var(--w-logo);
  margin: 0;
  padding-left: calc(var(--w-logo-img) + 15px);
  background-image: url(../img/logo.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: var(--w-logo-img) var(--h-logo);
  color: var(--color-font-light);
}


/*******************************************************************************
  section [layout-head]
*******************************************************************************/

.layout-head .layout-wrapper {
  padding-top: 19px;
}

/* block {Header} */

.header {
  display: flex;
  justify-content: space-between;
}

.header__menu ul {
  list-style: none;
  width: 480px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu a {
  color: var(--color-font-light);
  text-decoration: none;
}

.header__menu button {
  padding: 0;
  color: var(--color-font-light);
  background-color: transparent;
}

.header__menu .btn-search {
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 75% 75%;
}

.header__menu .btn-sign-in {
  width: 120px;
  height: 50px;
  border: 2px solid var(--color-orange-main);
  border-radius: 5px;
}

/* block {Survival} */

.header__article {
  --w-text: 274px;
  padding-top: 120px;
  width: var(--w-text);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.header__article h2 {
  margin: 0;
  color: var(--color-orange-main);
  letter-spacing: 2px;
}

.header__article p {
  margin: 0;
  color: var(--color-font-light);
}

.header__article .btn-donate {
  width: 160px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: var(--color-orange-main);
  color: var(--color-font-light);
}


/*******************************************************************************
  section [layout-foot]
*******************************************************************************/

.footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 120px;
  align-items: center;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between
}

.footer__menu a {
  color: var(--color-font-light);
  text-decoration: none;
  padding-right: 5px;
}

.social-links {
  width: 240px;
}

.social-links .icon {
  display: block;
  width: 40px;
  height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-links .icon--fb { background-image: url(../img/icon-fb.svg); }
.social-links .icon--ig { background-image: url(../img/icon-ig.svg); }
.social-links .icon--pt { background-image: url(../img/icon-pt.svg); }
.social-links .icon--tg { background-image: url(../img/icon-tg.svg); }


/*******************************************************************************
  section [layout-main]
*******************************************************************************/

.layout-main .layout-wrapper {
  padding-top: 120px;
}

.layout-main .layout-box {
  padding-bottom: 240px;
}

/* block {Latest articles}*/

.main__title {
  padding-bottom: 120px;
  text-align: center;
}

.main__title h2,
.main__title h3 {
  margin: 0;
}

.main__title h2 {
  margin-bottom: 19px;
  color: var(--color-font-dark);
}

.main__title h3 {
  color: var(--color-font-gray);
}

/* block {Latest articles}: Carousel */

.carousel {
  --h-item: 360px;
  --w-item: 300px;
  --h-btn: 70px;
  --w-btn: 30px;
}

.carousel .carousel__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: var(--h-item);
  grid-template-columns: var(--w-btn) repeat(3, var(--w-item)) var(--w-btn);
  grid-template-areas: "prev c1 c2 c3 next";
  justify-content: space-between;
}
.carousel .control-prev { grid-area: prev; }
.carousel .control-next { grid-area: next; }
.carousel .card:nth-of-type(0) { grid-area: c1; }
.carousel .card:nth-of-type(1) { grid-area: c2; }
.carousel .card:nth-of-type(2) { grid-area: c3; }

.carousel .control {
  padding: calc((var(--h-item) - var(--h-btn)) / 2) 0;
}

.carousel .btn {
  width: var(--w-btn);
  height: var(--h-btn);
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 2px 18px;
  background-size: 26px 39px;
}

.carousel .btn-prev { background-image: url(../img/icon-control-arrow-left.svg); }
.carousel .btn-next { background-image: url(../img/icon-control-arrow-right.svg); }

.carousel .card {
  position: relative;
  color: var(--color-font-light);
}

.carousel .card-bg,
.carousel .card-description {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel .card-description > * {
  margin: 0;
}

.carousel .card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 12px;
  padding: 40px;
}

/* block {Get notified} */

.notify__title {
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
  color: var(--color-font-dark);
}

.contol__email {
  --w-input: 540px;
  --w-btn:   122px;

  display: flex;
  justify-content: center;
}

.contol__email input {
  height: 60px;
  margin: 0;
  border: none;
  outline: none;
}

.contol__email .email-input {
  width: calc(var(--w-input) + var(--w-btn));
  padding-left: 15px;
  padding-right: 15px + var(--w-btn);
  border-radius: 2px 5px 2px 2px;
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px var(--color-font-gray);
}
.contol__email .email-input:focus {
  box-shadow: 0px 0px 0px 1px var(--color-font-dark);
}

.contol__email .btn-submit {
  width: var(--w-btn);
  margin-left: calc(-1 * var(--w-btn));
  border-radius: 2px 5px 2px 5px;
  background-color: var(--color-orange-main);
  color: var(--color-font-light);
}
