:global .btn {
  --color-default: var(--color-white-default);
  --color-hover: var(--color-white-light);
  --color-active-default: var(--color-white-default);
  --color-active-hover: var(--color-white-light);
  --btn-color: var(--color-default);

  --color-background-default: hsla(var(--color-second-default), 0.75);
  --color-background-hover: hsla(var(--color-second-default), 1);
  --color-background-active-default: hsla(var(--color-first-dark), 0.75);
  --color-background-active-hover: hsla(var(--color-first-dark), 1);
  --btn-color-background: var(--color-background-default);

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: 300ms;

  color: var(--btn-color);
  background-color: var(--btn-color-background);

  &--invert {
    color: var(--btn-color-background);
    background-color: var(--btn-color);
  }

  &:hover {
    --btn-color: var(--color-hover);
    --btn-color-background: var(--color-background-hover);
  }

  &--active {
    --btn-color: var(--color-active-default);
    --btn-color-background: var(--color-background-active-default);

    &:hover {
      --btn-color: var(--color-active-hover);
      --btn-color-background: var(--color-background-active-hover);
    }
  }
}
