:global .btn {
  --color-default: hsla(240, 100%, 75%, 1);
  --color-hover: hsla(240, 100%, 95%, 1);
  --color-active-default: hsla(240, 100%, 25%, 1);
  --color-active-hover: hsla(240, 100%, 05%, 1);
  --color: var(--color-default);

  --color-background-default: hsla(30, 100%, 75%, 1);
  --color-background-hover: hsla(30, 100%, 50%, 1);
  --color-background-active-default: hsla(30, 100%, 50%, 1);
  --color-background-active-hover: hsla(30, 100%, 25%, 1);
  --color-background: var(--color-background-default);

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: 300ms;

  color: var(--color);
  background-color: var(--color-background);

  &:hover {
    --color: var(--color-hover);
    --color-background: var(--color-background-hover);
  }

  &--active {
    --color: var(--color-active-default);
    --color-background: var(--color-background-active-default);

    &:hover {
      --color: var(--color-active-hover);
      --color-background: var(--color-background-active-hover);
    }
  }
}
