.info
  h3.info__title= "Your donation makes a difference!"
  p.info__text= "The Online Zoo's animal webcams are some of the most famous on the internet. Tune in to watch your favourite animals — live, 24/7!"

.quick
  .quick__title= "Quick Donate"
  .quick__input
    form(action="#", method="post")
      input(type="number", name="donation-amount", placeholder="donation amount")
      button.btn-submit(type="submit")
