include ../_mixin/_button.pug

h2.hero__header= "Watch your favorite animal online"

p.hero__descr= "Explore the exciting and mysterious world of wild animals in a natural setting without leaving your home."

+btn('button', 'view live cam', 'orange')
