h2.hero__header= "Watch your favorite animal online"

p.hero__descr= "Explore the exciting and mysterious world of wild animals in a natural setting without leaving your home."

a.btn(href = "#pages/zoos/panda")= "VIEW LIVE CAM"
