include ../_mixin/_slider.pug
include ../_mixin/_button.pug
include ../_mixin/_control-arrows.pug
include ../_mixin/_animal-card.pug
include ../_content/_animals.pug

section.info
  h2.info__title= "meet some our Pets"
  p.info__text= "Do you have a special place in your heart for animals? Who are your favorites? Perhaps you'd like to donate to special ones or all our pets? We think it's important for you to choose how your donation is used."

.slider
  .slider__controls
    +control-arrows('button', 'navy')
  +gen-slider('animal-card', animals, 2)

.btn-container
  +btn('a', 'choose your favourite', 'navy', 'long')
