include ../_mixin/_control-donation.pug

.quick-donation__info
  h3.quick-donation__info-title= "Your donation makes a difference!"
  p.quick-donation__info-text= "The Online Zoo's animal webcams are some of the most famous on the internet. Tune in to watch your favourite animals — live, 24/7!"

.quick-donation__action
  .quick-donation__action-title= "Quick Donate"
  .quick-donation__action-input
    +control-donation
