include ../_mixin/_button.pug
include ../_mixin/_control-arrows.pug
include ../_mixin/_testimonial-card.pug
include ../_content/_testimonials.pug


section.info
  h2.info__title= "what our users think"
  p.info__text= "We are continuously striving to improve the experiences of our future guests. Below you can leave your own feedback, or simply view feedback from past clients."
  .btn-container
    +btn('a', 'leave feedback', 'white', 'long')

.slider
  .slider__wrapper
    ul.slider__slots.slider__slots--row1
      each data in testimonials1
        li.slider__slot
          +testimonial-card('slider__card', data)
    ul.slider__slots.slider__slots--row2
      each data in testimonials2
        li.slider__slot
          +testimonial-card('slider__card', data)
  .slider__controls
    +control-arrows('button', 'white')
