.btns {
  background-color: #333;
}

.btns-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px var(--w-colgap);
}

.map-tags-cont {
  display: flex;
  justify-content: space-between;
  padding: 10px var(--w-colgap);

  .btns-cont {
    flex-direction: column;
    padding: 0;
  }
}
