include ./_logo.pug
include ./_nav-menu.pug
include ./_button.pug
include ./_social-media-links.pug

mixin footer(page)
  .footer__top
    ul.logo__items
      each id in ['main', 'yem-digital', 'rs-school-js']
        li.logo__item
          +logo(id)
    +nav-menu(page)
    +btn('button', 'donate for volunteers', 'white', 'long')

  .footer__bottom
    ul.copyright__items
      each item in ['2021 DinaK', 'Yem Digital', 'RSSchool']
        li.copyright__item= item
    +social-media-links()
