.timer {
  --timer-color-main: 240deg, 100%;
  --timer-color-second: 0deg, 100%;

  --box-color-background: hsla(var(--timer-color-main), 20%, 0.1);
  --splitter-color-text: hsla(var(--timer-color-main), 5%, 0.5);
  --seconds-color-text: hsla(var(--timer-color-main), 10%, 1);
  --minutes-color-text: hsla(var(--timer-color-main), 20%, 1);
  --hours-color-text: hsla(var(--timer-color-main), 30%, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  &--countdown {
    --box-color-background: hsla(var(--timer-color-second), 100%, 0.5);
    --splitter-color-text: hsla(var(--timer-color-second), 50%, 0.5);
    --seconds-color-text: hsla(var(--timer-color-second), 40%, 1);
    --minutes-color-text: hsla(var(--timer-color-second), 30%, 1);
    --hours-color-text: hsla(var(--timer-color-second), 20%, 1);
  }

  &--stop {
    --box-color-background: hsla(120deg, 100%, 20%, 0.5);
    --splitter-color-text: hsla(var(--timer-color-main), 95%, 0.5);
    --seconds-color-text: hsla(var(--timer-color-main), 90%, 1);
    --minutes-color-text: hsla(var(--timer-color-main), 85%, 1);
    --hours-color-text: hsla(var(--timer-color-main), 80%, 1);
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: var(--box-color-background);
    box-shadow: inset 0 0 10px 5px var(--box-color-background);
    transition: all 500ms;
  }

  &__output {
    font-family: 'Fira Mono', monospace;
    font-size: 40px;

    &--splitter {
      color: var(--splitter-color-text);
    }

    &--seconds {
      color: var(--seconds-color-text);
    }

    &--minutes {
      color: var(--minutes-color-text);
    }

    &--hours {
      color: var(--hours-color-text);
    }
  }
}
