:root {
  --color-main-dark: hsl(0deg, 0%, 0%);
  --color-main-light: hsl(0deg, 0% ,100%);
  --color-main-navy: hsl(260deg, 56%, 15%);
  --color-ui-1-def: hsl(27deg, 91%, 55%);
  --color-ui-1-hov: hsl(27deg, 96%, 42%);
  --color-ui-2-def: hsl(175deg, 100%, 31%);
  --color-ui-2-off: hsl(175deg, 45%, 61%);
  --color-ui-2-hov: hsl(175deg, 92%, 24%);
}
