@charset "UTF-8";
/*
   🏗️ 🏗️ 🏗️ 🏗️
  🏗️  LAYOUT  🏗️
   🏗️ 🏗️ 🏗️ 🏗️
*/
.page {
  --page-h-header: 110px;
  --page-h-footer: 329px;
  --page-w-max: 1400px;
  --page-w-off: 0px;
  --page-w-gap: 40px;
  --page-cols: 12;
  --page-w: calc(var(--page-w-max) - 2 * var(--page-w-off));
  --page-w-gaps: calc((var(--page-cols) - 1) * var(--page-w-gap));
  --page-w-col: calc((var(--page-w) - var(--page-w-gaps)) / var(--page-cols));
}
@media screen and (max-width: 1500px) {
  .page {
    --page-h-footer: 329px;
  }
}
@media screen and (max-width: 1000px) {
  .page {
    --page-h-footer: 545px;
  }
}
@media screen and (max-width: 500px) {
  .page {
    --page-h-footer: 710px;
  }
}
@media screen and (max-width: 1200px) {
  .page {
    --page-h-header: 110px;
  }
}
@media screen and (max-width: 640px) {
  .page {
    --page-h-header: 110px;
  }
}
@media screen and (max-width: 320px) {
  .page {
    --page-h-header: 110px;
  }
}
@media screen and (max-width: 1500px) {
  .page {
    --page-w-off: 40px;
    --page-w-gap: 20px;
    --page-cols: 12;
    --page-w-max: 100vw;
  }
}
@media screen and (max-width: 1000px) {
  .page {
    --page-w-off: 20px;
    --page-w-gap: 20px;
    --page-cols: 8;
  }
}
@media screen and (max-width: 600px) {
  .page {
    --page-w-off: 20px;
    --page-w-gap: 20px;
    --page-cols: 4;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: var(--page-h-header) 1fr minmax(var(--page-h-footer), auto);
}

.page__block-wrapper {
  max-width: var(--page-w);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.layout-page {
  position: relative;
  height: 100%;
}

.dev-overlay {
  top: 0;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.dev-grid {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: repeat(var(--page-cols), 1fr);
  grid-template-rows: 1fr;
  column-gap: var(--page-w-gap);
  max-width: var(--page-w);
}

.dev-col {
  position: relative;
  opacity: 0.2;
  background: #0008;
  overflow-x: hidden;
}

.dev-cell {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 80px;
  line-height: 100px;
  text-align: center;
}
.dev-cell:nth-child(1) {
  top: 0;
}
.dev-cell:nth-child(2) {
  bottom: 0;
}

.dev-pixelperfect {
  position: absolute;
  z-index: 2;
  height: var(--h-dev-overlay);
  background-image: url("../assets/pp/1920/first-page.jpg");
  background-size: 1920px 100%;
  opacity: 0.5;
  filter: invert(1);
}

/*
  🧱 ELEMENT: SVG-ICON 🧱
*/
.svg-icon {
  display: block;
  width: var(--w-svg-icon, auto);
  height: var(--h-svg-icon, auto);
  transition: 100ms;
}

.svg-icon--online-zoo {
  --w-svg-icon: 96px;
  --h-svg-icon: 50px;
}
.svg-icon--yem-digital {
  --w-svg-icon: 50px;
  --h-svg-icon: 50px;
}
.svg-icon--rs-school-js {
  --w-svg-icon: 138px;
  --h-svg-icon: 51px;
}
.svg-icon--youtube, .svg-icon--instagram, .svg-icon--facebook {
  --w-svg-icon: 40px;
  --h-svg-icon: 40px;
}
.svg-icon--arrow-to-left, .svg-icon--arrow-to-right {
  --w-svg-icon: 25px;
  --h-svg-icon: 22px;
}
.svg-icon--live-cam {
  --w-svg-icon: 18px;
  --h-svg-icon: 18px;
}
.svg-icon--icon-expand {
  --w-svg-icon: 16px;
  --h-svg-icon: 15px;
}
.svg-icon--icon-scroll-down {
  --w-svg-icon: 15px;
  --h-svg-icon: 19px;
}
.svg-icon--icon-hamburger {
  --w-svg-icon: 30px;
  --h-svg-icon: 30px;
}
.svg-icon--heart-in-hands {
  --w-svg-icon: 106px;
  --h-svg-icon: 80px;
}
.svg-icon--donate-box {
  --w-svg-icon: 100px;
  --h-svg-icon: 80px;
}
.svg-icon--food-box {
  --w-svg-icon: 80px;
  --h-svg-icon: 80px;
}
.svg-icon--map-pin {
  --w-svg-icon: 100px;
  --h-svg-icon: 144px;
}

/*
  🧱 ELEMENT: LINK 🧱
*/
.link {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  color: var(--color-link-def, var(--color-ui-1-def));
}
.link:hover {
  color: var(--color-link-hov, var(--color-ui-1-hov));
}

.link.link--not-active {
  cursor: default;
  color: var(--color-link--not-active, var(--color-ui-2-def));
}
.link.link--not-active:hover {
  color: var(--color-link--not-active);
}

/*
  🧱 ELEMENT: BUTTON 🧱
*/
.btn {
  --time: 300ms;
  --btn-self-w-meddium: var(--btn-w-meddium, 240px);
  --btn-self-w-large: var(--btn-w-large, 360px);
  --btn-self-w-small: var(--btn-w-small, min-content);
  --btn-self-h: var(--btn-h, 74px);
  --btn-self-padd-w: var(--btn-padd-w, 26px);
}
@media screen and (max-width: 800px) {
  .btn {
    --btn-self-w-meddium: var(--btn-w-meddium, 285px);
  }
}
@media screen and (max-width: 500px) {
  .btn {
    --btn-self-w-meddium: var(--btn-w-meddium, 100%);
    --btn-self-w-large: var(--btn-w-large, 100%);
    --btn-self-w-small: var(--btn-w-small, 100%);
    --btn-self-h: var(--btn-h, 45px);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: min-content;
  height: var(--btn-self-h);
  margin: 0;
  padding: 0 var(--btn-self-padd-w);
  border: none;
  border-radius: 5px;
  outline: none;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.btn--not-active {
  cursor: default;
}

.btn {
  width: var(--btn-self-w-meddium);
}
.btn--long {
  width: var(--btn-self-w-large);
}
.btn--free {
  width: var(--btn-self-w-small);
}

.btn {
  transition: background-color var(--time), color var(--time), fill var(--time);
}

.btn {
  background-color: var(--color-ui-1-def);
}
.btn:hover {
  background-color: var(--color-ui-1-hov);
}
.btn--orange {
  background-color: var(--color-ui-1-def);
}
.btn--orange:hover {
  background-color: var(--color-ui-1-hov);
}
.btn--cyan.btn--active {
  background-color: var(--color-ui-2-def);
}
.btn--cyan {
  background-color: var(--color-ui-2-off);
}
.btn--cyan:hover {
  background-color: var(--color-ui-2-hov);
}
.btn--navy {
  border: 1px solid var(--color-main-navy);
}
.btn--navy {
  background-color: transparent;
}
.btn--navy:hover {
  background-color: var(--color-main-navy);
}
.btn--white {
  border: 1px solid var(--color-main-light);
}
.btn--white {
  background-color: transparent;
}
.btn--white:hover {
  background-color: var(--color-ui-2-def);
}
.btn--text {
  background-color: transparent;
}
.btn--text:hover {
  background-color: var(--color-ui-1-def);
}

.btn {
  color: var(--color-main-light);
}
.btn--navy {
  color: var(--color-main-navy);
}
.btn--navy:hover {
  color: var(--color-main-light);
}
.btn--text {
  color: var(--color-ui-1-def);
}
.btn--text:hover {
  color: var(--color-main-light);
}

.btn {
  fill: var(--color-main-light);
}
.btn .svg-icon {
  width: 25px;
  height: 22px;
}
.btn--navy {
  fill: var(--color-main-navy);
}
.btn--navy:hover {
  fill: var(--color-main-light);
}
.btn--text {
  fill: var(--color-ui-1-def);
}
.btn--text:hover {
  fill: var(--color-main-light);
}

/*
  🧱 ELEMENT: BUTTON-ICON 🧱
*/
.btn-icon {
  --time: 333ms;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--w-btn-icon, auto);
  height: var(--h-btn-icon, auto);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--color-btn-def, transparent);
  fill: var(--color-icon-def, #f00);
  transition: var(--time) ease-in-out;
  cursor: pointer;
  user-select: none;
}
.btn-icon:hover {
  background-color: var(--color-btn-hov, transparent);
  fill: var(--color-icon-hov, #f00);
}
.btn-icon--not-active {
  cursor: default;
  --color-icon-hov: var(--color-icon-def);
}

.btn-icon--map-pin {
  --color-icon-def: var(--color-ui-1-def);
  --color-icon-hov: var(--color-main-light);
  cursor: default;
  pointer-events: none;
  color: transparent;
  filter: drop-shadow(0px 4px 30px var(--color-icon-def));
}
.btn-icon--map-pin:not(.btn-link) {
  --color-icon-hov: var(--color-icon-def);
}
.btn-icon--map-pin.btn-link {
  cursor: pointer;
}
.btn-icon--map-pin.btn-link:hover {
  color: var(--color-icon-hov);
  filter: drop-shadow(0px 4px 30px var(--color-icon-hov));
}
.btn-icon--map-pin .svg-icon__use {
  pointer-events: all;
}
.btn-icon--map-pin .svg-icon--map-icon {
  --w-svg-icon: var(--w);
  --h-svg-icon: var(--h);
  position: absolute;
  left: var(--x);
  top: var(--y);
  fill: var(--color-main-navy);
}
.btn-icon--map-pin .svg-icon--icon-tiger {
  --w: 62.6px;
  --h: 52.61px;
  --x: 18.6px;
  --y: 20.4px;
}
.btn-icon--map-pin .svg-icon--icon-lion {
  --w: 52.04px;
  --h: 46.7px;
  --x: 23.26px;
  --y: 24.13px;
}
.btn-icon--map-pin .svg-icon--icon-eagle {
  --w: 48.16px;
  --h: 46.7px;
  --x: 25.58px;
  --y: 26.46px;
}
.btn-icon--map-pin .svg-icon--icon-alligator {
  --w: 57.76px;
  --h: 46.7px;
  --x: 20.93px;
  --y: 22.57px;
}
.btn-icon--map-pin .svg-icon--icon-lemur {
  --w: 33px;
  --h: 56px;
  --x: 33px;
  --y: 24px;
}
.btn-icon--map-pin .svg-icon--icon-panda {
  --w: 58.91px;
  --h: 43.59px;
  --x: 20.16px;
  --y: 23.77px;
}
.btn-icon--map-pin .svg-icon--icon-coala {
  --w: 42.64px;
  --h: 53.92px;
  --x: 27.91px;
  --y: 21.79px;
}
.btn-icon--map-pin .svg-icon--icon-gorilla {
  --w: 54.86px;
  --h: 46.7px;
  --x: 22.48px;
  --y: 22.57px;
}

/*
  🧱 ELEMENT: INPUT 🧱
*/
.input {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.input__descr {
  display: flex;
  column-gap: 5px;
}
.input__descr-msg {
  text-transform: capitalize;
}
.input__required {
  color: var(--color-ui-1-def);
}
.input__error {
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  display: none;
  width: 90%;
  background-color: #fff;
  color: var(--color-ui-1-def);
  filter: drop-shadow(0 0 1px #000);
}
.input__error::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(0% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  border-width: 0 10px 10px;
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: solid;
}
.input__base {
  padding: 16px 20px;
  border: 1px solid var(--color-main-dark);
  border-radius: 5px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--normal-text);
  font-size: var(--font-size--normal-text);
  line-height: var(--line-height--normal-text);
  /* 🔼🔠🔼 */
}
.input__base::placeholder {
  color: #969696;
}
@media (max-width: 500px) {
  .input__base {
    padding: 8px 10px;
  }
}

.input--error .input__error {
  display: block;
}
.input--error .input__base {
  background: rgba(245, 128, 33, 0.2);
  border: 1px solid var(--color-ui-1-def);
}

/*
  🧱 ELEMENT: LOGO 🧱
*/
.logo {
  display: block;
}

.logo-link {
  color: var(--color-logo-def);
  transform: scale(1);
  transition: 200ms ease-in-out;
}
.logo-link:hover {
  color: var(--color-logo-hov);
  transform: scale(1.05);
}

/*
  🧱 ELEMENT: NAV-MENU 🧱
*/
.nav-menu {
  --⚙️--nav-menu-flex-dir: var(--nav-menu-flex-dir, row);
  --⚙️--nav-menu-justify-content: var(--nav-menu-justify-content, space-between);
  --⚙️--nav-menu-align-items: var(--nav-menu-align-items, flex-start);
  --⚙️--nav-menu-column-gap: var(--nav-menu-column-gap, 10px);
  --⚙️--nav-menu-row-gap: var(--nav-menu-row-gap, 10px);
}
.nav-menu__items {
  width: 100%;
  display: flex;
  flex-direction: var(--⚙️--nav-menu-flex-dir);
  justify-content: var(--⚙️--nav-menu-justify-content);
  align-items: var(--⚙️--nav-menu-align-items);
  column-gap: var(--⚙️--nav-menu-column-gap);
  row-gap: var(--⚙️--nav-menu-row-gap);
}

/*
  🧱 ELEMENT: SOCIAL-MEDIA-LINKS 🧱
*/
.social-media__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.social-media__link-icon {
  display: block;
  color: var(--color-main-light);
  fill: #c03584;
  transform: scale(1);
  transition: 200ms ease-in-out;
}
.social-media__link-icon:hover {
  fill: var(--color-main-navy);
  transform: scale(1.05);
}
.social-media__link-icon--youtube {
  fill: red;
}
.social-media__link-icon {
  pointer-events: none;
}
.social-media .svg-icon__use {
  pointer-events: fill;
}

/*
  🧱 ELEMENT: CONTROL-ARROWS 🧱
*/
.control-arrows {
  --w-btn-icon: 60px;
  --h-btn-icon: 60px;
}

.control-arrows {
  display: flex;
  column-gap: var(--w-btn-icon);
}

.control-arrows {
  --color-btn-def: transparent;
  --color-btn-hov: var(--color-ui-1-def);
}
.control-arrows__btn-icon {
  border: 1px;
  border-style: solid;
  border-radius: 5px;
}
.control-arrows__btn-icon {
  --color-icon-def: var(--color-ui-1-def);
  --color-icon-hov: var(--color-main-light);
  border-color: var(--color-btn-hov);
  background-color: var(--color-btn-def);
}
.control-arrows__btn-icon:hover {
  background-color: var(--color-btn-hov);
}
.control-arrows__btn-icon--white {
  --color-icon-def: var(--color-main-light);
  --color-icon-hov: var(--color-main-navy);
  --color-btn-hov: var(--color-main-light);
}
.control-arrows__btn-icon--navy {
  --color-icon-def: var(--color-main-navy);
  --color-icon-hov: var(--color-main-light);
  --color-btn-hov: var(--color-main-navy);
}
.control-arrows__btn-icon:disabled {
  --color-icon-hov: var(--color-icon-def);
  opacity: 0.6;
  cursor: not-allowed;
}
.control-arrows__btn-icon:disabled:hover {
  background-color: var(--color-btn-def);
}

.control-dots {
  --control-dots-self-color-main: var(--control-dots-color-main, var(--color-main-light));
  display: flex;
  column-gap: 20px;
}
.control-dots__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: none;
  transition: 200ms;
  cursor: pointer;
}
.control-dots__btn:hover {
  box-shadow: 0 0 15px 5px var(--color-ui-1-def);
}
.control-dots__btn--active:hover {
  box-shadow: none;
  cursor: default;
}
.control-dots__dot {
  width: 8px;
  height: 8px;
  border: 1px solid var(--control-dots-self-color-main);
  border-radius: 50%;
  background: none;
  transition: 200ms;
}
.control-dots__dot:hover, .control-dots__dot--active {
  background: var(--control-dots-self-color-main);
}

/*
  ⚜️ BLOCK: HEADER ⚜️
*/
.page__header-background {
  --header-color-bg: var(--color-ui-1-def);
  --header-color-main: var(--color-main-dark);
  background-color: var(--header-color-bg);
}

@media screen and (max-width: 800px) {
  .page__header-background {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--page-h-header);
    max-width: 100%;
    z-index: 20;
    background-color: var(--header-color-bg);
    box-shadow: 0 0 10px 5px #0008;
  }
}
.header {
  --header-w-off: 0px;
  width: 100%;
  height: var(--page-h-header);
  padding: 0 var(--header-w-off);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .header {
    --header-w-off: calc(100px - var(--page-w-off));
  }
}
@media screen and (max-width: 1000px) {
  .header {
    --header-w-off: 0px;
  }
}
.header__separator {
  flex: 1 24;
  max-width: 65px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .header__separator {
    max-width: 80px;
  }
}
@media screen and (max-width: 800px) {
  .header__separator {
    display: none;
  }
}
.header__container {
  flex: 24 1;
  width: 100%;
}
.header__container--menu {
  max-width: 556px;
  transform-origin: right top;
}
.header__container--social-links {
  max-width: 180px;
}
.header__container--logo {
  max-width: min-content;
}
.header__container--hamburger {
  max-width: min-content;
}
.header__container--logo {
  margin-right: auto;
}
.header__container--hamburger {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__container--menu {
    max-width: 481px;
  }
  .header__container--menu {
    flex: 24 1;
  }
  .header__container--social-links {
    flex: 1 24;
  }
}
@media screen and (max-width: 800px) {
  .header__container--social-links {
    display: none;
  }
  .header__container--menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 311px;
    min-height: 754px;
    padding: 150px 0;
    background-color: var(--color-main-navy);
    box-shadow: 0 0 10px 5px #0008;
    opacity: 0;
    transform: scaleY(0);
    transition: 500ms;
  }
  .header__container--menu-open {
    opacity: 1;
    transform: scaleY(1);
  }
  .header__container--hamburger {
    display: block;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header__container--logo {
    padding: 0 10px;
  }
  .header__container--menu {
    width: 233px;
    min-height: 600px;
    padding: 130px 0;
  }
}
.header__logo-link {
  --color-logo-def: var(--color-main-dark);
  --color-logo-hov: var(--color-main-navy);
}
.header__nav-menu {
  --color-link-def: var(--color-main-dark);
  --color-link-hov: var(--color-ui-2-def);
  --color-link--not-active: var(--color-ui-2-def);
}
@media screen and (max-width: 800px) {
  .header__nav-menu {
    --color-link-def: var(--color-main-light);
    --nav-menu-flex-dir: column;
    --nav-menu-align-items: center;
    --nav-menu-row-gap: 50px;
  }
}
.header__btn-container {
  display: none;
  padding: 0 27px;
}
@media screen and (max-width: 600px) {
  .header__btn-container {
    padding: 0 12px;
  }
}
.header__btn {
  --⚙️--transition: 500ms;
  --⚙️--line-hamburger-color: var(--color-main-dark);
  --⚙️--line-cross-color: var(--color-main-light);
  --⚙️--line-hamburger-w: 100%;
  --⚙️--line-cross-w: 0%;
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  transition: var(--⚙️--transition);
}
.header__btn:hover {
  --⚙️--line-hamburger-color: var(--color-main-light);
  --⚙️--line-cross-color: var(--color-ui-1-def);
}
.header__btn--hamburger-close {
  --⚙️--line-hamburger-color: var(--color-main-light);
  --⚙️--line-animation-fill-mode: forwards;
  --⚙️--line-hamburger-w: 0%;
  --⚙️--line-cross-w: 130%;
}
.header__btn-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: var(--⚙️--line-hamburger-w);
  height: 3px;
  background-color: var(--⚙️--line-hamburger-color);
  transition: var(--⚙️--transition);
}
.header__btn-line--1 {
  top: 0%;
  transform: translate(-50%, 0%);
}
.header__btn-line--3 {
  bottom: 0%;
}
.header__btn-line--2, .header__btn-line--4, .header__btn-line--5 {
  top: 50%;
}
.header__btn-line--4, .header__btn-line--5 {
  width: var(--⚙️--line-cross-w);
  background-color: var(--⚙️--line-cross-color);
}
.header__btn-line--2 {
  transform: translate(-50%, -50%);
}
.header__btn-line--4 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__btn-line--5 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*
  ⚜️ BLOCK: FOOTER ⚜️
*/
.page__footer-background {
  --footer-color-bg: var(--color-main-navy);
  --footer-color-main: var(--color-main-light);
  background-color: var(--footer-color-bg);
  color: var(--footer-color-main);
}

@media screen and (max-width: 1500px) {
  .page__footer-wrapper {
    max-width: 100%;
  }
}

.footer {
  min-height: var(--page-h-footer);
  height: 100%;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
  row-gap: 35px;
}
.footer__wrapper--top {
  padding-top: 70px;
}
.footer__wrapper--bottom {
  padding-top: 38px;
}
@media screen and (max-width: 1500px) {
  .footer__wrapper {
    max-width: var(--page-w);
    margin: 0 auto;
  }
}
@media screen and (max-width: 1150px) {
  .footer__wrapper {
    flex-direction: column;
    padding-top: 50px;
  }
  .footer__wrapper--top {
    row-gap: 50px;
  }
}
@media screen and (max-width: 500px) {
  .footer__wrapper {
    row-gap: 30px;
  }
  .footer__wrapper--bottom {
    max-width: 100%;
    padding-top: 25px;
  }
}
.footer__container {
  flex: 1 1;
  width: 100%;
}
.footer__container--logo {
  max-width: 414px;
}
.footer__container--menu {
  max-width: 426px;
}
.footer__container--btn {
  max-width: 360px;
}
.footer__container--copyright {
  max-width: 448px;
}
.footer__container--social-links {
  max-width: 200px;
}
@media screen and (max-width: 1150px) {
  .footer__container--logo {
    max-width: 445px;
  }
  .footer__container--menu {
    max-width: 445px;
  }
  .footer__container--social-links {
    max-width: 220px;
  }
  .footer__container--copyright {
    order: 3;
  }
  .footer__container--btn {
    margin: -4px 0 4px;
  }
}
@media screen and (max-width: 500px) {
  .footer__container--logo {
    max-width: 445px;
  }
  .footer__container--menu {
    max-width: 100%;
  }
  .footer__container--copyright {
    order: 3;
  }
  .footer__container--btn .btn {
    text-transform: capitalize;
  }
}
.footer__separator {
  border-bottom: 1px solid var(--footer-color-main);
}
.footer__separator--first {
  padding-top: 70px;
}
.footer__separator--second {
  display: none;
}
@media screen and (max-width: 1150px) {
  .footer__separator--first {
    padding-top: 45px;
  }
}
@media screen and (max-width: 500px) {
  .footer__separator--first {
    display: none;
  }
  .footer__separator--second {
    display: block;
    width: 100%;
  }
}
.footer__logo-slots {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .footer__logo-slots {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.footer__copyright-items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .footer__copyright-items {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.footer__logo-link {
  --color-logo-def: var(--color-main-light);
  --color-logo-hov: var(--color-ui-1-def);
}
.footer__nav-menu {
  --color-link-def: var(--color-main-light);
  --color-link-hov: var(--color-ui-2-def);
}
@media screen and (max-width: 500px) {
  .footer .nav-menu__link {
    font-size: 16px;
    line-height: 20px;
  }
}

.modal-cover {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 0 var(--page-w-off);
  background-color: #000c;
  backdrop-filter: blur(10px);
}

.modal--hidden {
  display: none;
}

.pop-up--hidden {
  display: none;
}

.modal-mode {
  overflow: hidden;
}

.pop-up-first {
  --pp1-w-max: 1160px;
  position: relative;
  max-width: var(--pp1-w-max);
  width: 100%;
  background-color: var(--color-main-light);
}
@media (max-width: 1200px) {
  .pop-up-first {
    --pp1-w-max: 1120px;
  }
}
@media (max-width: 640px) {
  .pop-up-first {
    --pp1-w-max: 600px;
  }
}
.pop-up-first__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pop-up-first__txt-container {
  display: flex;
  justify-content: center;
  padding: 30px var(--page-w-col) 50px;
}
@media (max-width: 1300px) {
  .pop-up-first__txt-container {
    padding: 30px var(--page-w-col);
  }
}
@media (max-width: 900px) {
  .pop-up-first__txt-container {
    padding: 20px var(--page-w-col);
  }
}
@media (max-width: 500px) {
  .pop-up-first__txt-container {
    padding: 20px;
    row-gap: 20px;
  }
}
.pop-up-first__article-heading {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h2);
  font-size: var(--font-size--h2);
  line-height: var(--line-height--h2);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--color-ui-1-def);
}
@media (max-width: 900px) {
  .pop-up-first__article-heading {
    /* 🔽🔠🔽 */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: var(--font-weight--h3);
    font-size: var(--font-size--h3);
    line-height: var(--line-height--h3);
    /* 🆎 */
    text-transform: uppercase;
    /* 🔼🔠🔼 */
    color: var(--color-ui-1-def);
  }
}
.pop-up-first__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  text-align: center;
}
@media (max-width: 900px) {
  .pop-up-first__article {
    row-gap: 20px;
  }
}
.pop-up-first__article-heading {
  max-width: 678px;
}
.pop-up-first__article-text {
  max-width: 570px;
}
.pop-up-first__selector {
  padding: 0 0 50px;
}
@media (max-width: 1300px) {
  .pop-up-first__selector {
    padding: 0 0 30px;
  }
}
@media (max-width: 900px) {
  .pop-up-first__selector {
    padding: 0 0 40px;
  }
}
@media (max-width: 500px) {
  .pop-up-first__selector {
    padding: 0 0 20px;
  }
}
.pop-up-first__btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: var(--page-w-gap);
  row-gap: 40px;
  padding: 0 80px;
}
@media (max-width: 500px) {
  .pop-up-first__btn-list {
    column-gap: 10px;
    row-gap: 10px;
    padding: 0 20px;
  }
}
.pop-up-first__btn-slot {
  flex: 1;
}
.pop-up-first__btn-slot--long {
  flex: 2;
}
@media (max-width: 900px) {
  .pop-up-first__btn-slot--long {
    flex: 1;
  }
}
.pop-up-first__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  width: 100%;
  height: 65px;
  margin: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-decoration: none;
  color: var(--color-main-light);
  cursor: pointer;
  user-select: none;
  transition: 300ms;
  background-color: var(--color-ui-2-def);
}
.pop-up-first__btn:hover {
  background-color: var(--color-ui-2-hov);
}
.pop-up-first__btn--xl {
  min-width: 200px;
}
.pop-up-first__btn--xs {
  display: none;
}
@media (max-width: 900px) {
  .pop-up-first__btn--xl {
    display: none;
  }
  .pop-up-first__btn--xs {
    display: inline-flex;
  }
}
.pop-up-first__btn-container {
  position: absolute;
  right: 30px;
  top: 30px;
}
.pop-up-first__btn-close {
  --⚙️--transition: 500ms;
  --⚙️--line-color: var(--color-main-light);
  --⚙️--line-w: 130%;
  --⚙️--line-h: 3px;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  transition: var(--⚙️--transition);
}
.pop-up-first__btn-close:hover {
  --⚙️--line-color: var(--color-ui-1-def);
}
.pop-up-first__btn-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--⚙️--line-w);
  height: var(--⚙️--line-h);
  background-color: var(--⚙️--line-color);
  transition: var(--⚙️--transition);
}
.pop-up-first__btn-line--1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.pop-up-first__btn-line--2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pop-up-second {
  --pp2-color-placeholder: #a4a8ae;
  --pp2-w-max: 920px;
  --pp2-step-1: none;
  --pp2-step-2: none;
  --pp2-step-3: none;
  --pp2-step-4: none;
  --pp2-step-mark-1-color: transparent;
  --pp2-step-mark-2-color: transparent;
  --pp2-step-mark-3-color: transparent;
  --pp2-inner-w-max: 680px;
  --pp2-inner-pw: 0;
  position: relative;
  max-width: var(--pp2-w-max);
  width: 100%;
  background-color: var(--color-main-light);
}
@media (max-width: 900px) {
  .pop-up-second {
    --pp2-inner-w-max: 100%;
    --pp2-inner-pw: calc(var(--page-w-col) + var(--page-w-gap));
  }
}
@media (max-width: 600px) {
  .pop-up-second {
    --pp2-inner-w-max: 100%;
    --pp2-inner-pw: var(--page-w-gap);
  }
}
.pop-up-second--step-1 {
  --pp2-step-1: block;
  --pp2-step-mark-1-color: var(--color-ui-2-def);
}
.pop-up-second--step-2 {
  --pp2-step-2: block;
  --pp2-step-mark-1-color: var(--color-ui-2-def);
  --pp2-step-mark-2-color: var(--color-ui-2-def);
}
.pop-up-second--step-3 {
  --pp2-step-3: block;
  --pp2-step-mark-1-color: var(--color-ui-2-def);
  --pp2-step-mark-2-color: var(--color-ui-2-def);
  --pp2-step-mark-3-color: var(--color-ui-2-def);
}
.pop-up-second--step-4 {
  --pp2-step-4: block;
}
.pop-up-second__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
  background-color: var(--color-ui-1-def);
  text-align: center;
}
@media (max-width: 900px) {
  .pop-up-second__header {
    height: 100px;
  }
}
.pop-up-second__heading {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h3);
  font-size: var(--font-size--h3);
  line-height: var(--line-height--h3);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--color-main-light);
}
@media (max-width: 600px) {
  .pop-up-second__heading {
    /* 🔽🔠🔽 */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: var(--font-weight--h2);
    font-size: var(--font-size--h2);
    line-height: var(--line-height--h2);
    /* 🆎 */
    text-transform: uppercase;
    /* 🔼🔠🔼 */
  }
}
.pop-up-second__step--1 {
  display: var(--pp2-step-1);
}
.pop-up-second__step--2 {
  display: var(--pp2-step-2);
}
.pop-up-second__step--3 {
  display: var(--pp2-step-3);
}
.pop-up-second__step--4 {
  display: var(--pp2-step-4);
}
.pop-up-second__step-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 87px;
  border-bottom: 1px solid var(--pp2-color-placeholder);
}
@media (max-width: 600px) {
  .pop-up-second__step-info {
    justify-content: center;
    height: 47px;
    padding: 0;
  }
}
.pop-up-second__step-info-text {
  display: block;
  max-width: var(--pp2-inner-w-max);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--pp2-inner-pw);
  font-weight: bold;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  .pop-up-second__step-info-text {
    text-align: center;
  }
}
.pop-up-second__step-controls {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: var(--pp2-inner-w-max);
  width: 100%;
  margin: 30px auto;
  padding: 0 var(--pp2-inner-pw);
}
@media (max-width: 600px) {
  .pop-up-second__step-controls {
    row-gap: 20px;
  }
}
.pop-up-second__amount-label {
  display: block;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .pop-up-second__amount-label {
    text-align: center;
  }
}
.pop-up-second__btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 40px;
}
@media (max-width: 900px) {
  .pop-up-second__btn-list {
    column-gap: var(--page-w-gap);
  }
}
@media (max-width: 600px) {
  .pop-up-second__btn-list {
    row-gap: 20px;
  }
}
.pop-up-second__btn-slot {
  flex: 1;
}
@media (max-width: 900px) {
  .pop-up-second__btn-slot {
    flex: 30%;
  }
}
.pop-up-second__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  margin: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-decoration: none;
  color: var(--color-main-light);
  cursor: pointer;
  user-select: none;
  transition: 300ms;
  background-color: var(--color-ui-2-off);
}
.pop-up-second__btn:hover {
  background-color: var(--color-ui-2-hov);
}
.pop-up-second__btn--active {
  background-color: var(--color-ui-2-def);
}
.pop-up-second__btn--active:hover {
  background-color: var(--color-ui-2-hov);
}
.pop-up-second__btn--short {
  display: none;
}
@media (max-width: 600px) {
  .pop-up-second__btn {
    height: 50px;
  }
  .pop-up-second__btn--long {
    display: none;
  }
  .pop-up-second__btn--short {
    display: inline-flex;
  }
}
.pop-up-second__custom-amount {
  display: flex;
  column-gap: 40px;
}
@media (max-width: 900px) {
  .pop-up-second__custom-amount {
    column-gap: var(--page-w-gap);
  }
}
.pop-up-second__custom-btn-slot {
  flex: 0 0 200px;
}
@media (max-width: 900px) {
  .pop-up-second__custom-btn-slot {
    flex: 50%;
  }
}
.pop-up-second__custom-input-slot {
  flex: 0 0 200px;
}
@media (max-width: 900px) {
  .pop-up-second__custom-input-slot {
    flex: 50%;
  }
}
.pop-up-second__pet-selector {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
}
@media (max-width: 900px) {
  .pop-up-second__pet-selector {
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .pop-up-second__pet-selector {
    margin: 10px 0;
  }
}
@media (max-width: 900px) {
  .pop-up-second__pet-selector {
    justify-content: center;
  }
}
.pop-up-second__pet-btn-slot {
  flex: 0 0 200px;
}
@media (max-width: 900px) {
  .pop-up-second__pet-btn-slot {
    flex: 50%;
  }
}
@media (max-width: 600px) {
  .pop-up-second__pet-btn-slot {
    max-width: 210px;
  }
}
.pop-up-second__pet-select-slot {
  flex: 1;
}
@media (max-width: 900px) {
  .pop-up-second__pet-select-slot {
    flex: 100%;
  }
}
.pop-up-second__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 65px;
  padding: 0 10px;
  border: 1px solid var(--color-main-dark);
  border-radius: 5px;
  background-image: url("../assets/svg/sprite-icon.svg#arrow-down"), linear-gradient(to left, var(--color-ui-2-off) 0px 32px, var(--color-main-dark) 32px 33px, transparent 33px);
  background-position-x: calc(100% - 7px), left;
  background-position-y: 50%, top;
  background-repeat: no-repeat;
  background-size: 18px 10px, contain;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
}
.pop-up-second__select:hover {
  background-position-y: 55%, top;
}
@media (max-width: 600px) {
  .pop-up-second__select {
    height: 50px;
  }
}
.pop-up-second__option {
  line-height: 150%;
  color: var(--color-main-dark);
}
.pop-up-second__option--placeholder {
  color: var(--pp2-color-placeholder);
}
.pop-up-second__suggestion {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 600px) {
  .pop-up-second__suggestion {
    flex-direction: column;
    row-gap: 10px;
  }
}
.pop-up-second__suggestion-check {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-main-dark);
  border-radius: 0px;
}
@media (max-width: 600px) {
  .pop-up-second__suggestion-check {
    order: 2;
  }
}
.pop-up-second__suggestion-label {
  display: block;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 600px) {
  .pop-up-second__suggestion-label {
    text-align: center;
  }
}
.pop-up-second__step-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  align-items: center;
  max-width: var(--pp2-inner-w-max);
  width: 100%;
  margin: 50px auto;
  padding: 0 var(--pp2-inner-pw);
}
@media (max-width: 900px) {
  .pop-up-second__step-navigation {
    column-gap: var(--page-w-gap);
  }
}
@media (max-width: 600px) {
  .pop-up-second__step-navigation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    margin: 50px auto 90px;
  }
}
@media (max-width: 600px) {
  .pop-up-second__step-nav-slot--counter {
    grid-row: 3;
  }
}
@media (max-width: 600px) {
  .pop-up-second__step-nav-slot--back {
    grid-row: 2;
  }
}
.pop-up-second__step-nav-slot--next {
  grid-column: 3/span 2;
}
@media (max-width: 600px) {
  .pop-up-second__step-nav-slot--next {
    grid-column: 1;
    grid-row: 1;
  }
}
.pop-up-second__step-counter {
  display: flex;
  column-gap: 10px;
}
.pop-up-second__step-mark {
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-ui-2-def);
  border-radius: 50%;
}
.pop-up-second__step-mark--1 {
  background-color: var(--pp2-step-mark-1-color);
}
.pop-up-second__step-mark--2 {
  background-color: var(--pp2-step-mark-2-color);
}
.pop-up-second__step-mark--3 {
  background-color: var(--pp2-step-mark-3-color);
}
.pop-up-second__btn-back {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: var(--color-ui-2-def);
  cursor: pointer;
  transition: 200ms;
}
.pop-up-second__btn-back:hover {
  color: var(--color-ui-2-hov);
}
.pop-up-second .btn:disabled, .pop-up-second .btn--disabled {
  filter: grayscale(2) opacity(0.5);
  cursor: not-allowed;
}
.pop-up-second .btn--hidden {
  display: none;
}
.pop-up-second .btn--next {
  width: 200px;
}
@media (max-width: 600px) {
  .pop-up-second .btn--next {
    width: 215px;
    height: 50px;
  }
}
.pop-up-second .btn--complete {
  width: 100%;
  padding: 0;
}
.pop-up-second .btn--complete:disabled:hover {
  background-color: var(--color-ui-1-def);
}
@media (max-width: 600px) {
  .pop-up-second .btn--complete {
    height: 50px;
    font-size: 16px;
  }
}
.pop-up-second .input__base--number {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid var(--color-main-dark);
  border-radius: 5px;
  background: none;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.pop-up-second .input__base--number::placeholder {
  color: var(--pp2-color-placeholder);
  opacity: 1;
}
.pop-up-second .input__base--number::-webkit-outer-spin-button, .pop-up-second .input__base--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pop-up-second .input__base--number[type=number] {
  -moz-appearance: textfield;
}

.pop-up-second--step-1 .pop-up-second__btn-back {
  visibility: hidden;
}

.pop-up-second--step-2 .pop-up-second__step-controls {
  row-gap: 50px;
}
.pop-up-second--step-2 .pop-up-second__email-note {
  margin-top: 30px;
}

.pop-up-second--step-3 .pop-up-second__step-controls {
  row-gap: 50px;
}
.pop-up-second--step-3 .pop-up-second__input-slot--card {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  column-gap: 40px;
  row-gap: 40px;
}
@media (max-width: 900px) {
  .pop-up-second--step-3 .pop-up-second__input-slot--card {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--page-w-gap);
  }
}
.pop-up-second--step-3 .pop-up-second__input-card {
  grid-column: 1/span 2;
}
@media (max-width: 900px) {
  .pop-up-second--step-3 .pop-up-second__input-card {
    grid-column: 1/span 2;
  }
}
.pop-up-second--step-3 .pop-up-second__input-cvv {
  grid-column: 3;
}
@media (max-width: 900px) {
  .pop-up-second--step-3 .pop-up-second__input-cvv {
    grid-column: 1;
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__input-cvv {
    grid-column: 1/span 2;
  }
}
.pop-up-second--step-3 .pop-up-second__select-slot--expiration {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  column-gap: 40px;
  row-gap: 20px;
}
@media (max-width: 900px) {
  .pop-up-second--step-3 .pop-up-second__select-slot--expiration {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--page-w-gap);
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__select-slot--expiration {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__select {
    grid-column: 1/span 3;
  }
}
@media (max-width: 900px) {
  .pop-up-second--step-3 .pop-up-second__step-navigation {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__step-navigation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.pop-up-second--step-3 .pop-up-second__step-nav-slot--next {
  grid-column: 3/span 2;
}
@media (max-width: 900px) {
  .pop-up-second--step-3 .pop-up-second__step-nav-slot--next {
    grid-column: 2/span 4;
    grid-row: 2;
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__step-nav-slot--next {
    grid-column: 1;
    grid-row: 3;
    justify-self: stretch;
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__step-nav-slot--counter {
    grid-row: 2;
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .pop-up-second__step-nav-slot--back {
    grid-row: 1;
  }
}
@media (max-width: 600px) {
  .pop-up-second--step-3 .input__base {
    padding: 10px 20px;
  }
}

.pop-up-second--step-4 .pop-up-second__header {
  display: none;
}
.pop-up-second--step-4 .pop-up-second__step-navigation {
  display: none;
}
.pop-up-second--step-4 .pop-up-second__done-heading {
  padding: 20px 40px;
  background-color: var(--color-ui-1-def);
  color: var(--color-main-navy);
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h2);
  font-size: var(--font-size--h2);
  line-height: var(--line-height--h2);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-align: center;
}
