@import url(./colors.css);

:root {
  --link-time: 0.5s ease;
}

.link {
  color: var(--color-font-light);
  text-decoration: none;
  transition: color var(--link-time);
}
.link:visited { color: var(--color-font-gray); }
.link:hover { color: var(--color-orange-light); }
.link:active { color: var(--color-orange-main); }
