extends ../../_pug/_layout/_page.pug
include ../../_pug/_mixin/_layout-block.pug
include ../../_pug/_mixin/_button.pug

mixin genBtns(cls = 'btn', text = 'ok')
  .btns-cont
    +btn('button', cls, text)
    +btn('a', cls, text)
    +btn('div', cls, text)

block head-vars
  - var pageTitle = '🧱';
  - var root = '../..'

block header
  h1 Online-Zoo!

block main
  +layout-block("section", "btns")
    h3 Btns

    +genBtns('btn btn--orange', 'donate now')
    +genBtns('btn btn--orange', 'view live cam')
    +genBtns('btn btn--cyan btn--long', 'send message')
    +genBtns('btn btn--navy btn--long', 'choose your favourite')
    +genBtns('btn btn--white btn--long', 'leave feedback')
    +genBtns('btn btn--text', 'view live cam')
    +genBtns('btn btn--text btn--free', 'feed')
    +genBtns('btn btn--text', 'view map')

    +genBtns('btn-icon btn-icon--white btn-icon--prev', '')
    +genBtns('btn-icon btn-icon--white btn-icon--next', '')

    +genBtns('btn-icon btn-icon--navy btn-icon--prev', '')
    +genBtns('btn-icon btn-icon--navy btn-icon--next', '')

    +genBtns('btn-icon btn-icon--map-tag btn-icon--tiger', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--lion', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--eagle', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--lemur', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--alligator', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--panda', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--coala', '')
    +genBtns('btn-icon btn-icon--map-tag btn-icon--gorilla', '')

block footer
  h2 Online-Zoo!
