:root {
  --clr-main-dark: hsl(0deg, 0%, 0%);
  --clr-main-light: hsl(0deg, 0% ,100%);

  --clr-main-navy: hsl(260deg, 56%, 15%);

  --clr-ui-1-def: hsl(27deg, 91%, 55%);
  --clr-ui-1-hov: hsl(27deg, 96%, 42%);

  --clr-ui-2-def: hsl(175deg, 100%, 31%);
  --clr-ui-2-off: hsl(175deg, 45%, 61%);
  --clr-ui-2-hov: hsl(175deg, 92%, 24%);
}
