:root {
  --color-primary-black: hsl(0deg, 0%, 0%);
  --color-primary-white: hsl(0deg, 0% ,100%);

  --color-primary-navy: hsl(260deg, 56%, 15%);

  --color-primary-orange: hsl(27deg, 91%, 55%);
  --color-hover-orange:   hsl(27deg, 96%, 42%);

  --color-primary-cyan:   hsl(175deg, 100%, 31%);
  --color-secondary-cyan: hsl(175deg, 45%, 61%);
  --color-hover-cyan:     hsl(175deg, 92%, 24%);
}
