.layout-page {
  position: relative;
  height: 100%;
}

.dev {
  &-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &-pixelperfect {
    z-index: 2;
    height: var(--h-dev-overlay);
    background-image: url("../assets/pp/1920/first-page.jpg");
    background-size: 1920px 100%;
    opacity: .5;
    filter: invert(1);
  }
  &-grid {
    z-index: 3;
    bottom: 0;
    background-image: repeating-linear-gradient(to left, rgba(0,0,0,.05) 0 80px, transparent 80px 120px );
    background-size: 1400px 100%;
  }
}
