.layout-page {
  --h-header: 110px;
  --h-footer: 329px;
  --h-min-main: calc(100vh - var(--h-header) - var(--h-footer));
  --w-content: 1400px;
}

.layout-page {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    var(--h-header)
    minmax(var(--h-min-main), max-content)
    var(--h-footer);
}

.layout {
  width: 100%;
}

.wrapper {
  max-width: var(--w-content);
  width: 100%;
  margin: 0 auto;
}

.hero-layout {
  height: calc(900px - var(--h-header));
}
