.footer {
  --color-main-footer: #cbd5de;

  --logo-github: url("../../svg/github.svg");
  --logo-rss: url("../../svg/rss.svg");
}


.footer {
	border-top: 1px solid;
	border-image-slice: 1;
	border-image-source: var(--grad-hdr-ftr);
}

.footer-container {
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.github {
	display: block;
	width: 120px;
	height: 45px;
	padding-left: 45px;
	background-image: var(--logo-github);
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 45px;
	color: var(--color-main-footer);
	font-size: 16px;
	font-family: var(--font-main);
	transition: color var(--transit-time);
}
.github:hover {
	color: var(--color-main-light);
}

.rss {
	display: block;
	position: relative;
	font-family: var(--font-main);
	width: 86px;
	height: 32px;
	background-image: var(--logo-rss);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 111px;
}
.rss-year {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 21px;
	letter-spacing: -2px;
	color: var(--color-main-footer);
	line-height: 0.9;
	font-weight: bold;
	transition: right var(--transit-time),
              letter-spacing var(--transit-time);
}
.rss:hover .rss-year {
	right: -5px;
	letter-spacing: 0;
}
