.main {
  --padd-top: 60px;
}
@media (max-width: 600px) {
	.main {
		--padd-top: 40px;
	}
}
.main {
	min-height: calc(100vh - 110px);
	padding: var(--padd-top) 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}


.main .btn-container {
  --w: 306px;
}
@media (max-width: 600px) {
	.main .btn-container {
		--w: 244px;
	}
}
.main .btn-container {
	display: flex;
	justify-content: space-between;
	width: var(--w);
	height: 40px;
	margin: 0 auto;
	margin-bottom: 80px;
}
