.piano {
	--color-key-def: rgba(255, 255, 255, 0.8);
	--color-key-hov: var(--color-main-light);
	--color-key-act: rgba(255, 255, 255, 0.5);

	--color-key-sharp-def: var(--color-main-dark);
	--color-key-sharp-hov: #444;
	--color-key-sharp-act: #222;

  --color-symbol-def: #a2abb3;
  --color-symbol-hov: #d7dfe6;
  --color-symbol-act: #00b4a4;
}


.piano {
	--w: 560px;
	--h: 270px;
  --g: 4px;
  --key-move-offset: -10px;
}
@media (max-width: 600px) {
	.piano {
		--w: 310px;
		--h: 160px;
	}
}
.piano {
  list-style: none;
	position: relative;
	display: flex;
  align-items: flex-start;
  column-gap: var(--g);
	width: var(--w);
	height: var(--h);
	margin: 0 auto 60px;
  box-sizing: content-box;
}
.piano::before{
  content: '';
  position: absolute;
  top: var(--key-move-offset);
  width: var(--w);
  height: calc(-1 * var(--key-move-offset));
  background-color: var(--color-main-dark);
  z-index: 5;
}

.piano-key-slot {
	--w: 80px;
	--h: 270px;
  --h-sharp: 170px;
  --p-sharp: calc(var(--h) - var(--h-sharp));
}
@media (max-width: 600px) {
	.piano-key-slot {
		--w: 44px;
		--h: 160px;
    --h-sharp: 100px;
	}
}
.piano-key-slot {
  display: block;
	position: relative;
	width: var(--w);
	height: var(--h);
  pointer-events: none;
}
.piano-key-slot.sharp {
	width: 0px;
  padding-bottom: var(--p-sharp);
}


.piano-key {
  --r: 0 0 12px 12px;
}
@media (max-width: 600px) {
	.piano-key {
		--r: 0 0 8px 8px;
	}
}
.piano-key {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: var(--r);
	cursor: pointer;
  pointer-events: auto;
  transform-origin: top center;
	transition: var(--transit-time);
}

.piano-key        { background-color: var(--color-key-def); }
.piano-key:hover  { background-color: var(--color-key-hov); }
.piano-key.active { background-color: var(--color-key-act); }

.sharp .piano-key {
  --w: 54px;
  --r: 0 0 9px 9px;
}
@media (max-width: 600px) {
	.sharp .piano-key {
		--w: 36px;
		--r: 0 0 6px 6px;
	}
}
.sharp .piano-key {
	width: var(--w);
	height: 100%;
	border: 0;
	border-radius: var(--r);
	top: 0;
  left: calc(var(--w) / -2);
	z-index: 3;
  backface-visibility: hidden;
}

.sharp .piano-key        { background-color: var(--color-key-sharp-def); }
.sharp .piano-key:hover  { background-color: var(--color-key-sharp-hov); }
.sharp .piano-key.active { background-color: var(--color-key-sharp-act); }

.piano-key.active,
.sharp .piano-key.active {
	transform: translateY(var(--key-move-offset));
}


.piano-key-slot::before { content: attr(data-note); }
.piano-key-slot::after  { content: attr(data-letter); }

.piano-key-slot::before        { display: block; }
.piano-key-slot::after         { display: none; }
.piano-key-slot.letter::before { display: none; }
.piano-key-slot.letter::after  { display: block; }



.piano-key-slot::before,
.piano-key-slot::after {
  --size: 40px;
  --font-size: 26px;
  --offset: calc(-5px - var(--size));
}
@media (max-width: 600px) {
	.piano-key-slot::before,
	.piano-key-slot::after {
		--size: 30px;
		--font-size: 22px;
	}
}

.piano-key-slot::before,
.piano-key-slot::after {
	top: unset;
  bottom: var(--offset);
}
.piano-key-slot.sharp::before,
.piano-key-slot.sharp::after {
	bottom: unset;
  top: var(--offset);
}

.piano-key-slot::before,
.piano-key-slot::after {
	position: absolute;
  z-index: 9;
	width: var(--size);
	height: var(--size);
	font-size: var(--font-size);
	line-height: var(--size);
	text-align: center;
  left: 50%;
  transform: translateX(-50%);
	transition: var(--transit-time);
}

.piano-key-slot::before,
.piano-key-slot::after {
	color: var(--color-symbol-def);
}
.piano-key-slot:hover::before,
.piano-key-slot:hover::after {
	color: var(--color-symbol-hov);
}
