.piano-key-slot {
  --light-hov: 75%;
  --light-act: 65%;
  --satur-hov: 100%;
  --satur-act: 80%;
	--color-def: hsl(0, 0%, 90%);

	--color-hov-1: hsl(0,   var(--satur-hov), var(--light-hov));
	--color-hov-2: hsl(30,  var(--satur-hov), var(--light-hov));
	--color-hov-3: hsl(60,  var(--satur-hov), var(--light-hov));
	--color-hov-4: hsl(120, var(--satur-hov), var(--light-hov));
	--color-hov-5: hsl(240, var(--satur-hov), var(--light-hov));
	--color-hov-6: hsl(280, var(--satur-hov), var(--light-hov));
	--color-hov-7: hsl(320, var(--satur-hov), var(--light-hov));

	--color-act-1: hsl(0,   var(--satur-act), var(--light-act));
	--color-act-2: hsl(30,  var(--satur-act), var(--light-act));
	--color-act-3: hsl(60,  var(--satur-act), var(--light-act));
	--color-act-4: hsl(120, var(--satur-act), var(--light-act));
	--color-act-5: hsl(240, var(--satur-act), var(--light-act));
	--color-act-6: hsl(280, var(--satur-act), var(--light-act));
	--color-act-7: hsl(320, var(--satur-act), var(--light-act));
}
.piano-key-slot.sharp {
  --light-hov: 15%;
  --light-act: 25%;
  --satur-hov: 80%;
  --satur-act: 60%;
	--color-def: hsl(0, 0%, 10%);
}

.piano-key-slot { color: var(--color-def); }

.piano-key-slot[data-note="c"]:hover  { color: var(--color-hov-1); }
.piano-key-slot[data-note="d"]:hover  { color: var(--color-hov-2); }
.piano-key-slot[data-note="e"]:hover  { color: var(--color-hov-3); }
.piano-key-slot[data-note="f"]:hover  { color: var(--color-hov-4); }
.piano-key-slot[data-note="g"]:hover  { color: var(--color-hov-5); }
.piano-key-slot[data-note="a"]:hover  { color: var(--color-hov-6); }
.piano-key-slot[data-note="b"]:hover  { color: var(--color-hov-7); }

.piano-key-slot[data-note="c"].active { color: var(--color-act-1); }
.piano-key-slot[data-note="d"].active { color: var(--color-act-2); }
.piano-key-slot[data-note="e"].active { color: var(--color-act-3); }
.piano-key-slot[data-note="f"].active { color: var(--color-act-4); }
.piano-key-slot[data-note="g"].active { color: var(--color-act-5); }
.piano-key-slot[data-note="a"].active { color: var(--color-act-6); }
.piano-key-slot[data-note="b"].active { color: var(--color-act-7); }

.piano-key-slot .piano-key-face { background-color: var(--color-def); }

.piano-key-slot[data-note="c"]:hover .piano-key-face { background-color: var(--color-hov-1); }
.piano-key-slot[data-note="d"]:hover .piano-key-face { background-color: var(--color-hov-2); }
.piano-key-slot[data-note="e"]:hover .piano-key-face { background-color: var(--color-hov-3); }
.piano-key-slot[data-note="f"]:hover .piano-key-face { background-color: var(--color-hov-4); }
.piano-key-slot[data-note="g"]:hover .piano-key-face { background-color: var(--color-hov-5); }
.piano-key-slot[data-note="a"]:hover .piano-key-face { background-color: var(--color-hov-6); }
.piano-key-slot[data-note="b"]:hover .piano-key-face { background-color: var(--color-hov-7); }

.piano-key-slot[data-note="c"].active .piano-key-face { background-color: var(--color-act-1); }
.piano-key-slot[data-note="d"].active .piano-key-face { background-color: var(--color-act-2); }
.piano-key-slot[data-note="e"].active .piano-key-face { background-color: var(--color-act-3); }
.piano-key-slot[data-note="f"].active .piano-key-face { background-color: var(--color-act-4); }
.piano-key-slot[data-note="g"].active .piano-key-face { background-color: var(--color-act-5); }
.piano-key-slot[data-note="a"].active .piano-key-face { background-color: var(--color-act-6); }
.piano-key-slot[data-note="b"].active .piano-key-face { background-color: var(--color-act-7); }


.piano-key-slot {
  --txt-stroke: 0 0 2px rgba(0, 0, 0, .9);
  --txt-hov: 0 0 5px rgba(255, 255, 255, .5);
  --txt-act: 0 0 10px rgba(255, 255, 255, .5);
}

.piano-key-slot        { text-shadow: var(--txt-stroke); }
.piano-key-slot:hover  { text-shadow: var(--txt-stroke), var(--txt-hov); }
.piano-key-slot.active { text-shadow: var(--txt-stroke), var(--txt-act); }

.piano-key-slot.sharp        { text-shadow: none; }
.piano-key-slot.sharp:hover  { text-shadow: var(--txt-stroke), var(--txt-hov); }
.piano-key-slot.sharp.active { text-shadow: var(--txt-stroke), var(--txt-act); }


.piano-key-slot {
  --shade-def: 0 -3px 5px 0 rgba(0, 0, 0, .2);
  --shade-hov: 0 -3px 5px 0 rgba(0, 0, 0, .3);
  --shade-act: 0 -3px 5px 0 rgba(0, 0, 0, .4);
}

.piano-key-slot        .piano-key-face { box-shadow: inset var(--shade-def); }
.piano-key-slot:hover  .piano-key-face { box-shadow: inset var(--shade-hov); }
.piano-key-slot.active .piano-key-face { box-shadow: inset var(--shade-act); }

.piano-key-slot.sharp        .piano-key { box-shadow: var(--shade-def); }
.piano-key-slot.sharp:hover  .piano-key { box-shadow: var(--shade-hov); }
.piano-key-slot.sharp.active .piano-key { box-shadow: var(--shade-act); }
