.pop-up {
  --border: 1px solid #0002;
  --body-color: hsla(var(--color-first-default), 1);
  --side-color: hsla(var(--color-first-dark), 0.5);

  overflow: hidden;
  border-radius: 10px;
  opacity: 1;

  transform: translateY(0);

  transition: all 500ms;
}

.hidden {
  opacity: 0;
  transform: translateY(calc(-50vh - 50%));
}

.pop-up__title {
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.pop-up__side {
  min-height: 60px;
  padding: 10px;
  background: var(--side-color);
}

.pop-up__header {
  border-bottom: var(--border);
}

.pop-up__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  border-top: var(--border);
}

.pop-up__headedig {
  font-size: 30px;
}

.pop-up__body {
  background: var(--body-color);
}
