.pop-up {
  --border: 1px solid #0002;

  background: hsla(240deg, 100%, 75%, 0.9);
  opacity: 1;

  transform: translateY(0);

  transition: all 500ms;
}

.hidden {
  opacity: 0;
  transform: translateY(calc(-50vh - 50%));
}

.pop-up__title {
  text-align: center;
  color: #fff;
}

.pop-up__side {
  padding: 10px;
  background: #0008;
}

.pop-up__header {
  border-bottom: var(--border);
}

.pop-up__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  border-top: var(--border);
}

.pop-up__headedig {
  font-size: 30px;
  font-weight: 600;
}

.pop-up__body {
  padding: 20px;
}
