.settings {
  padding: 50px;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.cards-wrapper {
  --reserved: 'custom styles';
}

.difficulty-wrapper {
  --reserved: 'custom styles';
}
