.avatar {
  --avatar-icon-color: hsla(var(--color-second-default), 0.75);
  --avatar-bg-color: #0004;
  --avatar-btn-color: #fff2;
  --avatar-btn-shadow-color: #0008;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.output {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--avatar-bg-color);
}

.input-wrapper {
  position: relative;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 500ms;

  &:hover {
    --avatar-btn-color: #fff8;
  }
}

.input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.svg-icon {
  transition: all 500ms;
}

.svg-icon--output {
  width: 80%;
  height: 80%;
  transform: translateY(20%);
  fill: var(--avatar-icon-color);
}

.svg-icon--input {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: var(--avatar-btn-color);

  use {
    filter: drop-shadow(0 0 10px var(--avatar-btn-shadow-color));
  }
}
