-
  var animals1 = [
    {
      name: 'Lucas',
      kind: 'Giant Panda',
      descr: 'Native to central China, giant pandas have come to symbolize vulnerable species.',
      imgSrc: './assets/img/animal-card-panda.jpg',
      camLink: '#cam-panda'
    },
    {
      name: 'Andy',
      kind: 'Madagascarian Lemur',
      descr: 'Lemurs are considered the world’s most endangered group of mammals.',
      imgSrc: './assets/img/animal-card-lemur.jpg',
      camLink: '#cam-lemur'
    },
    {
      name: 'Glen',
      kind: 'Gorilla in Congo',
      descr: 'Variety of snacks very important for the healthy life of gorillas and his plenty of babies',
      imgSrc: './assets/img/animal-card-gorilla.jpg',
      camLink: '#cam-gorilla'
    },
    {
      name: 'Mike',
      kind: 'Chinese Alligator',
      descr: 'From nose to tail, belly to back, hard scales protect this petite alligator.',
      imgSrc: './assets/img/animal-card-alligator.jpg',
      camLink: '#cam-alligator'
    },
  ];

  var animals2 = [
    {
      name: 'Sam & Lora',
      kind: 'West End Bald Eagles',
      descr: 'Pair of eagle parents lay and protect eggs, feed their chicks and teach them to hunt and fly.',
      imgSrc: './assets/img/animal-card-eagles.jpg',
      camLink: '#cam-eagles'
    },
    {
      name: 'Liz',
      kind: 'Australian Koala',
      descr: 'The elevated walkways bring you to eye level with the koalas as they perch in their forest.',
      imgSrc: './assets/img/animal-card-koala.jpg',
      camLink: '#cam-koala'
    },
    {
      name: 'Shake',
      kind: 'African Lion',
      descr: 'Lions roam the savannas and grasslands of Africa, hunting and raising cubs in the pride.',
      imgSrc: './assets/img/animal-card-lion.jpg',
      camLink: '#cam-lion'
    },
    {
      name: 'Senja',
      kind: 'Sumatran Tiger',
      descr: 'Sumatran Tigers are the smallest of the five sub-species, and are found in Indonesia.',
      imgSrc: './assets/img/animal-card-tiger.jpg',
      camLink: '#cam-tiger'
    },
  ];

  animals1 = animals1.concat(animals1, animals1);
  animals2 = animals2.concat(animals2, animals2);
