-
  var testimonials = [
    {
      name: 'Tomas Ray',
      city: 'Amsterdam',
      date: 'June 2020',
      text: "I want to thank you for the amazing sites you find to put your cameras to let each of us see things that we would probably never see on our own. There are so many positives on Zoo Online and I'm grateful for it. Thank you so much!",
    },
    {
      name: 'C. Stockman',
      city: 'London',
      date: 'February 2020',
      text: "A fantastic experience for kids and adults alike! If anyone is looking for an attraction that educates people on wild animals – it's for you! I highly recommend seeing for yourself the variety of animals on your screen.",
    },
    {
      name: 'Carol Larsen',
      city: 'Toronto',
      date: 'November 2020',
      text: "We so enjoy the ever-evolving selection of animals from around the globe. THANK YOU for sharing these fascinating animal friends with us so that we may learn and increase our understanding of the animal kingdom.",
    },
    {
      name: 'Karen Maithlan',
      city: 'New Jersey',
      date: 'June 2020',
      text: "I am writing to thank you for your mission is to bring people closer to nature! Like myself, children were very impressed by the opportunity to explore the life of incredible animals in real-time.",
    },
  ];
