:global .link {
  --color-default: hsla(var(--color-first-default), 0.75);
  --color-hover: hsla(var(--color-first-default), 1);
  --color-active-default: hsla(var(--color-first-dark), 0.75);
  --color-active-hover: hsla(var(--color-first-dark), 1);
  --link-color: var(--color-default);

  --color-background-default: transparent;
  --color-background-hover: transparent;
  --color-background-active-default: transparent;
  --color-background-active-hover: transparent;
  --link-color-background: var(--color-background-default);

  --link-transition: all 300ms;

  text-decoration: none;
  transition: var(--link-transition);

  color: var(--link-color);
  background-color: var(--link-color-background);

  &:hover {
    --link-color: var(--color-hover);
    --link-color-background: var(--color-background-hover);
  }

  &--active {
    --link-color: var(--color-active-default);
    --link-color-background: var(--color-background-active-default);

    &:hover {
      --link-color: var(--color-active-hover);
      --link-color-background: var(--color-background-active-hover);
    }
  }
}
