:global .link {
  --color-default: hsla(240deg, 100%, 75%, 1);
  --color-hover: hsla(240deg, 100%, 95%, 1);
  --color-active-default: hsla(240deg, 100%, 25%, 1);
  --color-active-hover: hsla(240deg, 100%, 05%, 1);
  --color: var(--color-default);

  --color-background-default: transparent;
  --color-background-hover: transparent;
  --color-background-active-default: transparent;
  --color-background-active-hover: transparent;
  --color-background: var(--color-background-default);

  text-decoration: none;
  transition: 200ms;

  color: var(--color);
  background-color: var(--color-background);

  &:hover {
    --color: var(--color-hover);
    --color-background: var(--color-background-hover);
  }

  &--active {
    --color: var(--color-active-default);
    --color-background: var(--color-background-active-default);

    &:hover {
      --color: var(--color-active-hover);
      --color-background: var(--color-background-active-hover);
    }
  }
}
