@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';

/*
  🧱 ELEMENT: ANIMAL-CARD 🧱
*/

.animal-card {
  @include set-vars ((
    w: grid.col-pure(4),
    h: 747,
    w-scale: calc((var(--w) + 40) / var(--w)),
    h-scale: calc((var(--h) + 40) / var(--h)),
    w-pict: 455px,
    h-pict: 436px,
    p-descr: 44px,
  ));
}

.animal-card {
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  transform: scale(1, 1);

  &:hover {
    transform: scale(var(--w-scale), var(--h-scale));
  }
}

.animal-card {
  width: 100%;
  height: calc(var(--h) * 1px);
  overflow: hidden;

  border-radius: 5px;

  background-color: var(--clr-main-navy);
  color: var(--clr-main-light);

  .card-pict {
    position: relative;
    width: var(--w-pict);
    height: var(--h-pict);
  }
  .animal-photo {
    display: block;
    width: var(--w-pict);
    height: var(--h-pict);
    position: absolute;
    top: 0;
    left: 0;
  }
  .animal-name {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 30px;
    border-radius: 5px 0px;
    background-color: var(--clr-main-navy);
    @include font.h-sub;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: calc(var(--h) * 1px - var(--h-pict));
    padding-top: 30px;
    padding-bottom: 47px;
  }
  .animal-info {
    text-align: center;
  }
  .animal-kind {
    padding-bottom: 18px;
    @include font.h-sub;
  }
  .animal-descr {
    padding: 0 var(--p-descr);
  }
}


/* 💩 pixel-perfect 💩 */
.animal-card .btn {
  letter-spacing: 1.3px;
  width: 250px;
}

.animal-card--madagascarian-lemur .animal-name { padding: 13px 24px; }
.animal-card--gorilla-in-congo    .animal-name { padding: 13px 24px; }
.animal-card--african-lion        .animal-name { padding: 13px 26px; }

.animal-card--african-lion      .animal-descr { padding: 0 34px; }
.animal-card--chinese-alligator .animal-descr { padding: 0 60px; }

// .animal-card--giant-panda          {  }
// .animal-card--west-end-bald-eagles {  }
// .animal-card--madagascarian-lemur  {  }
// .animal-card--australian-koala     {  }
// .animal-card--gorilla-in-congo     {  }
// .animal-card--african-lion         {  }
// .animal-card--chinese-alligator    {  }
// .animal-card--sumatran-tiger       {  }
