include ./_svg-icon.pug

mixin bage(text, mods, blks)
  include ../_lib/_bem.js.pug
  -
    const bage = new Bem('bage', mods, blks);

  div(class = bage.fullClass)
    div(class = bage.elem('text'))= text
    div(class = bage.elem('icon'))
      +svg-icon({id: 'live-cam'})
