include ./_link.pug
include ./_svg-icon.pug


mixin btn-link(root, data, mods, blks, disabled = false)
  - data.id = 'arrow-to-right'
  +gen-link(root, data, ['btn', 'btn-link'], mods, blks, disabled)
    +svg-icon(data)

mixin btn-link-icon(root, data, mods, blks, disabled = false)
  +gen-link-icon(root, data, ['btn-icon', 'btn-link'], mods, blks, disabled)


mixin btn(data, mods, blks)
  - data.id = 'arrow-to-right'
  +gen-btn('button', data, 'btn', mods, blks)

mixin btn-icon(data, mods, blks)
  - data.text = false
  +gen-btn('button', data, 'btn-icon', [...(mods || []), data.id], blks)


mixin btn-div(data, mods, blks)
  - data.id = 'arrow-to-right'
  +gen-btn('div', data, 'btn', mods, blks)

mixin btn-div-icon(data, mods, blks)
  - data.text = false
  +gen-btn('div', data, 'btn-icon', [...(mods || []), data.id], blks)


mixin gen-btn(tag, data, self, mods, blks)
  include ../_lib/_bem.js.pug
  - const bem = new Bem(self, mods, blks);
  #{tag}(class = bem.fullClass, title = data.title)
    if data.text
      span(class = bem.elem('text'))= data.text
    +svg-icon(data)
