include ./_link.pug
include ./_svg-icon.pug


mixin btn-link(root, data, mods, blks)
  - data.id = 'arrow-to-right'
  +link-gen(root, data, ['btn', 'btn-link'], mods, blks)
    +svg-icon('arrow-to-right')

mixin btn-link-icon(root, data, mods, blks)
  - data.text = false
  +link-gen(root, data, ['btn', 'btn-link', 'btn-icon'], mods, blks)
    +svg-icon(data.id)


mixin btn(data, mods, blks)
  - data.id = 'arrow-to-right'
  +btn-gen('button', data, 'btn', mods, blks)

mixin btn-icon(data, mods, blks)
  - data.text = false
  +btn-gen('button', data, ['btn', 'btn-icon'], mods, blks)


mixin btn-div(data, mods, blks)
  - data.id = 'arrow-to-right'
  +btn-gen('div', data, 'btn', mods, blks)

mixin btn-div-icon(data, mods, blks)
  - data.text = false
  +btn-gen('div', data, ['btn', 'btn-icon'], mods, blks)


mixin btn-gen(tag, data, self, mods, blks)
  include ../_lib/_bem.js.pug
  - const bem = new Bem(self, mods, blks);
  #{tag}(class = bem.fullClass, title = data.title)
    if data.text
      span(class = bem.elem('text'))= data.text
    +svg-icon(data.id)
