/*
  🧱 ELEMENT: BUTTON-MAP-PIN 🧱
*/

:root {
  --w-btn-map-pin: 100px;
  --h-btn-map-pin: 144px;
}

.btn-map-pin {
  --time1: 500ms;
  --time2: 600ms;
  --w: var(--w-btn-map-pin);
  --h: var(--h-btn-map-pin);
}

.btn-map-pin {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--w);
  height: var(--h);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  background-color: transparent;
  filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));

  cursor: default;
  &--active {
    cursor: pointer;
  }
  user-select: none;

  & { pointer-events:none; }
  .svg-map-pin use { pointer-events:all; }

  .svg-map-pin {
    width: var(--w);
    height: var(--h);
  }


  .svg-map-pin {
    transition: fill var(--time1) ease-in-out,
                color var(--time2) ease-in-out;
  }
  .svg-map-pin {
    // --color__map-pin:        var(--clr-ui-1-def);
    // --color__map-pin-border: transparent;
    fill: var(--clr-ui-1-def);
    color: transparent;
  }
  &--active:hover .svg-map-pin {
    // --color__map-pin:        var(--clr-main-light);
    // --color__map-pin-border: var(--clr-main-light);
    fill: var(--clr-main-light);
    color: var(--clr-main-light);
  }

  .svg-map-pin {
    --color__map-pin__icon--tiger:     transparent;
    --color__map-pin__icon--lion:      transparent;
    --color__map-pin__icon--eagle:     transparent;
    --color__map-pin__icon--alligator: transparent;
    --color__map-pin__icon--lemur:     transparent;
    --color__map-pin__icon--panda:     transparent;
    --color__map-pin__icon--coala:     transparent;
    --color__map-pin__icon--gorilla:   transparent;
  }

  &--tiger     .svg-map-pin { --color__map-pin__icon--tiger:     var(--clr-main-navy); }
  &--lion      .svg-map-pin { --color__map-pin__icon--lion:      var(--clr-main-navy); }
  &--eagle     .svg-map-pin { --color__map-pin__icon--eagle:     var(--clr-main-navy); }
  &--alligator .svg-map-pin { --color__map-pin__icon--alligator: var(--clr-main-navy); }
  &--lemur     .svg-map-pin { --color__map-pin__icon--lemur:     var(--clr-main-navy); }
  &--panda     .svg-map-pin { --color__map-pin__icon--panda:     var(--clr-main-navy); }
  &--coala     .svg-map-pin { --color__map-pin__icon--coala:     var(--clr-main-navy); }
  &--gorilla   .svg-map-pin { --color__map-pin__icon--gorilla:   var(--clr-main-navy); }
}
