@use '../_lib/css-var' as *;
@use '../_lib/grid';

/*
  🧱 ELEMENT: BUTTON-ICON 🧱
*/

.btn-icon {
  --time: 200ms;

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--w-btn-icon, auto);
  height: var(--h-btn-icon, auto);

  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;

  cursor: pointer;
  user-select: none;

  transition: var(--time) ease-in-out;

  fill: var(--color-icon-def);
  &:hover { fill: var(--color-icon-hov); }
}

/* 📍 🗺️ 📍 */

.btn-icon--map-pin {
  position: relative;

  &              { pointer-events: none; }
  .svg-icon__use { pointer-events: all; }

  &          { cursor: default; }
  &.btn-link { cursor: pointer; }

  & {
    --color-icon-def: var(--clr-ui-1-def);
    --color-icon-hov: var(--clr-ui-1-def);
    color: transparent;
    filter: drop-shadow(0px 4px 30px var(--clr-ui-1-def));
  }
  &.btn-link:hover {
    --color-icon-hov: var(--clr-main-light);
    color: var(--clr-main-light);
    filter: drop-shadow(0px 4px 30px var(--clr-main-light));
  }

  & {
    --color-icon-def: var(--clr-ui-1-def);
    --color-icon-hov: var(--clr-ui-1-def);
    color: transparent;
    filter: drop-shadow(0px 4px 30px var(--clr-ui-1-def));
  }
  &.btn-link:hover {
    --color-icon-hov: var(--clr-main-light);
    color: var(--clr-main-light);
    filter: drop-shadow(0px 4px 30px var(--clr-main-light));
  }

  .svg-icon--map-icon {
    position: absolute;
    left: var(--x);
    top: var(--y);
    fill: var(--clr-main-navy);
  }

  .svg-icon--map-icon-tiger     { --x: 18.6px;  --y: 20.4px;  }
  .svg-icon--map-icon-lion      { --x: 23.26px; --y: 24.13px; }
  .svg-icon--map-icon-eagle     { --x: 25.58px; --y: 26.46px; }
  .svg-icon--map-icon-alligator { --x: 20.93px; --y: 22.57px; }
  .svg-icon--map-icon-lemur     { --x: 33px;    --y: 24px;    }
  .svg-icon--map-icon-panda     { --x: 20.16px; --y: 23.77px; }
  .svg-icon--map-icon-coala     { --x: 27.91px; --y: 21.79px; }
  .svg-icon--map-icon-gorilla   { --x: 22.48px; --y: 22.57px; }
}



