@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';

/*
  🧱 ELEMENT: BUTTON 🧱
*/

.btn {
  --time: 300ms;
  --btn-self-w-meddium: var(--btn-w-meddium, 240px);
  --btn-self-w-large: var(--btn-w-large, 360px);
  --btn-self-w-small: var(--btn-w-small, min-content);
  --btn-self-h: var(--btn-h, 74px);
  --btn-self-padd-w: var(--btn-padd-w, 26px);

  @media screen and (max-width: 800px) {
    --btn-self-w-meddium: var(--btn-w-meddium, 285px);
  }
  @media screen and (max-width: 500px) {
    --btn-self-w-meddium: var(--btn-w-meddium, 100%);
    --btn-self-w-large: var(--btn-w-large, 100%);
    --btn-self-w-small: var(--btn-w-small, 100%);
    --btn-self-h: var(--btn-h, 45px);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: min-content;

  height: var(--btn-self-h);
  margin: 0;
  padding: 0 var(--btn-self-padd-w);
  border: none;
  border-radius: 5px;
  outline: none;

  @include font.ui;
  text-decoration: none;

  cursor: pointer;
  user-select: none;

  &--not-active {
    cursor: default;
  }
}

.btn {
  width: var(--btn-self-w-meddium);
  &--long { width: var(--btn-self-w-large); }
  &--free { width: var(--btn-self-w-small); }
}

.btn {
  transition: background-color var(--time),
              color var(--time),
              fill var(--time);
}

.btn {
  &               { background-color: var(--color-ui-1-def); }
  &:hover         { background-color: var(--color-ui-1-hov); }

  &--orange       { background-color: var(--color-ui-1-def); }
  &--orange:hover { background-color: var(--color-ui-1-hov); }

  &--cyan.btn--active { background-color: var(--color-ui-2-def); }
  &--cyan             { background-color: var(--color-ui-2-off); }
  &--cyan:hover       { background-color: var(--color-ui-2-hov); }

  &--navy       { border: 1px solid var(--color-main-navy); }
  &--navy       { background-color: transparent; }
  &--navy:hover { background-color: var(--color-main-navy); }

  &--white       { border: 1px solid var(--color-main-light); }
  &--white       { background-color: transparent; }
  &--white:hover { background-color: var(--color-ui-2-def); }

  &--text       { background-color: transparent; }
  &--text:hover { background-color: var(--color-ui-1-def); }
}

.btn {
  color: var(--color-main-light);

  &--navy       { color: var(--color-main-navy); }
  &--navy:hover { color: var(--color-main-light); }

  &--text       { color: var(--color-ui-1-def); }
  &--text:hover { color: var(--color-main-light); }
}

.btn {
  .svg-icon {
    width: 25px;
    height: 22px;
  }

  fill: var(--color-main-light);

  &--navy       { fill: var(--color-main-navy); }
  &--navy:hover { fill: var(--color-main-light); }

  &--text       { fill: var(--color-ui-1-def); }
  &--text:hover { fill: var(--color-main-light); }
}
