@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';

/*
  🧱 ELEMENT: ANIMAL-CARD 🧱
*/

.card-animal {
  --card-self-h-max-abs: var(--card-h-max-abs, 747);

  --card-self-scale-time: var(--card-scale-time, 200ms);
  --card-self-scale-abs: var(--card-scale-abs, 20);
  --card-self-scale: calc(
      (var(--card-self-h-max-abs) + 2 * var(--card-self-scale-abs))
        / var(--card-self-h-max-abs));

  --card-self-pic-h: var(--card-pic-h, 436px);
  --card-self-pic-w: var(--card-pic-w, 455px);

  --card-self-color-bg: var(--card-color-bg, var(--color-main-navy));
  --card-self-color-txt: var(--card-color-text, var(--color-main-light));

  --card-self-article-padd-w-uniform: 44px;
  --card-self-article-padd-w: var(--card-article-padd-w, var(--card-self-article-padd-w-uniform));

  --card-self-article-h: var(--card-article-h, 188px);
  --card-self-article-padd-h: var(--card-article-padd-h, 30px);
  --card-self-heading-padd-h: var(--card-heading-padd-h, 18px);
  --card-self-text-padd-h: var(--card-text-padd-h, 0);
  --card-self-text-padd-w: var(--card-text-padd-w, 0);

  --card-self-bott-padd-h: var(--card-bott-padd-h, 49px);

  @media screen and (max-width: 1300px) {
    --card-self-h-max-abs: var(--card-h-max-abs, 716);
    --card-self-article-h: var(--card-article-h, 172px);
    --card-self-article-padd-h: var(--card-article-padd-h, 14px);
    --card-self-bott-padd-h: var(--card-bott-padd-h, 35px);
  }
  @media screen and (max-width: 800px) {
    --card-self-h-max-abs: var(--card-h-max-abs, 600);
    --card-self-pic-h: var(--card-pic-h, 333px);
    --card-self-article-h: var(--card-article-h, 182px);
    --card-self-article-padd-w-uniform: 12px;
    --card-self-heading-padd-h: var(--card-heading-padd-h, 13px);
    --card-self-text-padd-w: var(--card-text-padd-w, 14px);
    --card-self-bott-padd-h: var(--card-bott-padd-h, 10px);
  }
  @media screen and (max-width: 500px) {
    --card-self-h-max-abs: var(--card-h-max-abs, 600);
    --card-self-pic-h: var(--card-pic-h, 333px);
    --card-self-article-h: var(--card-article-h, 182px);
    --card-self-article-padd-w-uniform: 17px;
    --card-self-heading-padd-h: var(--card-heading-padd-h, 13px);
    --card-self-text-padd-w: var(--card-text-padd-w, 14px);
    --card-self-bott-padd-h: var(--card-bott-padd-h, 25px);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--card-self-bott-padd-h);

  width: 100%;
  height: calc(var(--card-self-h-max-abs) * 1px);
  overflow: hidden;

  border-radius: 5px;
  background-color: var(--card-self-color-bg);
  color: var(--card-self-color-txt);

  cursor: pointer;
  transition: transform var(--card-self-scale-time) ease-in-out;
  transform: scale(1);

  &:hover { transform: scale(var(--card-self-scale)); }

  &__pic-container {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: var(--card-self-pic-h);
    background: #f00;
    overflow: hidden;
  }

  &__img {
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__name {
    z-index: 2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 13px 30px;
    border-radius: 5px 0px;
    background-color: var(--card-self-color-bg);
    @include font.h-sub;
  }

  &__article {
    overflow: hidden;
    max-height: var(--card-self-article-h);
    padding:
        var(--card-self-article-padd-h)
        var(--card-self-article-padd-w);
    text-align: center;
  }

  &__article-heading {
    padding-bottom: var(--card-self-heading-padd-h);
    @include font.h-sub;
  }

  &__article-text {
    padding:
      var(--card-self-text-padd-h)
      var(--card-self-text-padd-w);
  }

  &__btn-container {
    flex-shrink: 0;
    margin-top: auto;
  }

  /* 💩 pixel-perfect 💩 */
  &--alligator { --card-self-article-padd-w: var(--card-article-padd-w, 60px); }
  &--lion { --card-self-article-padd-w: var(--card-article-padd-w, 34px); }


  @media screen and (max-width: 1300px) {
    &--panda { --card-self-article-padd-w: var(--card-article-padd-w, 10px); }
  }

  @media screen and (max-width: 1100px) {
      /* 🧹 clear pixel-perfect 🧹 */
    &--panda { --card-self-article-padd-w: var(--card-self-article-padd-w-uniform) }
    &--alligator { --card-self-article-padd-w: var(--card-self-article-padd-w-uniform) }
    &--lion { --card-self-article-padd-w: var(--card-self-article-padd-w-uniform) }
  }


  &__btn-container .btn {
    width: 250px;
    font-size: 20px;
    line-height: 22px;
  }
}





