include ./_button.pug

mixin control-arrows(color)
  include ../_lib/_bem.js.pug
  -
    const self = 'control-arrows';
    const bem = new Bem(self);
    const mods = color ? [color] : [];

  div(class = self)
    +btn-icon({id: 'arrow-to-left'}, [...mods, 'prev'], [self])
    +btn-icon({id: 'arrow-to-right'}, [...mods, 'next'], [self])
