include ./_button.pug

mixin control-arrows(color)
  - const self = 'control-arrows';

  div(class = self)
    +btn-icon({id: 'arrow-to-left'}, [color, 'prev'], [self])
    +btn-icon({id: 'arrow-to-right'}, [color, 'next'], [self])
