@use '../_lib/css-var' as *;
@use '../_lib/font';

/*
  🧱 ELEMENT: INPUT 🧱
*/

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__descr {
    display: flex;
    column-gap: 5px;

    &-msg {
      text-transform: capitalize;
    }
  }
  &__required {
    color: var(--color-ui-1-def);
  }

  &__error {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;

    display: none;
    width: 90%;
    background-color: #fff;
    color: var(--color-ui-1-def);
    filter: drop-shadow(0 0 1px #000);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(0% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      border-width: 0 10px 10px;
      border-color: transparent;
      border-bottom-color: #fff;
      border-style: solid;
    }

    &-msg {
      // text-transform: capitalize;
    }
  }

  &__base {
    padding: 16px 20px;
    border: 1px solid var(--color-main-dark);
    border-radius: 5px;

    @include font.text;

    &::placeholder {
      color: #969696;
    }

    @media (max-width: 500px) {
      padding: 8px 10px;
    }
  }
}


.input--error {
  .input__error {
    display: block;
  }

  .input__base {
    background: rgba(245, 128, 33, 0.2);
    border: 1px solid var(--color-ui-1-def);
  }
}
