mixin link(root, data, mods, blks)
  +link-gen(root, data, 'link', mods, blks)

mixin link-gen(root, data, self, mods, blks)
  include ../_lib/_bem.js.pug
  -
    const bem = new Bem(self, mods, blks);
    const external = data.external || /^[^:]+:\/{2}/.test(data.link);
    const disabled = (mods || []).includes('disabled');
    const link = disabled ? null : external ? data.link : `${root}/${data.link}`;
    const tag = disabled ? 'span' : 'a';

  #{tag}(class = bem.fullClass, href = link, title = data.title)
    if data.text
      span(class = bem.elem('text'))= data.text
    block
