@use '../_lib/css-var' as *;
@use '../_lib/font';

/*
  🧱 ELEMENT: LINK 🧱
*/

.link {
  @include font.ui;
  text-decoration: none;

  transition: color 300ms ease-in-out;

  cursor: pointer;
  color: var(--clr-ui-1-def);
  &:hover { color: var(--clr-ui-1-hov); }
}

.link.link--disabled {
  cursor: default;
  color: use-var(clr-ui-2-def);
  &:hover { color: var(--clr-ui-2-def); }
}
