include ./_link.pug
include ./_svg-icon.pug


mixin logo-main(root, blk)
  - const data = {link: '', id: 'online-zoo'};
  +logo(root, data, blk)


mixin logo(root, data, blk)
  - data.cls = 'logo';
  - const disabled = typeof data.link !== 'string';
  - const self = disabled ? 'logo' : 'logo-link';
  +gen-link-icon(root, data, self, [], [blk], disabled)
