mixin logo-main
  a(class = 'logo logo-main logo-link', href = '/online-zoo/')
    +svg-logo('main')

mixin logo(data)
  div(class = `logo logo-${data.id}`, title = data.title)
    +svg-logo(data.id)

mixin svg-logo(id)
  include ../_lib/_array.js.pug
  - var cls = ['logo', `logo-${id}`];
  svg(class = ArrUtils.clsMap(cls, 'svg'))
    use(class = ArrUtils.clsMap(cls, 'use'), xlink:href = `#logo--${id}`)
