mixin logo-main(root)
  a(class = 'logo logo-main logo-link', href = root)
    +svg-logo('main')

mixin logo(data)
  -
    var tag = data.link ? 'a' : 'div';
    var cls = `logo logo-${data.id}`;
    data.link && (cls +=' logo-link');

  #{tag}(class = cls, href = data.link, title = data.title)
    +svg-logo(data.id)

mixin svg-logo(id)
  include ../_lib/_array.js.pug
  - var cls = ['logo', `logo-${id}`];
  svg(class = ArrUtils.clsMap(cls, 'svg'))
    use(class = ArrUtils.clsMap(cls, 'use'), href = `#logo--${id}`)
