@use '../_lib/css-var';

/*
  🧱 ELEMENT: LOGO 🧱
*/

.logo {
  display: block;
}

.logo-link {
  color: var(--color-logo-def);
  transform: scale(1);
  transition: 200ms ease-in-out;

  &:hover {
    color: var(--color-logo-hov);
    transform: scale(1.05);
  }
}
