@use '../_lib/css-var' as *;
@use '../_lib/font';

/*
  🧱 ELEMENT: NAV-MENU 🧱
*/

.nav-menu {
  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }
}
