include ./_link.pug

mixin nav-menu(root, blk, page, data)
  include ../_lib/_bem.js.pug
  -
    const self = 'nav-menu';
    const bem = new Bem(self, [], [blk]);
    let menu_data = [
      { text: 'about',      link: ''},
      { text: 'map',        link: 'pages/map.html'},
      { text: 'zoos',       link: 'pages/zoos/panda.html'},
      { text: 'contact-us', link: 'pages/contact-us.html'},
    ]
    Array.isArray(data) && (menu_data = menu_data.concat(data));

  nav(class = bem.fullClass)
    ul(class = bem.elem('items'))
      each item in menu_data
        li(class = bem.elem('item'))
          - const disabled = item.text === page;
          +link(root, item, mods, self, disabled)
