include ./_control-arrows.pug

mixin gen-slider(root, gen_card, cards_data, slider_type, control_color)
  include ../_lib/_bem.js.pug
  -
    const self = 'slider';
    const bem = new Bem(self);

  div(class = self)
    div(class = bem.elem('controls'))
      +control-arrows(control_color)
    - const slts = new Bem('slots', ['slider_type'], [self]);
    ul(class = slts.fullClass)
      each item in cards_data
        li(class = slts.elem('slot'))
          +#{gen_card}(root, bem.elem('card'), item)
    div(class = bem.elem('overlay'))

