include ./_control-arrows.pug
include ./_control-dots.pug
include ./_card-animal.pug
include ./_card-testimonial.pug

mixin slider(root, data, rows = 1, mods = null, blk = null)
  - const slider = new Bem('slider', mods, blk);

  div(class = slider.fullClass)

    div(class = slider.elem('ctrl-container', 'arrows'))
      +control-arrows(data.controlColor)

    if data.controlDotsNum
      div(class = slider.elem('ctrl-container', 'dots'))
        +control-dots(data.controlDotsNum, data.controlColor, slider.self)

    div(class = slider.elem('slots-container'))
      each row, ix in data.cardData
        ul(class = slider.elem('slots', `row-${ix + 1}`))
          each slot, jx in row
            li(class = slider.elem('slot'), style=`--slider-slot-num: ${jx + 1};`)
              +#{data.cardMixin}(root, slot)
