@use '../_lib/css-var' as *;
@use '../_lib/grid';

/*
  🧱 ELEMENT: SLIDER 🧱
*/

.slider {
  --slider-ctrl-arrows-display: flex;
  --slider-ctrl-dots-display: none;
  --slider-ctrl-arrows-order: 0;
  --slider-ctrl-dots-order: 0;
  --slider-ctrl-arrows-align: center;
  --slider-ctrl-dots-align: center;
  --slider-ctrl-cont-w: var(--page-w);
  --slider-ctrl-gap-h: 50px;

  --slider-slots-rows: 2;
  --slider-slot-cols: 4;
  --slider-slots-gap-w: var(--page-w-gap);
  --slider-slots-gap-h: var(--page-w-gap);
  --slider-slot-w: calc(
      var(--page-w-col) * var(--slider-slot-cols)
      +
      var(--page-w-gap) * (var(--slider-slot-cols) - 1)
    );

  --slider-move-slots: 0;
  --slider-move-offcet: calc(var(--slider-slot-w) + var(--slider-slots-gap-w));
  --slider-move: translate(calc(var(--slider-move-slots) * var(--slider-move-offcet)));
  --slider-move-time: 500ms;

  display: flex;
  flex-direction: column;
  row-gap: var(--slider-ctrl-gap-h);

  &__ctrl-container {
    max-width: var(--slider-ctrl-cont-w);
    width: 100%;

    &--arrows {
      order: var(--slider-ctrl-arrows-order);
      display: var(--slider-ctrl-arrows-display);
      justify-content: var(--slider-ctrl-arrows-align);
    }
    &--dots {
      order: var(--slider-ctrl-dots-order);
      display: var(--slider-ctrl-dots-display);
      justify-content: var(--slider-ctrl-dots-align);
    }
  }

  &__slots-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--slider-slots-gap-h);
  }

  &__slots {
    display: flex;
    column-gap: var(--slider-slots-gap-w);
    counter-reset: card-num;
    transform: var(--slider-move);
    transition: var(--slider-move-time);
  }

  &__slot {
    position: relative;
    flex: 0 0 var(--slider-slot-w, 100%);

    &::before {
      counter-increment: card-num;
      content: counter(card-num);
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      display: block;
      font-size: 100px;
      line-height: 100px;
      color: #0006;
      pointer-events: none;
      user-select: none;
    }

    &:nth-child(n + 9) .card-animal__img {
      filter: grayscale(1);
    }
  }
}
