@use '../_lib/css-var' as *;

/*
  🧱 ELEMENT: SOCIAL-MEDIA-LINKS 🧱
*/

.social-media {
  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__link-icon {
    display: block;
    color: var(--color-main-light);
    fill: hsl(326deg, 57%, 48%);
    transform: scale(1);
    transition: 200ms ease-in-out;

    &:hover {
      fill: var(--color-main-navy);
      transform: scale(1.05);
    }

    &--youtube {
      fill: hsl(0deg, 100%, 50%);
    }
  }

  &__link-icon {  pointer-events: none; }
  .svg-icon__use { pointer-events: fill; }
}
