include ./_link.pug

mixin social-media-links(blk)
  include ../_lib/_bem.js.pug
  -
    const self = 'social-media';
    const bem = new Bem(self, [], blk);
    const socialData = [
      { id: 'youtube',   link: 'https://www.youtube.com/'},
      { id: 'instagram', link: 'https://www.instagram.com/'},
      { id: 'facebook',  link: 'https://www.facebook.com/'},
    ];

  div(class = bem.fullClass)
    ul(class = bem.elem('items'))
      each item in socialData
        li(class = bem.elem('item'))
          +link-icon('', item, [], self)
