mixin svg-icon(data)
    +gen-svg-icon(data)
    if (Array.isArray(data.icons))
      each icon in data.icons
        +gen-svg-icon(icon)

mixin gen-svg-icon(data)
  include ../_lib/_bem.js.pug
  -
    const mods = [data.id];
    data.cls && mods.push(data.cls);
    const icon = new Bem('svg-icon', mods, blks);

  svg(class = icon.fullClass)
    use(class = icon.elem('use'), href = `#${data.id}`)
