mixin testimonial-card(root, cls, testimonial)
  include ../_lib/_bem.js.pug
  -
    const self = 'testimonial-card';
    const bem = new Bem(self, [], [cls]);

  section(class = bem.fullClass)
    h4(class = bem.elem('title'))= `${testimonial.city}, ${testimonial.date}`
    p(class = bem.elem('text'))= testimonial.text
    div(class = bem.elem('name'))= testimonial.name
