mixin youtube-player(cls, link)
  div.youtube-player(class = cls)
    iframe(
      class = `youtube-player__iframe ${cls}__iframe`,
      src = `https://www.youtube.com/embed/${link}`,
      title = "YouTube video player",
      frameborder = "0",
      allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
      allowfullscreen,
    )
