mixin youtube-player(id, mods, blks)
  include ../_lib/_bem.js.pug
  -
    const player = new Bem('youtube-player', mods, blks);

  div.youtube-player(class = player.fullClass)
    iframe(
      class = player.elemExt('iframe'),
      src = 'about:blank',
      title = 'YouTube video player',
      allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture',
      allowfullscreen,
      loading = 'lazy',
      data-youtube-id = id
    )
