.btn {
  --w: 150px;
}
@media (max-width: 600px) {
	.btn {
		--w: 120px;
	}
}

.btn {
	width: var(--w);
	height: 40px;
	padding: 0 10px;
	border: 0;
	border-radius: 2px;
	font-family: var(--font-main);
	font-size: 16px;
	font-weight: 300;
	outline: 0;
	cursor: pointer;
}

.btn {
	color: var(--color-main-text);
	transition: background-color var(--transit-time);
}

.btn        { background-color: var(--color-def); }
.btn:hover  { background-color: var(--color-hov); }
.btn:active { background-color: var(--color-act); }

.btn-active        { background-color: var(--color-act-def); }
.btn-active:hover  { background-color: var(--color-act-hov); }
.btn-active:active { background-color: var(--color-act-act); }
