extends ../layout/_layout-page.pug

include ../layout/_layout-block.pug
include ../element/_button.pug


block page-vars
  - var page = "map";
  - var file = "map";
  - var title = 'ðŸ—ºï¸';
  - var root = '..'

block main
  +layout-block("title")
    h2(class = 'title__heading')= 'find where are the animals live'

  -
    const self = 'map';
    const linked = new Set(['panda', 'gorilla', 'eagle', 'lemur', ]);
    const data = [
      { id: 'eagle',     title: 'Bald eagle ðŸ¦…\nNorth America' },
      { id: 'alligator', title: 'American alligator ðŸŠ\nSoutheastern United States' },
      { id: 'lion',      title: 'Lion ðŸ¦\nAfrica ' },
      { id: 'gorilla',   title: 'Gorilla ðŸ¦\nRainforests in Africa' },
      { id: 'lemur',     title: 'Lemur \nMadagascar' },
      { id: 'panda',     title: 'Giant panda ðŸ¼\nSouth Central China' },
      { id: 'tiger',     title: 'Tiger ðŸ¯\n Southeast Asia' },
      { id: 'coala',     title: 'Koala \nAustralia' },
    ];
    data.forEach(x => linked.has(x.id) && (x.link = `pages/zoos/${x.id}.html`));

  +layout-block(self)
    include ../svg/_map.svg.pug
    each item in data
      -
        const svgData = {
            id: 'map-pin',
            title: item.title,
            link: item.link,
            icons: [ { id: `icon-${item.id}`, cls: 'map-icon' } ]
          }
      if item.link
        +btn-link-icon(root, svgData, [item.id])
      else
        +btn-icon(svgData, [item.id])

