.modal {
  z-index: 10;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #0008;
  backdrop-filter: blur(2px);
  pointer-events: all;
  transition: all 500ms;

  &.hidden {
    z-index: -10;
    top: 100%;
    background: transparent;
    pointer-events: none;
  }
}

.body-hidden {
  overflow: hidden;
}
