.app {
  --grad: #0001 0px 50px, #fff1 50px 100px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  background-image: repeating-linear-gradient(-45deg, var(--grad)),
    repeating-linear-gradient(45deg, var(--grad));
  background-position: center;
}

.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  background-color: #0001;
}
