@use "sass:math";

.app {
  --app-w-max: 1200px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  --c0: #fff0;
  --c1: #0001;

  --s: 200px 200px;
  --a1: -100px 0;
  --a2: 0 0;
  --b1: 100px 200px;
  --b2: 200px 200px;

  background: linear-gradient(135deg, var(--c1) 25%, var(--c0) 25.1%),
    linear-gradient(225deg, var(--c1) 25%, var(--c0) 25.1%),
    linear-gradient(315deg, var(--c1) 25%, var(--c0) 25.1%),
    linear-gradient(45deg, var(--c1) 25%, var(--c0) 25.1%);
  background-size: var(--s);
  background-position: var(--a1), var(--a1), var(--a2), var(--a2);

  font-family: sans-serif;

  animation: slide 10s infinite linear forwards;
  animation-play-state: var(--app-bg-animation-state);
}

.page-container {
  max-width: var(--app-w-max);
  width: 100%;
  margin: 0 auto;

  background-color: #0001;
  backdrop-filter: blur(10px);
}

@keyframes slide {
  0% {
    background-position: var(--a1), var(--a1), var(--a2), var(--a2);
  }
  100% {
    background-position: var(--b1), var(--b1), var(--b2), var(--b2);
  }
}
