:root {
  --w-btn-icon:65px;
}

.btn-icon {
  --time: 300ms;
  --w: var(--w-btn-icon);
  --h: 60px;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--w);
  height: var(--h);
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  outline: none;

  background-color: transparent;

  cursor: pointer;
  user-select: none;

  transition: background-color var(--time);

  .svg-icon {
    width: 25px;
    height: 22px;

    transition: fill var(--time);
  }
}

.btn-icon--white {
  border-color: var(--color-primary-white);
  .svg-icon { fill: var(--color-primary-white); }
}

.btn-icon--white:hover {
  background-color: var(--color-primary-white);
  .svg-icon { fill: var(--color-primary-navy); }
}

.btn-icon--navy {
  border-color: var(--color-primary-navy);
  .svg-icon { fill: var(--color-primary-navy); }
}

.btn-icon--navy:hover {
  background-color: var(--color-primary-navy);
  .svg-icon { fill: var(--color-primary-white); }
}
