:root {
  --w-btn-map-tag: 100px;
  --h-btn-map-tag: 144px;
}

.btn-map-tag {
  --time1: 500ms;
  --time2: 600ms;
  --w: var(--w-btn-map-tag);
  --h: var(--h-btn-map-tag);
}

.btn-map-tag {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--w);
  height: var(--h);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  background-color: transparent;

  cursor: pointer;
  user-select: none;

  & { pointer-events:none; }
  .svg-map-tag use { pointer-events:all; }

  .svg-map-tag {
    width: var(--w);
    height: var(--h);
  }


  .svg-map-tag {
    transition: fill var(--time1) ease-in-out,
                color var(--time2) ease-in-out;
  }
  .svg-map-tag {
    // --color__map-tag:        var(--color-primary-orange);
    // --color__map-tag-border: transparent;
    fill: var(--color-primary-orange);
    color: transparent;
  }
  &:hover .svg-map-tag {
    // --color__map-tag:        var(--color-primary-white);
    // --color__map-tag-border: var(--color-primary-white);
    fill: var(--color-primary-white);
    color: var(--color-primary-white);
  }

  .svg-map-tag {
    --color__map-tag__icon--tiger:     transparent;
    --color__map-tag__icon--lion:      transparent;
    --color__map-tag__icon--eagle:     transparent;
    --color__map-tag__icon--alligator: transparent;
    --color__map-tag__icon--lemur:     transparent;
    --color__map-tag__icon--panda:     transparent;
    --color__map-tag__icon--coala:     transparent;
    --color__map-tag__icon--gorilla:   transparent;
  }

  &--tiger     .svg-map-tag { --color__map-tag__icon--tiger:     var(--color-primary-navy); }
  &--lion      .svg-map-tag { --color__map-tag__icon--lion:      var(--color-primary-navy); }
  &--eagle     .svg-map-tag { --color__map-tag__icon--eagle:     var(--color-primary-navy); }
  &--alligator .svg-map-tag { --color__map-tag__icon--alligator: var(--color-primary-navy); }
  &--lemur     .svg-map-tag { --color__map-tag__icon--lemur:     var(--color-primary-navy); }
  &--panda     .svg-map-tag { --color__map-tag__icon--panda:     var(--color-primary-navy); }
  &--coala     .svg-map-tag { --color__map-tag__icon--coala:     var(--color-primary-navy); }
  &--gorilla   .svg-map-tag { --color__map-tag__icon--gorilla:   var(--color-primary-navy); }
}
