@use '../_lib/css-var' as *;
@use '../_mixin/font';

.nav-menu {
  @include font.ui;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__self {
    cursor: default;
  }

  &__link {
    text-decoration: none;
    transition: color 300ms ease-in-out;
  }
}
