/*
  ♻️ BUTTON ICON ♻️
*/
.btn-icon {
  display: block;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;

  transition: 300ms;

  box-shadow: 0 0 5px 0 #0004;
  background-color: var(--color-btn-icon-def);

  &:hover {
    background-color: var(--color-btn-icon-hov);
  }
  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 2px 0 #0008;
    background-color: var(--color-btn-icon-act);
  }
}

.btn-icon--theme {
  --svg-☀️: url('./assets/svg/icon-sun.svg');
  --svg-🌙: url('./assets/svg/icon-moon.svg');

  &-to-dark { background-image: var(--svg-🌙); }
  &-to-light { background-image: var(--svg-☀️); }
}

.btn-icon--fullscreen {
  --svg-⭕: url('./assets/svg/icon-fullscreen-open.svg');
  --svg-❌: url('./assets/svg/icon-fullscreen-exit.svg');

  background-image: var(--svg-⭕);
}
:-webkit-full-screen .btn-icon--fullscreen { background-image: var(--svg-❌); }
:-moz-full-screen .btn-icon--fullscreen { background-image: var(--svg-❌); }
:fullscreen .btn-icon--fullscreen { background-image: var(--svg-❌); }
