/*
  ♻️ FILTERS ♻️
*/

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  padding-right: 60px;

  @media (max-width: 1024px) {
    padding-right: 0;
  }
}

.filters__container--btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filters__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
}

.filters__item {
  flex: 1;
  display: flex;
  justify-content: center;;
}
