/*
  ♻️ FILTERS ♻️
*/

.filters {
  --trans-time: 300ms;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media (max-width: 1024px) {
  .filters {
    row-gap: 10px;
  }
}
@media (max-width: 375px) {
  .filters {
    row-gap: 5px;
  }
}
