@use '../_lib/css-var' as *;

.layout-page {
  position: relative;
  height: 100%;
}

.dev-overlay {
  @include set-vars((
    c: var(--col),
    g: var(--gap),
    x: calc(var(--c) + var(--g)),
    w: calc(var(--c)*12 + var(--g)*11),
  ));
}

.dev {
  &-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &-pixelperfect {
    z-index: 2;
    height: var(--h-dev-overlay);
    background-image: url("../assets/pp/1920/first-page.jpg");
    background-size: 1920px 100%;
    opacity: .0;
    filter: invert(1);
  }
  &-grid {
    z-index: 3;
    // bottom: 0;
    height: 1000%;
    background-image: repeating-linear-gradient(to left,
      rgba(0,0,0,.1) 0 var(--c),
        transparent var(--c) var(--x)
    );
    background-size: var(--w) 100%;
  }
}
