@use '../_lib/css-var' as *;
@use '../_lib/grid';

@use "../element/control-donation";

/*
   👑 👑 👑 👑 👑 👑
  👑 PAGE: ELEMENTS 👑
   👑 👑 👑 👑 👑 👑
*/

.main {
  background-color: #333;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  column-gap: var(--page-gap);

  .btns-cont {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0;
  }

  .map-pins-cont {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 0;

    .btns-cont {
      flex-direction: column;
      padding: 0;
    }
  }
}
