extends ../layout/_layout-page.pug

include ../layout/_layout-block.pug
include ../element/_button.pug
include ../element/_control-arrows.pug
include ../element/_control-donation.pug

include ./_dev.pug

block page-vars
  - var page = 'elements';
  - var file = 'elements';
  - var title = '🧱';
  - var root = '..'

mixin genBtns(txt, mods)
  - const data = {text:txt, link:'#'}
  .btns-cont
    +btn(data, mods)
    +btn-div(data, mods)
    +btn-link(root, data, mods)


block main
  +layout-block("elements")
    h3 Btns

    +genBtns('donate now', ['orange'])
    +genBtns('view live cam', ['orange'])
    +genBtns('send message', ['cyan', 'long'])
    +genBtns('send message', ['cyan', 'long', 'active'])
    +genBtns('choose your favourite', ['navy', 'long'])
    +genBtns('leave feedback', ['white', 'long'])
    +genBtns('view live cam', ['text'])
    +genBtns('feed', ['text', 'free'])
    +genBtns('view map', ['text'])

    .btns-cont
      +control-arrows()
      +control-arrows()
      +control-arrows()
    .btns-cont
      +control-arrows('white')
      +control-arrows('white')
      +control-arrows('white')
    .btns-cont
      +control-arrows('navy')
      +control-arrows('navy')
      +control-arrows('navy')

    .btns-cont
      +control-donation()
      +control-donation()
      +control-donation()

    - const ids = ['panda', 'tiger', 'lion', 'gorilla', 'eagle', 'alligator', 'lemur', 'coala'];

    .map-pins-cont
      each id in ids
        - const item = {id:'map-pin', link:'#', icons: [{id: `map-icon-${id}`, cls: 'map-icon'}]};
        .btns-cont
          +btn-icon(item, [id])
          +btn-link-icon(root, item, [id])

block svg-sprite
  include ../svg/_sprite-map-pin.svg.pug
