include ../layout/_layout-block.pug
include ../element/_button.pug
include ../element/_donate-card.pug

mixin care-for-animals
  include ../_content/_donates.pug

  // ⚜️ BLOCK: CARE-FOR-ANIMALS ⚜️
  +layout-block("div", "care-for-animals")

    section.info
      h2.info__title= "care for the animals you love"
      p.info__text= "You can help to look after the animals you love with your gift today"

    div.feed
      ul.feed__slots
        li.feed__slot.feed__slot--big
          img.feed__slot-img(src="./assets/img/block_care--koala.jpg", alt="Koala close up")
        each donate in donates
          li.feed__slot
            +donate-card('feed__card', donate)

    div.btn-container
      +btn('a', {text: 'choose your favourite', href: './pages/map.html'}, 'navy', 'long')

    figure.touch-the-animal
      img.touch-the-animal__img(src = "./assets/img/block_care--touch.jpg",
                                alt = "Hands touch the screen, which shows a lemur close-up")
