include ../layout/_layout-block.pug
include ../element/_button.pug
include ../element/_input.pug

mixin contact-form(root)
  - const self = 'contact-form';

  // ⚜️ BLOCK: CONTACT-FORM ⚜️
  div(class = self)
    form.form(action="?", method="get")
      +input('contact-form', 'name', 'name', 'text', {text: 'your name', tip: 'First and last name', error: 'name required'}, required = true)
      +input('contact-form', 'email', 'email', 'email', {text: 'your email address ', tip: 'Enter your email', error: 'email address required'}, required = true)
      +input('contact-form', 'subject', 'subject', 'text', {text: 'subject', tip: 'Enter the subject', error: 'subject required'}, required = true)
      +textarea('contact-form', 'message', 'message', {text: 'message', tip: 'Enter your message', error: 'message required'}, required = true, rows = "6")
      .btn-container
        +btn({text: 'send message'}, ['cyan', 'long', 'active'])
