@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';

/*
  ⚜️ BLOCK: CONTACT-FORM ⚜️
*/

.contact-form {
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .btn-container {
    padding-top: 37px;

    @media (max-width: 1400px) {
      padding-top: 20px;
    }

    @media (max-width: 1000px) {
      --btn-w-large: 290px;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 500px) {
      --btn-w-large: 100%;
      padding-top: 0px;
    }
  }
}
