include ../layout/_layout-block.pug
include ../element/_logo.pug
include ../element/_nav-menu.pug
include ../element/_social-media-links.pug
include ../element/_button.pug

mixin footer(root, page)
  -
    const self = 'footer';
    const logosData = [
      {
        id: 'main',
        title: 'Online Zoo',
        link: root,
      },
      {
        id: 'yem-digital',
        title: 'Yem Digital',
      },
      {
        id:'rs-school-js',
        title:'Rolling Scopes School',
      }
    ];

  // ⚜️ BLOCK: FOOTER ⚜️
  +layout-block(self, self)
    .footer__top
      ul.logo__items
        each data in logosData
          li.logo__item
            +logo(data)
      +nav-menu(root, self)
      +btn({text: 'donate for volunteers'}, ['white', 'long'])

    .footer__bottom
      ul.copyright__items
        each item in ['2021 DinaK', 'Yem Digital', 'RSSchool']
          li.copyright__item= item
      +social-media-links()
