include ../layout/_layout-block.pug
include ../element/_logo.pug
include ../element/_nav-menu.pug
include ../element/_social-media-links.pug
include ../element/_button.pug

mixin footer(page, root)
  -
    var logosData = [
      {
        id: 'main',
        title: 'Online Zoo'
      },
      {
        id: 'yem-digital',
        title: 'Yem Digital'
      },
      {
        id:'rs-school-js',
        title:'Rolling Scopes School'
      }
    ];

    logosData = page == 'about' ? logosData.filter(x => x.id != 'main') : logosData;

  // ⚜️ BLOCK: FOOTER ⚜️
  +layout-block("footer", "footer")
    .footer__top
      ul.logo__items
        if page == 'about'
          li.logo__item
            +logo-main
        each data in logosData
          li.logo__item
            +logo(data)
      +nav-menu('', {}, root)
      +btn('button', {text: 'donate for volunteers'}, 'white', 'long')

    .footer__bottom
      ul.copyright__items
        each item in ['2021 DinaK', 'Yem Digital', 'RSSchool']
          li.copyright__item= item
      +social-media-links()
