include ../layout/_layout-block.pug
include ../element/_button.pug

mixin hero(root)
  // ⚜️ BLOCK: HERO ⚜️
  +layout-block("div", "hero")
    h2.title= "Watch your favorite animal online"

    p.text= "Explore the exciting and mysterious world of wild animals in a natural setting without leaving your home."

    .btn-container
      -const data = {text: 'view live cam', link: 'pages/zoos/panda.html'}
      +btn-link(root, data)
