@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';
@use '../element/article';

/*
  ⚜️ BLOCK: HERO ⚜️
*/

.page__hero-background {
  background-color: var(--color-main-light);
  background-image: url("./assets/bg/about-intro-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-position-x: calc(50% - 37px);
  background-size: auto;

  @media screen and (max-width: 1500px) {
    background-image: url("./assets/bg/about-intro-1200.jpg");
    background-position: bottom right;
  }

  @media screen and (max-width: 1000px) {
    background-image: url("./assets/bg/about-intro-640.jpg");
    background-position: bottom right;
  }

  @media screen and (max-width: 320px) {
    background-image: url("./assets/bg/about-intro-320.jpg");
    background-position: bottom right;
  }
}

.page__hero-wrapper {
  --hero-min-h: 900px;
  min-height: calc(var(--hero-min-h) - var(--page-h-header));

  @media screen and (max-width: 1500px) {
    --hero-min-h: 800px;
  }

  @media screen and (max-width: 800px) {
    --hero-min-h: 754px;
  }

  @media screen and (max-width: 600px) {
    --hero-min-h: 796px;
  }
}

.hero {
  padding-top: 129px;

  &__article-heading {
    max-width: 890px;
    width: 100%;
    margin-bottom: 32px;
  }
  &__article-text {
    max-width: 430px;
    width: 100%;
    margin-bottom: 45px;
  }

  @include article.style(h1, var(--color-ui-2-def));

  @media screen and (max-width: 1500px) {
    padding-top: 100px;

    &__article-heading {
      margin-bottom: 10px;
    }
    &__article-text {
      max-width: 340px;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 1000px) {
    padding-top: 50px;

    &__article-heading {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    padding-top: 51px;

    &__article-heading {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    padding-top: 20px;

    &__article-heading {
      margin-bottom: 10px;
    }
    &__article-text {
      margin-bottom: 28px;
    }
  }
}
