include ../layout/_layout-block.pug
include ../element/_button.pug
include ../element/_youtube-player.pug
include ../element/_bage.pug
include ../block/_side-bar.pug

mixin live-cams(root, animal)
  include ../_lib/_bem.js.pug
  -
    const bem = new Bem('live-cams');
    const animals = [
      {
        name: 'panda',
        title: 'live panda cams',
        cams: ['OObOQ2GElhA', 'YgFFo1-X8zY', '65JHo3Cy2tY', 'D0eqnda8dOk'],
      },
      {
        name: 'eagle',
        title: 'bald eagle cams',
        cams: ['XfoUF8YkB7A', 'eY0dvOvGM1A', 'bVTsOWFonmw', '7utMaDb1W08'],
      },
      {
        name: 'gorilla',
        title: 'gorillas cams',
        cams: ['sapfpA9z5PQ', '0P3w8mHiVy0', 'rgXWDk7rh4w', '672cUSe69J0'],
      },
      {
        name: 'lemur',
        title: 'lemurs cams',
        cams: ['vw2Spqhk4AY', '2M1BmfHlOEI', '2w-8DnczSLI', 'euyoFTuitI8'],
      },
    ];
    const data = animals.filter(a => a.name == animal)[0];

  // ⚜️ BLOCK: LIVE-CAM ⚜️
  +layout-block(bem.fullClass)

    +side-bar(root, animal)

    div(class = bem.elem('wrapper', 'header'))
      div(class = bem.elem('separator', 'header'))
      div(class = bem.elem('container', 'heading'))
        h2(class = bem.elem('heading'))= data.title
      div(class = bem.elem('container', ['btn', 'btn-first', 'header']))
        +btn({text: 'donate now'})

    div(class = bem.elem('wrapper', 'main-cam'))
      +youtube-player(data.cams[0], 'main-cam', bem.self)

    div(class = bem.elem('container', ['btn', 'btn-second']))
      +btn({text: 'donate now'})

    div(class = bem.elem('wrapper', 'cam-slider'))
      div(class = bem.elem('container', 'sub-heading'))
        h3(class = bem.elem('sub-heading'))= 'More live views'
      div(class = bem.elem('slider'))
        div(class = bem.elem('container', ['control', 'control-prev']))
          +btn-icon({id: 'arrow-to-left'}, ['navy', 'prev'], bem.self)
        div(class = bem.elem('container', ['control', 'control-next']))
          +btn-icon({id: 'arrow-to-right'}, ['navy', 'next'], bem.self)
        div(class = bem.elem('container', 'slots'))
          ul(class = bem.elem('slots'))
            each id, ix in data.cams.slice(1)
              li(class = bem.elem('slot', slotMods))
                - const playerMods = ['slider-cam', `slider-cam-${ix+1}`];
                +youtube-player(id, playerMods, bem.self)
                div(class = bem.elem('slot-overlay'))
                - const txt = `cam ${ix+1}`
                +bage(txt, txt, bem.self)

    div(class = bem.elem('container', ['btn', 'btn-third']))
      +btn({text: 'donate now'})
