@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';

/*
  ⚜️ BLOCK: PETS-IN-ZOO ⚜️
*/

.pets-in-zoo {
  background-color: var(--clr-main-light);

  @include set-vars ((
    c2: grid.col(2),
    c4: grid.col(4),
    c6: grid.col(6),
    c12: grid.col(12),
    w-max: 1920px,
  ));

  overflow-x: hidden;

  --a: calc((var(--w-max) - var(--c12)) / 2);

  .wrapper {
    padding-top: 136px;
    padding-bottom: 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 999;
      width: 9999px;
      left: 100%;
      top: 0;
      bottom: 0;
      pointer-events: none;
      background-image: linear-gradient(to right, transparent 0px, var(--clr-main-light) var(--c4));
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 999;
      width: 9999px;
      left: calc(100% + var(--a) + var(--c2));
      top: 0;
      bottom: 0;
      background-color: var(--clr-main-light);
    }
  }



  .info {
    &__title {
      padding-bottom: 50px;
      @include font.h2;
      text-align: center;
      color: var(--clr-ui-2-def);
    }

    &__text {
      padding: 0 calc(var(--c2) + var(--gap));
      padding-bottom: 100px;
      @include font.h-sub;
      color: var(--clr-main-dark);
      text-align: center;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
  }

  .slider {
    &__controls {
      max-width: var(--c12);
    }

    &__slot {
      width: var(--c4);
    }

    &__slots {
      position: relative;
    }
  }
}


/* 💩 pixel-perfect 💩 */
.pets-in-zoo {
  .info {
    &__title { padding-left: 20px; }
    &__text { min-height: 202px; }
  }
}
