include ../layout/_layout-block.pug
include ../element/_control-donation.pug

mixin quick-donation
  // ⚜️ BLOCK: QUICK-DONATION ⚜️
  +layout-block("section", "quick-donation")
    .info
      h3.info__title= "Your donation makes a difference!"
      p.info__text= "The Online Zoo's animal webcams are some of the most famous on the internet. Tune in to watch your favourite animals — live, 24/7!"

    .action
      .action__title= "Quick Donate"
      .action__input
        +control-donation
