@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';
@use '../element/article';

@use '../element/control-donation';

/*
  ⚜️ BLOCK: QUICK-DONATION ⚜️
*/

.page__quick-donation-background {
  background-color: var(--color-main-navy);
  color: var(--color-main-light);
}

.quick-donation {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: var(--page-w-gap);

    min-height: 221px;
    padding: 51px 0 44px;
  }

  &__article {
    max-width: 900px;

    &--zoos {
      max-width: 920px;
    }
  }

  &__article-heading {
    @include font.h3;
    margin-bottom: 21px;
  }

  &__article-text {
    max-width: 610px;

    &--zoos {
      max-width: 100%;
    }
    &--panda {
      max-width: 873px;
    }
  }

  &__ctrl-heading {
    @include font.h-sub;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 1400px) {
  .quick-donation {
    &__wrapper {

      &--🔰 {
        min-height: 313px;
        padding: 51px calc(100px - var(--page-w-off)) 48px;
      }

      &--zoos {
        padding: 31px 0 27px;
      }
    }

    &__article {
      &--🔰 {
        max-width: 575px;
      }

      &--zoos {
      }
      &--panda {
        max-width: 740px;
      }
    }

    &__article-heading {
      &--🔰 {
        margin-bottom: 31px;
      }
    }

    &__ctrl-wrapper {
      &--zoos {
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .quick-donation {

    &__wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      &--🔰 {
        min-height: 459px;
        padding: 51px 0 50px;
      }

      &--zoos {
        padding: 50px 0 53px;
      }

      &--panda {
      }
    }

    &__article {
      max-width: 100%;
    }

    &__article-heading {
      padding: 0 10px;

      &--zoos {
        padding: 0 0 10px;
      }
    }

    &__article-text {
      max-width: 100%;
    }

    &__ctrl-wrapper {
      padding-top: 26px;
    }
  }
}

@media screen and (max-width: 500px) {
  .quick-donation {

    &__wrapper {
      &--🔰 {
        min-height: 446px;
        padding: 30px 0 40px;
      }

      &--zoos {
        padding: 20px 0 50px;
      }

      &--panda {
      }
    }

    &__article-heading {
      margin-bottom: 27px;

      &--zoos {
        margin-bottom: 15px;
      }
    }

    &__ctrl-wrapper {
      width: 100%;
      padding-top: 29px;

      &--zoos {
        padding-top: 20px;
      }
    }
  }
}
