@use '../_lib/css-var' as *;

/*
  ⚜️ BLOCK: SIDE-BAR ⚜️
*/

:root {
  --side-bar-rail-w: 220px;

  @media screen and (max-width: 1600px) {
    --side-bar-rail-w: 115px;
  }
  @media screen and (max-width: 1000px) {
    --side-bar-rail-w: 78px;
  }
  @media screen and (max-width: 600px) {
    --side-bar-rail-w: 50px;
  }
}

.side-bar-rail {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--side-bar-rail-w);

  @media screen and (max-width: 800px) {
    top: calc(-1 * var(--page-h-header));
  }
}

.side-bar {
  --⚙️--side-bar-color-bg: var(--side-bar-color-bg, var(--color-main-navy));
  --⚙️--side-bar-color-def: var(--side-bar-color-def, var(--color-main-light));
  --⚙️--side-bar-color-hov: var(--side-bar-color-hov, var(--color-ui-1-def));
  --⚙️--side-bar-border: 1px solid var(--⚙️--side-bar-color-def);
  --⚙️--side-bar-slot-h: 170px;
  --⚙️--side-bar-visible-slots: var(--side-bar-visible-slots, 4);
  --⚙️--side-bar-selector-h: calc(var(--⚙️--side-bar-visible-slots) * var(--⚙️--side-bar-slot-h));
  --⚙️--side-bar-move-slots: var(--side-bar-move-slots, 0);
  --⚙️--side-bar-move-slots-h: calc(-1 * var(--⚙️--side-bar-move-slots) * var(--⚙️--side-bar-slot-h));
  --⚙️--side-bar-move-time: var(--side-bar-move-time, 300ms);

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: 200ms;

  border: var(--⚙️--side-bar-border);
  border-top: none;
  border-left: none;
  background-color: var(--⚙️--side-bar-color-bg);

  @media screen and (max-width: 800px) {
    top: var(--page-h-header);
  }
  @media screen and (max-width: 1000px) {
    --⚙️--side-bar-slot-h: 100px;
  }
  @media screen and (max-width: 600px) {
    --⚙️--side-bar-slot-h: 50px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }
  &__container {
    &--control-expand { order: 1; }
    &--control-scroll-down { order: 3; }
    &--selector { order: 2; }
  }

  &__container {
    &--bage {
      position: absolute;
      top: 0;
      left: 0;

      @media screen and (max-width: 1600px) {
        display: none;
      }
    }

    &--control {
      height: 80px;

      --w-btn-icon: 100%;
      --h-btn-icon: 100%;
      --color-icon-def: var(--⚙️--side-bar-color-def);
      --color-icon-hov: var(--⚙️--side-bar-color-hov);

      box-shadow: inset 0 0 0 #0000;
      transition: box-shadow 500ms;

      &:hover { box-shadow: inset 0 0 25px #0005; }

      @media screen and (max-width: 1000px) {
        height: 50px;
      }

      .btn-icon:hover .svg-icon { transform: scale(1.25); }

      &-expand {
        .btn-icon {
          justify-content: flex-end;
          padding-right: 30px;

          @media screen and (max-width: 1600px) {
            justify-content: center;
            padding-right: 0;
          }
        }
      }
    }
  }

  &__container--selector {
    position: relative;
    height: var(--⚙️--side-bar-selector-h);
    overflow-y: hidden;
    border-top: var(--⚙️--side-bar-border);
    border-bottom: var(--⚙️--side-bar-border);
    background-color: var(--⚙️--side-bar-color-def);
  }

  &__selector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(var(--⚙️--side-bar-move-slots-h));
    transition: var(--⚙️--side-bar-move-time);
  }

  &__slot {
    flex: 1 0 var(--⚙️--side-bar-slot-h);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--⚙️--side-bar-color-bg);
    border-bottom: var(--⚙️--side-bar-border);
    &:last-child { border-bottom: none; }
  }

  &__btn-icon {
    --w-btn-icon: 104px;
    --h-btn-icon: 104px;
    --w-svg-icon: 70px;
    --h-svg-icon: 70px;
    --color-btn-def: var(--⚙️--side-bar-color-hov);
    --color-btn-hov: var(--⚙️--side-bar-color-hov);
    --color-icon-def: var(--⚙️--side-bar-color-bg);
    --color-icon-hov: var(--⚙️--side-bar-color-def);
    --⚙️--side-bar-btn-outline-color: var(--⚙️--side-bar-color-bg);

    display: grid;
    justify-items: center;
    align-items: center;

    opacity: 1;
    border-radius: 50%;
    box-shadow:
        0 0 0 5px var(--⚙️--side-bar-color-bg),
        0 0 0 8px var(--⚙️--side-bar-btn-outline-color);

    &--not-active {
      --color-btn-def: var(--⚙️--side-bar-color-def);
      --color-btn-hov: var(--⚙️--side-bar-color-def);
      --⚙️--side-bar-btn-outline-color: var(--⚙️--side-bar-color-def);
      pointer-events: none;
    }

    &:hover {
      --⚙️--side-bar-btn-outline-color: var(--⚙️--side-bar-color-hov);
    }

    .svg-icon {
      opacity: 1;
    }
    .btn-icon__text {
      display: none;
      opacity: 0;
    }

    @media screen and (max-width: 1600px) {
      --w-btn-icon: 100%;
      --h-btn-icon: 100%;
      --w-svg-icon: 50px;
      --h-svg-icon: 50px;
      --color-btn-def: transparent;
      --color-btn-hov: transparent;
      --color-icon-def: var(--⚙️--side-bar-color-hov);
      --color-icon-hov: var(--⚙️--side-bar-color-def);
      border-radius: unset;
      box-shadow: none;

      &--not-active {
        --color-icon-def: var(--⚙️--side-bar-color-def);
        --color-icon-hov: var(--⚙️--side-bar-color-def);
      }

      &:hover {
        box-shadow: none;
        .svg-icon { transform: scale(1.1); }
      }
    }
    @media screen and (max-width: 1000px) {
      --w-svg-icon: 35px;
      --h-svg-icon: 35px;
    }
    @media screen and (max-width: 600px) {
      --w-svg-icon: 25px;
      --h-svg-icon: 25px;
    }
  }
}


.side-bar--expand {
  width: 300px;

  @media screen and (max-width: 1000px) {
    width: 233px;
  }
  @media screen and (max-width: 600px) {
    width: 230px;
  }

  .side-bar {
    &__container {
      &--bage {
        display: block;
      }
      &--control {
        &-expand {
          .btn-icon {
            justify-content: flex-end;
            padding-right: 30px;

            &--icon-expand {
              .svg-icon { transform: rotate(180deg); }
              &:hover .svg-icon { transform: scale(1.5) rotate(180deg); }
            }
          }
        }
      }
    }

    &__btn-icon {
      --w-btn-icon: 100%;
      --h-btn-icon: 100%;
      --w-svg-icon: 70px;
      --h-svg-icon: 70px;
      --color-btn-def: transparent;
      --color-btn-hov: transparent;
      --color-icon-def: var(--⚙️--side-bar-color-hov);
      --color-icon-hov: var(--⚙️--side-bar-color-def);
      --⚙️--side-bar-expand-animation: show 400ms linear 200ms 1 forwards;

      opacity: 0;
      animation: var(--⚙️--side-bar-expand-animation);

      display: grid;
      grid-template-columns: 114px 1fr;
      justify-items: center;
      align-items: center;

      border-radius: unset;
      box-shadow: none;
      color: var(--⚙️--side-bar-color-def);
      text-decoration: none;

      &--not-active {
        --color-icon-def: var(--⚙️--side-bar-color-def);
        --color-icon-hov: var(--⚙️--side-bar-color-def);
      }

      &:hover {
        box-shadow: none;
        color: var(--⚙️--side-bar-color-hov);
      }

      .svg-icon {
        grid-column: 1;
        grid-row: 1;
        opacity: 0;
        animation: var(--⚙️--side-bar-expand-animation);
      }
      .btn-icon__text {
        grid-column: 2;
        grid-row: 1;
        display: block;
        padding-right: 10px;
        animation: var(--⚙️--side-bar-expand-animation);
      }

      @media screen and (max-width: 1600px) {
        line-height: 140%;
      }
      @media screen and (max-width: 1000px) {
        --w-svg-icon: 35px;
        --h-svg-icon: 35px;
        grid-template-columns: 66px 1fr;
        font-size: 14px;
        line-height: 130%;
      }
      @media screen and (max-width: 600px) {
        --w-svg-icon: 25px;
        --h-svg-icon: 25px;
        grid-template-columns: 56px 1fr;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 120%;
      }
    }
  }
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
