@use '../_lib/css-var' as *;

/*
  ⚜️ BLOCK: SIDE-BAR ⚜️
*/

.side-bar {
  --w: 220px;
  --offcet: calc(50% - 960px);
}

.side-bar {
  z-index: 999;
  position: absolute;
  width: var(--w);
  top: 0;
  bottom: 0;
  left: max(-10px, var(--offcet));

  &__menu {
    position: sticky;
    top: 0;
    left: 0;

    border-right: 1px solid var(--clr-main-light);
    border-bottom: 1px solid var(--clr-main-light);
    background-color: var(--clr-main-navy);
  }

  &__control {
    position: relative;
    height: 80px;

    .btn-icon {
      fill: var(--clr-main-light);
      transition: 300ms ease-in-out;
      &:hover {
        fill: var(--clr-ui-1-def);
        transform: scale(1.1);
      }
    }

    &-expand {
      .btn-icon {
        position: absolute;
        right: 30px;
        top: 30px;

      }
    }
    &-scroll-down {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .cam-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    border-top: 1px solid var(--clr-main-light);
  }
  &__control:last-child {
    border-top: 1px solid var(--clr-main-light);
  }

  .cam-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: var(--clr-ui-1-def);
    fill: var(--clr-main-navy);

    svg { transition: transform 300ms ease-in-out; }
    &:hover svg { transform: scale(1.2); }
  }
  .cam-icon svg { height: 61px; }
  .icon-panda svg { width: 81px; }
  .icon-lemur svg { width: 37px; }
  .icon-eagle svg { width: 69px; }
  .icon-gorilla svg { width: 69px; }

  .cam-icon.cam-self {
    fill: var(--clr-main-navy);
    background-color: var(--clr-main-light);
    box-shadow: 0 0 0 5px var(--clr-main-navy), 0 0 0 8px var(--clr-main-light);
    svg { transform: scale(1); }
  }
}
