@use '../_lib/css-var' as *;
@use '../_lib/grid';
@use '../_lib/font';
@use '../element/article';

/*
  ⚜️ BLOCK: TESTIMONIALS ⚜️
*/

.page__testimonials-background {
  --testimonials-bg-color: var(--color-main-navy);
  --testimonials-bg-img: url('./assets/bg/about-testimonials-1920.jpg');

  background-color: var(--testimonials-bg-color);
  background-image: var(--testimonials-bg-img);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  position: relative;
  overflow-x: hidden;

  @media screen and (max-width: 1400px) {
  }
  @media screen and (max-width: 1200px) {
    --testimonials-bg-img: url('./assets/bg/about-testimonials-1200.jpg');
  }
  @media screen and (max-width: 900px) {
  }
  @media screen and (max-width: 640px) {
    --testimonials-bg-img: url('./assets/bg/about-testimonials-640.jpg');
  }
  @media screen and (max-width: 500px) {
  }
  @media screen and (max-width: 320px) {
    --testimonials-bg-img: url('./assets/bg/about-testimonials-320.jpg');
  }
}

@media screen and (min-width: 500px) {
  .page__testimonials-mask {
    --page-w-half: calc(var(--page-w) / 2);
    --mask-w: calc(50% - var(--page-w-half));
    --mask-grad-w-max: calc(960px - var(--page-w-half));
    --mask-grad-w: min(100%, var(--mask-grad-w-max));
    --grad: linear-gradient(90deg, transparent, var(--testimonials-bg-color) var(--mask-grad-w));

    &--grad {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
      width: var(--mask-w);
    }

    &--left { left: 0; }
    &--right { right: 0; }

    &--left-grad {
      background: linear-gradient(to left, transparent, var(--testimonials-bg-color) var(--mask-grad-w));
    }
    &--right-grad {
      background: linear-gradient(to right, transparent, var(--testimonials-bg-color) var(--mask-grad-w));
    }
  }
}

.testimonials {
  --testimonials-min-h: 1773px;
  display: flex;
  flex-direction: column;
  min-height: var(--testimonials-min-h);
  height: 100%;
  padding: 100px 0 150px;

  @media screen and (max-width: 1400px) {
    padding: 100px 0 150px;
  }
  @media screen and (max-width: 1200px) {
    --testimonials-min-h: 1880px;
  }
  @media screen and (max-width: 900px) {
    padding: 80px 0 150px;
    row-gap: 50px;
  }
  @media screen and (max-width: 640px) {
    --testimonials-min-h: 1670px;
  }
  @media screen and (max-width: 500px) {
    padding: 40px 0 150px;
  }
  @media screen and (max-width: 320px) {
    --testimonials-min-h: 1461px;
  }

  &__main-container {
    display: grid;
    grid-template-columns: repeat(var(--page-cols), minmax(0, 1fr));
    column-gap: var(--page-w-gap);
    width: 100%;
    flex-grow: 2;

    @media screen and (max-width: 1400px) {
      row-gap: 55px;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: minmax(0, 1fr);
      flex-grow: 0;
    }
    @media screen and (max-width: 500px) {
      row-gap: 40px;
    }
  }

  &__article {
    grid-column: 1 / span 5;
    color: var(--color-main-light);

    @media screen and (max-width: 1400px) {
      grid-column: 1 / span 7;
      padding-right: 70px;
    }
    @media screen and (max-width: 900px) {
      grid-column: 1;
      padding-right: 25px;
    }
    @media screen and (max-width: 500px) {
      padding-right: 0;
      text-align: center;
    }
  }

  &__article-heading {
    padding-bottom: 38px;
    @include font.h2;

    @media screen and (max-width: 1400px) {
      padding-bottom: 23px;
    }
    @media screen and (max-width: 900px) {
    }
    @media screen and (max-width: 500px) {
      padding-bottom: 25px;

      br { display: none; }
    }
  }

  &__article-text {
    @include font.h-sub;

    @media screen and (max-width: 1400px) {
    }
    @media screen and (max-width: 900px) {
    }
    @media screen and (max-width: 500px) {
      padding: 0 10px;
      @include font.text;
    }
  }

  &__slider {
    --slider-ctrl-arrows-order: 1;
    --slider-ctrl-arrows-align: flex-start;
    --slider-ctrl-gap-h: 55px;

    --slider-slot-w: 515px;
    --slider-slots-gap-w: 30px;
    --slider-slots-gap-h: 30px;

    clip-path: inset( -100% -100% -100% 0 );

    grid-column: 6 / span 7;

    @media screen and (max-width: 1400px) {
      --slider-ctrl-arrows-align: flex-end;
      --slider-ctrl-gap-h: 30px;

      clip-path: unset;

      grid-column: 2 / span 11;
      padding-left: 5px;
    }

    @media screen and (max-width: 900px) {
      --slider-ctrl-arrows-display: none;

      --slider-slot-w: 523px;
      --slider-slots-gap-w: var(--page-w-gap);

      grid-column: 1;
      padding-left: 0px;

      .slider__slots--row-2 {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      --slider-ctrl-dots-display: flex;
      --slider-ctrl-dots-order: 1;
      --slider-ctrl-gap-h: 20px;

      --slider-slot-w: 100%;
    }

    .slider {
      &--transition {
        --slider-move-time: 300ms;
      }

      &__ctrl-container {
        &--progress {
          order: 1;
          display: block;
        }
      }

      &__time-switch {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        border-radius: 15px;
        background-color: #0004;
        backdrop-filter: blur(10px);
        cursor: pointer;

        &-check { display: none; }
        &-button {
          --switch-x: 25%;
          flex: 0 0 60px;
          display: block;
          height: 30px;
          width: 60px;
          border: 1px solid #fff4;
          border-radius: 15px;
          background-image:
            radial-gradient(circle farthest-corner at var(--switch-x) 50%, #fff8 25%, #fff4 26%);
        }
        &-text {
          user-select: none;
          font-size: 20px;
          line-height: 30px;
          color: #fff8;
        }
        &-check:not(:checked) ~ .slider__time-switch-text--default { display: none; }
        &-check:checked ~ .slider__time-switch-text--test { display: none; }
        &-check:checked ~ .slider__time-switch-button { --switch-x: 75%; }
      }

      &__progress {
        --progress-time: 1;
        --max-time: 15;
        --x: calc(var(--progress-time) / var(--max-time) * 100%);
        position: relative;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #fff1;
        background-image: linear-gradient(90deg, #fff4, #fff4 var(--x), #fff1 var(--x));
        background-size: 100% 30px;
        background-position-x: 30%;
        backdrop-filter: blur(10px);

        &::before {
          counter-reset: progress-time var(--progress-time);
          content: counter(progress-time);
          display: block;
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 10px;
          background-color: var(--c);
          font-size: 40px;
          line-height: 50px;
          color: #0008;
          pointer-events: none;
          user-select: none;
        }
      }

      &__slot {
        --r: calc(50 * (var(--slider-slot-num) - 1));
        --x: calc(0.12 * var(--slider-slot-num));
        --c: hsla(var(--r), 100%, 50%, 0.4);
        position: relative;

        &::before {
          counter-reset: slider-slot-num var(--slider-slot-num);
          content: counter(slider-slot-num);
          display: block;
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: var(--c);
          // mix-blend-mode: multiply;
          font-size: 100px;
          line-height: 100px;
          color: #0001;
          pointer-events: none;
          user-select: none;
          text-align: right;
        }
      }
    }

  }

  &__btn-container {
    @media screen and (max-width: 1400px) {
      padding-left: calc(var(--page-w-col) + var(--page-w-gap));
    }
    @media screen and (max-width: 900px) {
      padding-left: 0;
    }
    @media screen and (max-width: 500px) {
    }
  }
}










