include ../layout/_layout-block.pug
include ../element/_slider.pug
include ../element/_button.pug
include ../element/_testimonial-card.pug

mixin testimonials(root)
  include ../_lib/_bem.js.pug
  include ../_content/_testimonials.pug
  -
    const self = 'testimonials';
    const bem = new Bem(self);
    const controlColor = 'white';

  // ⚜️ BLOCK: TESTIMONIALS ⚜️
  +layout-block('div', self)
    section.info
      h2.info__title= "what our users think"
      p.info__text= "We are continuously striving to improve the experiences of our future guests. Below you can leave your own feedback, or simply view feedback from past clients."

    +gen-slider(root, 'testimonial-card', testimonials, 'double-row', controlColor)

    .btn-container
      +btn({text: 'leave feedback'}, [controlColor, 'long'])
