.page-score {
  --page-color-main-dark: #111;
  --page-color-main-light: #fff;
  --page-color-second-dark: #0008;
  --page-color-record-bg: hsla(var(--color-first-dark), 0.2);
  --page-color-record-score-bg: hsla(var(--color-second-default), 1);
  --page-color-active-record-bg: hsla(var(--color-second-default), 0.5);
  --page-color-active-record-score-bg: hsla(var(--color-first-default), 1);
  --page-color-avatar-bg: #fff3;
  --page-color-avatar-icon: #0003;

  padding: 20px;
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 20px;
}

.users {
  min-width: 900px;
  display: grid;
  grid-template-columns: 240px 210px 180px 150px;
  column-gap: 20px;
  justify-content: center;
}

.set {
  display: grid;
  row-gap: 20px;
  align-content: center;
}
.set-1 {
  --set-scale: 2.4;
  grid-template-rows: repeat(1, minmax(0, 330px));
}
.set-2 {
  --set-scale: 2.1;
  grid-template-rows: repeat(2, minmax(0, 280px));
}
.set-3 {
  --set-scale: 1.8;
  grid-template-rows: repeat(3, minmax(0, 230px));
}
.set-4 {
  --set-scale: 1.5;
  grid-template-rows: repeat(4, minmax(0, 180px));
}
