@charset "UTF-8";
.bage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: 38px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid var(--clr-main-light);
  border-right: 1px solid var(--clr-main-light);
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--clr-main-light);
  fill: var(--clr-main-light);
}
.bage__icon {
  width: 18px;
  height: 18px;
}
.bage--active {
  border-color: var(--clr-ui-1-def);
  background-color: var(--clr-ui-1-def);
}

/*
  ⚜️ BLOCK: SIDE-BAR ⚜️
*/
.side-bar {
  --w: 220px;
  --offcet: calc(50% - 960px);
}

.side-bar {
  z-index: 999;
  position: absolute;
  width: var(--w);
  top: 0;
  bottom: 0;
  left: max(-10px, var(--offcet));
}
.side-bar__menu {
  position: sticky;
  top: 0;
  left: 0;
  border: 1px solid var(--clr-main-light);
  border-top: none;
  background-color: var(--clr-main-navy);
}
.side-bar__control {
  position: relative;
  height: 80px;
}
.side-bar__control .btn-icon {
  fill: var(--clr-main-light);
  transition: 300ms ease-in-out;
}
.side-bar__control .btn-icon:hover {
  fill: var(--clr-ui-1-def);
  transform: scale(1.1);
}
.side-bar__control-expand .btn-icon {
  position: absolute;
  right: 30px;
  top: 30px;
}
.side-bar__control-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar .cam-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 172px;
  border-top: 1px solid var(--clr-main-light);
}
.side-bar__control:last-child {
  border-top: 1px solid var(--clr-main-light);
}
.side-bar .cam-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: var(--clr-ui-1-def);
  fill: var(--clr-main-navy);
}
.side-bar .cam-icon svg {
  transition: transform 300ms ease-in-out;
}
.side-bar .cam-icon:hover svg {
  transform: scale(1.2);
}
.side-bar .cam-icon svg {
  height: 61px;
}
.side-bar .icon-panda svg {
  width: 81px;
}
.side-bar .icon-lemur svg {
  width: 37px;
}
.side-bar .icon-eagle svg {
  width: 69px;
}
.side-bar .icon-gorilla svg {
  width: 69px;
}
.side-bar .cam-icon.cam-self {
  fill: var(--clr-main-navy);
  background-color: var(--clr-main-light);
  box-shadow: 0 0 0 5px var(--clr-main-navy), 0 0 0 8px var(--clr-main-light);
}
.side-bar .cam-icon.cam-self svg {
  transform: scale(1);
}

/*
  🧱 ELEMENT: ANIMAL-CARD 🧱
*/
.youtube-player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-player__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*
  ⚜️ BLOCK: LIVE-CAM ⚜️
*/
.live-cams {
  --c3: calc(var(--col)*3 + var(--gap)*2);
  --c1-g1: calc(var(--col)*1 + var(--gap)*1);
}
.live-cams__heading {
  display: grid;
  width: 100%;
  grid-template-columns: var(--c3) 1fr var(--c3);
  grid-template-areas: ". title btn";
  align-items: center;
  padding-top: 50px;
  padding-bottom: 46px;
}
.live-cams__heading .live-cams__title {
  grid-area: title;
}
.live-cams__heading .btn-container {
  grid-area: btn;
}
.live-cams__heading .live-cams__title {
  text-align: center;
}
.live-cams__heading .btn-container {
  display: flex;
  justify-content: flex-end;
}
.live-cams__title {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h2);
  font-size: var(--font-size--h2);
  line-height: var(--line-height--h2);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--clr-ui-2-def);
}
.live-cams .main-cam {
  width: 100%;
}

.live-cams__cams {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
}
.live-cams__cams .title {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h3);
  font-size: var(--font-size--h3);
  line-height: var(--line-height--h3);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-align: center;
  padding-bottom: 30px;
}

.live-cams__slider {
  width: 100%;
  padding-left: var(--c1-g1);
  display: grid;
  grid-template-columns: var(--col) 1fr var(--col);
  grid-template-areas: "prev slots next";
  column-gap: var(--gap);
}
.live-cams__slider .slider__control--prev {
  grid-area: prev;
}
.live-cams__slider .slider__control--next {
  grid-area: next;
}
.live-cams__slider .slider__slots {
  grid-area: slots;
}
.live-cams .slider__slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gap);
}
.live-cams .slider__slot {
  position: relative;
  overflow: hidden;
}
.live-cams .slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.live-cams .slider__slot .bage {
  position: absolute;
  top: 0;
  left: 0;
}
.live-cams .slider__control {
  display: flex;
  align-items: center;
}
.live-cams .slider__control--prev {
  justify-self: flex-end;
}
.live-cams .slider__control--next {
  justify-self: flex-start;
}
.live-cams .slider__control .btn-icon {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 300ms ease-in-out;
}
.live-cams .slider__control .btn-icon:hover {
  fill: var(--clr-ui-2-def);
  transform: scale(1.1);
}
.live-cams .slider .youtube-player {
  padding-bottom: 65.3125%;
}
.live-cams .slider .bage {
  width: 190px;
  height: 43px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h-sub);
  font-size: var(--font-size--h-sub);
  line-height: var(--line-height--h-sub);
  /* 🔼🔠🔼 */
}

/*
  🧱 ELEMENT: CONTROL-DONATION 🧱
*/
.control-donation {
  --c2: calc(var(--col)*2 + var(--gap)*1);
  --c3: calc(var(--col)*3 + var(--gap)*2);
  --xx: calc(var(--c2) + 4px);
}

.control-donation {
  width: var(--c3);
  height: var(--h-btn);
  border-width: 1px;
  display: grid;
  grid-template-columns: 25px var(--c2) var(--col);
  column-gap: 5px;
  align-items: center;
}
.control-donation .btn {
  width: calc(var(--col) - 1px);
  height: calc(var(--h-btn) - 2px);
  margin-left: 4px;
}

.control-donation {
  border-color: var(--clr-main-light);
  border-style: solid;
  border-radius: 5px;
}
.control-donation .sign {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  text-align: right;
  color: var(--clr-main-light);
  user-select: none;
}
.control-donation .amount {
  padding: 0;
  border: none;
  outline: none;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--ui-text);
  font-size: var(--font-size--ui-text);
  line-height: var(--line-height--ui-text);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  background-color: transparent;
  color: var(--clr-main-light);
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.control-donation .amount::placeholder {
  color: var(--clr-main-light);
  opacity: 1;
}
.control-donation .amount::-webkit-outer-spin-button, .control-donation .amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.control-donation .amount[type=number] {
  -moz-appearance: textfield;
}

/*
  ⚜️ BLOCK: QUICK-DONATION ⚜️
*/
.quick-donation {
  background-color: var(--clr-main-navy);
  --c3: calc(var(--col)*3 + var(--gap)*2);
  --c6: calc(var(--col)*6 + var(--gap)*5);
}
.quick-donation .wrapper {
  padding-top: 50px;
  padding-bottom: 46px;
}
.quick-donation .wrapper {
  display: grid;
  grid-template-columns: 1fr var(--c3);
  column-gap: var(--gap);
  grid-template-areas: "info action";
}
.quick-donation .info {
  grid-area: info;
}
.quick-donation .action {
  grid-area: action;
}
.quick-donation .info__title {
  padding-bottom: 20px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h3);
  font-size: var(--font-size--h3);
  line-height: var(--line-height--h3);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--clr-main-light);
}
.quick-donation .info__text {
  width: var(--c6);
  color: var(--clr-main-light);
}
.quick-donation .action__title {
  padding-bottom: 12px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h-sub);
  font-size: var(--font-size--h-sub);
  line-height: var(--line-height--h-sub);
  /* 🔼🔠🔼 */
  color: var(--clr-main-light);
}
.quick-donation .action__text {
  color: var(--clr-main-light);
}

/* 💩 pixel-perfect 💩 */
.quick-donation .info__text {
  padding-right: 60px;
}

/*
  ⚜️ BLOCK: FACTS ⚜️
*/
.facts {
  --c2: calc(var(--col)*2 + var(--gap)*1);
  --c4: calc(var(--col)*4 + var(--gap)*3);
}

.facts .wrapper {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 148px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr) repeat(2, var(--c4)) repeat(2, 1fr);
  column-gap: var(--gap);
  row-gap: 45px;
  grid-template-areas: ". . a a a ." "b b b c . ." "d d d d . .";
}
.facts .wrapper .facts__did-you-know {
  grid-area: a;
}
.facts .wrapper .facts__specs {
  grid-area: b;
}
.facts .wrapper .facts__picture {
  grid-area: c;
}
.facts .wrapper .facts__descr {
  grid-area: d;
}
.facts__did-you-know {
  padding-top: 46px;
  padding-bottom: 50px;
  margin-bottom: 102px;
  text-align: center;
  background: var(--clr-main-light);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.facts__title {
  padding-bottom: 20px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h3);
  font-size: var(--font-size--h3);
  line-height: var(--line-height--h3);
  /* 🆎 */
  text-transform: uppercase;
  /* 🔼🔠🔼 */
  color: var(--clr-ui-2-def);
}
.facts__sub-title {
  padding: 0 60px;
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h-sub);
  font-size: var(--font-size--h-sub);
  line-height: var(--line-height--h-sub);
  /* 🔼🔠🔼 */
}
.facts__specs {
  display: flex;
  flex-direction: column;
}
.facts__spec {
  height: 34px;
  margin-bottom: 18px;
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
}
.facts__spec-name {
  /* 🔽🔠🔽 */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight--h-sub);
  font-size: var(--font-size--h-sub);
  line-height: var(--line-height--h-sub);
  /* 🔼🔠🔼 */
}
.facts__spec-link {
  align-self: center;
}
.facts__spec .btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
.facts__img {
  border-radius: 5px;
}

/* 💩 pixel-perfect 💩 */
.facts__spec:nth-child(1), .facts__spec:nth-child(2) {
  margin-bottom: 25px;
}

.main {
  position: relative;
}

.quick-donation {
  --c8: calc(var(--col)*8 + var(--gap)*7);
}
.quick-donation--panda .info__text {
  width: var(--c8);
  padding-right: 45px;
}
.quick-donation--eagle .info__text {
  width: var(--c8);
  padding-right: 0px;
}
.quick-donation--gorilla .info__text {
  width: var(--c8);
  padding-right: 0px;
}
.quick-donation--lemur .info__text {
  width: var(--c8);
  padding-right: 0px;
}

.facts {
  --c8: calc(var(--col)*8 + var(--gap)*7);
}
.facts--gorilla .wrapper {
  padding-top: 180px;
}
.facts--lemur .wrapper {
  padding-bottom: 175px;
}
