@import url(../colors.css);

/* block {Carousel} */

.carousel {
  --visible-slots: 3;
  --curr-slot: 0;

  --h-btn: 70px;
  --w-btn: 30px;
  --h-card: 360px;
  --w-card: 300px;
  --p-card: 40px;

  --time: 0.5s ease;
}

.carousel {
  display: grid;
  width: 100%;
  grid-template-rows: var(--h-card);
  grid-template-columns: var(--w-btn) 1fr var(--w-btn);
  grid-template-areas: "prev slots next";
  column-gap: var(--w-btn);
}
.carousel .ctrl--prev { grid-area: prev; }
.carousel .ctrl--next { grid-area: next; }
.carousel .slots { grid-area: slots; }

@media (max-width: 1280px) { .carousel { column-gap: 0; }}

@media (max-width: 500px) {
  .carousel {
    --h-card: 300px;
    --w-card: 250px;
    --p-card: 20px;
  }
}
@media (max-width: 380px) {
  .carousel {
    --h-card: 240px;
    --w-card: 200px;
    --p-card: 10px;
  }
}

.carousel .slots {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}
@media (max-width: 1260px) { .carousel .slots { --visible-slots: 2; }}
@media (max-width: 820px) { .carousel .slots { --visible-slots: 1; }}

.carousel .slot {
  width: var(--h-card);
  height: var(--h-card);
  display: flex;
  flex-basis: calc(100% / var(--visible-slots));
  flex-shrink: 0;
  justify-content: center;

  transition: transform var(--time);
  transform: translateX(calc(-100% * var(--curr-slot)));
}


.carousel .card {
  position: relative;
  display: block;
  width: var(--w-card);
  height: var(--h-card);
  overflow: hidden;
  background-color: var(--color-font-gray);
}

.carousel .card-bg,
.carousel .card-description {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--w-card);
  height: var(--h-card);
}

.carousel .card-bg {
  transition: filter var(--time), transform var(--time);
}
.carousel .card:hover .card-bg {
  transform: scale(1.1);
  filter: saturate(2) sepia(0);
}
.carousel .card:active .card-bg {
  filter: saturate(1) sepia(1);
}

.carousel .card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
  padding: var(--p-card);
  color: var(--color-font-light);
}

.carousel .card-description > * {
  margin: 0;
  text-align: center;
}

.carousel .ctrl {
  padding: calc((var(--h-card) - var(--h-btn)) / 2) 0;
}

.carousel .btn-inline-svg {
  width: var(--w-btn);
  height: var(--h-btn);
}

.carousel .btn-inline-svg        .icon-arrow { fill: var(--color-font-gray); }
.carousel .btn-inline-svg:hover  .icon-arrow { fill: var(--color-orange-light); }
.carousel .btn-inline-svg:active .icon-arrow { fill: var(--color-orange-dark); }

.carousel .ctrl--prev .btn-inline-svg:hover { transform: scale(1.5); }
.carousel .ctrl--next .btn-inline-svg:hover { transform: scale(1.5); }
.carousel .ctrl--prev .btn-inline-svg:active { transform: scale(1.5) translateX(-5px); }
.carousel .ctrl--next .btn-inline-svg:active { transform: scale(1.5) translateX(+5px); }


.carousel .ctrl--disabled .btn-inline-svg { cursor: not-allowed; }

.carousel .ctrl--disabled .btn-inline-svg        .icon-arrow,
.carousel .ctrl--disabled .btn-inline-svg:hover  .icon-arrow,
.carousel .ctrl--disabled .btn-inline-svg:active .icon-arrow {
  opacity: .1;
  fill: var(--color-font-dark);
}

.carousel .ctrl--disabled .btn-inline-svg:hover,
.carousel .ctrl--disabled .btn-inline-svg:active { transform: scale(1) translateX(0); }
