@import "../colors.css";

/* block {Header} */

.header {
  --w-logo: 240px;
  --w-menu: 480px;

  display: flex;
  justify-content: space-between;
}
.header__menu {
  width: var(--w-menu);
}
.header__menu ul {
  width: var(--w-menu);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header {
    --w-menu: 100%;
    flex-direction: column;
    align-items: center;
  }
  .header__menu li {
    margin: 0 10px;
  }
  .header__menu li:nth-of-type(2) {
    margin-right: auto;
  }
}
@media (max-width: 640px) {
  .header__menu ul {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__menu li, .header__menu li:nth-of-type(2) {
    margin: 0;
  }
}

.header__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu .btn-sign-in {
  width: 120px;
}

.header__menu .btn-inline-svg {
  display: block;
  width: 32px;
  height: 32px;
}
.header__menu .btn-inline-svg:hover { transform: scale(1.5); }
.header__menu .btn-inline-svg:active { transform: scale(1.5) rotate(45deg); }

.header__menu .btn-inline-svg        .icon-search { fill: var(--color-font-light); }
.header__menu .btn-inline-svg:hover  .icon-search { fill: var(--color-orange-light); }
.header__menu .btn-inline-svg:active .icon-search { fill: var(--color-orange-main); }
