@import url(../colors.css);

/* block {Latest articles} */

.main__title {
  padding-bottom: 120px;
  text-align: center;
}

.main__title h2,
.main__title h3 {
  margin: 0;
}

.main__title h2 {
  margin-bottom: 19px;
  color: var(--color-font-dark);
}

.main__title h3 {
  color: var(--color-font-gray);
}
