.game {
  --page-color-solved: hsla(var(--color-second-default), 0.5);

  max-height: 100%;

  grid-template-rows: 100px 1fr;

  transition: all 500ms;

  &--solved {
    background-color: var(--page-color-solved);
  }
}
