@charset "UTF-8";
/*
  🔰🔰🔰🔰🔰🔰🔰
  🔰           🔰
  🔰  GLOBALS   🔰
  🔰           🔰
  🔰🔰🔰🔰🔰🔰🔰
*/
/*
  ⚠️ RESET DEFAULT STYLES ⚠️
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

a:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/*
  🌐 GLOBAL VARIABLES 🌐
*/
.page {
  --page-max-w: 1140px;
  --font-family: "Open Sans", Arial, Helvetica, sans-serif;
  --decor-grad-border: 1px solid;
  --decor-grad-angle: 135deg;
  --trans-time: 200ms;
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue-rotate: 0deg;
  --opacity: 100%;
  --contrast: 100%;
  --brightness: 100%;
  --grayscale: 0%;
}

.page--dark {
  --color-main-bg: #333;
  --color-main-text: #fff;
  --color-btn-def: hsla(200, 100%, 60%, 0.4);
  --color-btn-hov: hsla(210, 100%, 60%, 0.4);
  --color-btn-act: hsla(220, 100%, 60%, 0.4);
  --color-btn-act-def: hsla(40, 100%, 60%, 0.4);
  --color-btn-act-hov: hsla(30, 100%, 60%, 0.4);
  --color-btn-act-act: hsla(20, 100%, 60%, 0.4);
  --color-thumb-def: hsla(210, 100%, 60%, 0.4);
  --color-thumb-hov: hsla(30, 100%, 60%, 0.4);
  --color-logo-def: rgba(255, 255, 255, 0.4);
  --color-logo-hov: rgba(255, 255, 255, 0.9);
  --color-grad-1: rgba(255, 255, 255, 0.00);
  --color-grad-2: rgba(255, 255, 255, 0.05);
  --color-grad-3: rgba(255, 255, 255, 0.10);
  --color-grad-4: rgba(255, 255, 255, 0.15);
  --color-grad-5: rgba(255, 255, 255, 0.20);
  --color-grad-6: rgba(255, 255, 255, 0.25);
}

.page--light {
  --color-main-bg: #fff;
  --color-main-text: #333;
  --color-btn-def: hsla(200, 100%, 40%, 0.4);
  --color-btn-hov: hsla(210, 100%, 40%, 0.4);
  --color-btn-act: hsla(220, 100%, 40%, 0.4);
  --color-btn-act-def: hsla(40, 100%, 40%, 0.4);
  --color-btn-act-hov: hsla(30, 100%, 40%, 0.4);
  --color-btn-act-act: hsla(20, 100%, 40%, 0.4);
  --color-thumb-def: hsla(210, 100%, 40%, 0.4);
  --color-thumb-hov: hsla(30, 100%, 40%, 0.4);
  --color-logo-def: rgba(0, 0, 0, 0.6);
  --color-logo-hov: rgba(0, 0, 0, 0.9);
  --color-grad-1: rgba(0, 0, 0, 0.00);
  --color-grad-2: rgba(0, 0, 0, 0.05);
  --color-grad-3: rgba(0, 0, 0, 0.10);
  --color-grad-4: rgba(0, 0, 0, 0.15);
  --color-grad-5: rgba(0, 0, 0, 0.20);
  --color-grad-6: rgba(0, 0, 0, 0.25);
}

/*
  ⚜️ DECOR HELPER-CLASSES ⚜️
*/
.decor-grad-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, var(--color-grad-3), var(--color-logo-def), var(--color-grad-3));
}

.decor-grad-background {
  --decor-fib-1: 5%;
  --decor-fib-2: 13%;
  --decor-fib-3: 26%;
  --decor-fib-4: 47%;
  --decor-fib-5: 81%;
  background-image: linear-gradient(var(--decor-grad-angle, 135deg), var(--color-grad-1) 0% var(--decor-fib-1), var(--color-grad-2) var(--decor-fib-1) var(--decor-fib-2), var(--color-grad-3) var(--decor-fib-2) var(--decor-fib-3), var(--color-grad-4) var(--decor-fib-3) var(--decor-fib-4), var(--color-grad-5) var(--decor-fib-4) var(--decor-fib-5), var(--color-grad-6) var(--decor-fib-5) 100%);
  animation: 10s linear infinite alternate rotate, 10s linear infinite grad-move;
}

@property --decor-fib-1 {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}
@property --decor-fib-2 {
  syntax: "<percentage>";
  initial-value: 13%;
  inherits: false;
}
@property --decor-fib-3 {
  syntax: "<percentage>";
  initial-value: 26%;
  inherits: false;
}
@property --decor-fib-4 {
  syntax: "<percentage>";
  initial-value: 47%;
  inherits: false;
}
@property --decor-fib-5 {
  syntax: "<percentage>";
  initial-value: 81%;
  inherits: false;
}
@property --decor-grad-angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}
@keyframes rotate {
  from {
    --decor-grad-angle: 125deg;
  }
  50% {
    --decor-grad-angle: 135deg;
  }
  to {
    --decor-grad-angle: 145deg;
  }
}
@keyframes grad-move {
  0% {
    --decor-fib-1: 5%;
    --decor-fib-2: 13%;
    --decor-fib-3: 26%;
    --decor-fib-4: 47%;
    --decor-fib-5: 81%;
  }
  5% {
    --decor-fib-1: 9%;
    --decor-fib-2: 13%;
    --decor-fib-3: 26%;
    --decor-fib-4: 47%;
    --decor-fib-5: 81%;
  }
  13% {
    --decor-fib-1: 5%;
    --decor-fib-2: 19%;
    --decor-fib-3: 26%;
    --decor-fib-4: 47%;
    --decor-fib-5: 81%;
  }
  26% {
    --decor-fib-1: 5%;
    --decor-fib-2: 13%;
    --decor-fib-3: 36%;
    --decor-fib-4: 47%;
    --decor-fib-5: 81%;
  }
  47% {
    --decor-fib-1: 5%;
    --decor-fib-2: 13%;
    --decor-fib-3: 26%;
    --decor-fib-4: 64%;
    --decor-fib-5: 81%;
  }
  81% {
    --decor-fib-1: 5%;
    --decor-fib-2: 13%;
    --decor-fib-3: 26%;
    --decor-fib-4: 47%;
    --decor-fib-5: 100%;
  }
  100% {
    --decor-fib-1: 5%;
    --decor-fib-2: 13%;
    --decor-fib-3: 26%;
    --decor-fib-4: 47%;
    --decor-fib-5: 81%;
  }
}
/*
  🏠 PAGE 🏠
*/
.page {
  min-height: 100vh;
  background-color: var(--color-main-bg);
  font-family: var(--font-family);
  overflow-x: hidden;
}

.page__container--header {
  border-bottom: var(--decor-grad-border);
  background: var(--color-grad-3);
  backdrop-filter: blur(5px);
}

.page__container--footer {
  border-top: var(--decor-grad-border);
  background-color: var(--color-grad-3);
  backdrop-filter: blur(5px);
}

.page__container--app {
  min-height: calc(100vh - 110px);
  padding: 60px 10px;
}

@media (max-width: 1024px) {
  .page__container--app {
    padding: 20px 10px;
  }
}
.page__block {
  max-width: var(--page-max-w);
  width: 100%;
  margin: 0 auto;
}

/*
♻️♻️♻️♻️♻️♻️♻️
♻️             ♻️
♻️  COMPONETS   ♻️
♻️             ♻️
♻️♻️♻️♻️♻️♻️♻️
*/
.svg-icon,
.svg-logo {
  display: block;
  transition: 100ms;
}

.svg-icon--minimize,
.svg-icon--maximize {
  width: 30px;
  height: 30px;
}

.svg-icon--sun,
.svg-icon--moon {
  width: 35px;
  height: 35px;
}

.svg-icon--next,
.svg-icon--prev {
  width: 40px;
  height: 40px;
}

.svg-logo--github {
  width: 35px;
  height: 35px;
}

.svg-logo--rss {
  width: 86px;
  height: 32px;
}

/*
  ♻️ BUTTON ♻️
*/
.btn {
  --⚠️--btn-min-w: 150px;
  --⚠️--btn-max-w: 200px;
  --⚠️--btn-h: 40px;
  flex: 1;
  max-width: var(--btn-max-w, var(--⚠️--btn-max-w));
  min-width: var(--btn-min-w, var(--⚠️--btn-min-w));
  height: var(--btn-h, var(--⚠️--btn-h));
  padding: 0 10px;
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  color: var(--color-main-text);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--color-btn-def);
}
.btn:hover {
  background-color: var(--color-btn-hov);
}
.btn:active {
  background-color: var(--color-btn-act);
}
.btn--active {
  background-color: var(--color-btn-act-def);
}
.btn--active:hover {
  background-color: var(--color-btn-act-hov);
}
.btn--active:active {
  background-color: var(--color-btn-act-act);
}

.btn-load {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-load__input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/*
  ♻️ BUTTON ICON ♻️
*/
.btn-icon {
  --color-btn-icon-def: rgba(255, 255, 255, 0.1);
  --color-btn-icon-hov: rgba(255, 255, 255, 0.2);
  --color-btn-icon-act: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 100ms;
  box-shadow: 0 0 3px 0 #0008;
  background-color: var(--color-btn-icon-def);
  backdrop-filter: blur(5px);
  fill: #0006;
}
.btn-icon:hover {
  background-color: var(--color-btn-icon-hov);
  fill: #000c;
}
.btn-icon:hover .svg-icon {
  transform: scale(1.1);
}
.btn-icon:active {
  box-shadow: 0 0 2px 0 #0008;
  background-color: var(--color-btn-icon-act);
}

.btn-icon--theme-to-dark .svg-icon--moon {
  display: block;
}
.btn-icon--theme-to-dark .svg-icon--sun {
  display: none;
}
.btn-icon--theme-to-light .svg-icon--moon {
  display: none;
}
.btn-icon--theme-to-light .svg-icon--sun {
  display: block;
}

.btn-icon--fullscreen .svg-icon--maximize {
  display: block;
}
.btn-icon--fullscreen .svg-icon--minimize {
  display: none;
}

:-webkit-full-screen .btn-icon--fullscreen .svg-icon--maximize {
  display: none;
}
:-webkit-full-screen .btn-icon--fullscreen .svg-icon--minimize {
  display: block;
}

:-moz-full-screen .btn-icon--fullscreen .svg-icon--maximize {
  display: none;
}
:-moz-full-screen .btn-icon--fullscreen .svg-icon--minimize {
  display: block;
}

:fullscreen .btn-icon--fullscreen .svg-icon--maximize {
  display: none;
}
:fullscreen .btn-icon--fullscreen .svg-icon--minimize {
  display: block;
}

/*
  ♻️ LOGO ♻️
*/
.logo {
  display: block;
  text-decoration: none;
  transition: 100ms;
  color: var(--color-logo-def);
  fill: var(--color-logo-def);
}
.logo:hover {
  color: var(--color-logo-hov);
  fill: var(--color-logo-hov);
}

.logo__text,
.logo__svg-icon {
  display: block;
  transition: 300ms;
}

.logo__text {
  font-family: var(--font-family);
}

.logo--github {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo__text--github {
  font-size: 16px;
  line-height: 45px;
}

.logo--rss {
  position: relative;
  width: 111px;
  height: 32px;
}

.svg-logo--rss {
  position: absolute;
  top: 0;
  left: 0;
}

.logo__text--rss {
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 21px;
  line-height: 0.9;
}

.logo:hover .logo__text--rss {
  right: -5px;
  letter-spacing: 0;
}

/*
  ♻️ HEADER ♻️
*/
.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  text-align: center;
}
@media (max-width: 375px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.header-title {
  flex: 10;
  line-height: 60px;
  font-weight: 300;
  color: var(--color-main-text);
}
@media (max-width: 375px) {
  .header-title {
    grid-column: 1/span 2;
    grid-row: 1;
  }
}

.header__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
@media (max-width: 375px) {
  .header__container--btn-1 {
    justify-content: flex-end;
  }
  .header__container--btn-2 {
    justify-content: flex-start;
  }
}

/*
  ♻️ FOOTER ♻️
*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

@media (max-width: 375px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    padding: 20px 15px;
  }
}
/*
  ♻️ FILTER-IO ♻️
*/
.filter-io {
  --color-dots: var(--color-grad-4);
  --color-filter-def: var(--color-logo-def);
  --color-filter-hov: var(--color-main-text);
  --color-filter: var(--color-filter-def);
  --color-filter-bg-def: var(--color-thumb-def);
  --color-filter-bg-hov: var(--color-thumb-hov);
  --color-filter-bg: var(--color-filter-bg-def);
  --filter-scale: scale(1);
  --filter-max-w: 400px;
  --filter-min-w: 300px;
  --filter-trans-time: 300ms;
  flex: 1;
  display: flex;
  column-gap: 10px;
  max-width: var(--filter-max-w);
  min-width: var(--filter-min-w);
  height: 50px;
  font-size: 16px;
  color: var(--color-filter);
}
@media (max-width: 1024px) {
  .filter-io {
    --filter-max-w: 400px;
    --filter-min-w: 200px;
  }
}
.filter-io:hover {
  --color-filter: var(--color-filter-hov);
  --color-filter-bg: var(--color-filter-bg-hov);
  --color-dots: var(--color-grad-6);
  --filter-scale: scale(1.1);
}

.filter-io__label {
  flex: 1;
  display: block;
}

.filter-io__input {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 12px;
  appearance: none;
  outline: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--color-dots) 0 2px, transparent 2px 6px);
  background-size: 6px;
  cursor: pointer;
  transition: var(--filter-trans-time);
}

.filter-io__input::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--color-filter);
  background-color: var(--color-filter-bg);
  backdrop-filter: blur(1.2px);
  cursor: pointer;
  transition: var(--filter-trans-time);
  transform: var(--filter-scale);
}

.filter-io__output {
  flex: 0 0 60px;
  align-self: flex-end;
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-filter);
  background-color: var(--color-filter-bg);
  backdrop-filter: blur(2px);
  text-align: left;
  line-height: 30px;
  transition: var(--filter-trans-time);
  transform: var(--filter-scale);
}

/*
  ♻️ FILTERS ♻️
*/
.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  padding-right: 60px;
}
@media (max-width: 1024px) {
  .filters {
    padding-right: 0;
  }
}

.filters__container--btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filters__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
}

.filters__item {
  flex: 1;
  display: flex;
  justify-content: center;
}

/*
  ♻️ EDITOR ♻️
*/
.editor {
  --filter: blur(var(--blur, 0px))
            invert(var(--invert, 0%))
            sepia(var(--sepia, 0%))
            saturate(var(--saturate, 100%))
            hue-rotate(var(--hue-rotate, 0deg))
            opacity(var(--opacity, 100))
            contrast(var(--contrast, 100))
            brightness(var(--brightness, 100))
            grayscale(var(--grayscale, 100));
  --chess-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  width: 100%;
}
@media (max-width: 375px) {
  .editor {
    row-gap: 10px;
  }
}

.editor__container--btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 375px) {
  .editor__container--btn {
    gap: 5px;
  }
}
.editor__container--img {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--color-grad-3);
  /* https://css-tricks.com/background-patterns-simplified-by-conic-gradients/ */
  background-image: repeating-conic-gradient(from 0deg, var(--color-grad-2) 0% 25%, transparent 0% 50%);
  background-size: var(--chess-size) var(--chess-size);
  background-position: center;
  backdrop-filter: blur(5px);
}
@media (max-width: 1024px) {
  .editor__container--img {
    max-width: 100%;
  }
}

.editor__img {
  display: block;
  max-height: 520px;
  max-width: 830px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--filter);
  outline: none;
}

.editor__container--btn-slider {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -25px;
  right: -25px;
  transform: translateY(-50%);
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .editor__container--btn-slider {
    left: -5px;
    right: -5px;
  }
}

/*
  ♻️ APP ♻️
*/
.app {
  display: flex;
  justify-content: space-between;
  row-gap: 40px;
  max-width: var(--page-max-w);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1024px) {
  .app {
    flex-direction: column;
    padding: 0;
  }
}

.app__container--filters {
  flex: 1 1;
  max-width: 40%;
}
@media (max-width: 1024px) {
  .app__container--filters {
    order: 2;
    max-width: 100%;
  }
}

.app__container--editor {
  flex: 1 1;
  max-width: 60%;
}
@media (max-width: 1024px) {
  .app__container--editor {
    order: 1;
    max-width: 100%;
  }
}
