@use '../../_lib/css-var' as *;
@use '../../_lib/grid';

@use '../../element/bage';

@use '../../block/side-bar';
@use '../../block/live-cams';
@use '../../block/quick-donation';
@use '../../block/facts';

.main {
  position: relative;
}

.quick-donation {
  @include set-vars((
    c8: grid.col(8),
  ));

  &--panda .info__text {
    width: var(--c8);
    padding-right: 45px;
  }

  &--eagle .info__text {
    width: var(--c8);
    padding-right: 0px;
  }

  &--gorilla .info__text {
    width: var(--c8);
    padding-right: 0px;
  }

  &--lemur .info__text {
    width: var(--c8);
    padding-right: 0px;
  }
}

.facts {
  @include set-vars((
    c8: grid.col(8),
  ));

  // &--panda .wrapper {
  // }

  // &--eagle .wrapper {
  // }

  &--gorilla .wrapper {
    padding-top: 180px;
  }

  &--lemur .wrapper {
    padding-bottom: 175px;
  }
}
