extends ./_pug/_layout/_page.pug

include ./_pug/_mixin/_layout-block.pug
include ./_pug/_mixin/_header.pug
include ./_pug/_mixin/_footer.pug

block head-vars
  - var page = "about";
  - var pageTitle = "🐼";
  - var root = ".";

block header
  +header(page)

block footer
  +footer(page)

block dev
  - var h = "--h-dev-overlay: 12330px"
  .dev-overlay.dev-grid
  .dev-overlay.dev-pixelperfect(style = h)

block main
  +layout-block("section", "hero")
    include ./_pug/_partial/_hero.pug

  +layout-block("section", "intro")
    include ./_pug/_partial/_intro.pug

  +layout-block("section", "quick-donation")
    include ./_pug/_partial/_quick-donation.pug

  +layout-block("section", "pets-in-zoo")
    include ./_pug/_partial/_pets-in-zoo.pug

  +layout-block("section", "pay-and-feed")
    include ./_pug/_partial/_pay-and-feed.pug

  +layout-block("section", "testimonials")
    include ./_pug/_partial/_testimonials.pug

  +layout-block("section", "care-for-animals")
    include ./_pug/_partial/_care-for-animals.pug

