extends ./layout/_layout-page.pug

include ./block/_hero.pug
include ./block/_intro.pug
include ./block/_quick-donation.pug
include ./block/_pets-in-zoo.pug
include ./block/_pay-and-feed.pug
include ./block/_testimonials.pug
include ./block/_care-for-animals.pug


block page-vars
  - var page = "about";
  - var file = "index";
  - var title = "About";
  - var root = ".";

block main
  +hero
  +intro
  +quick-donation
  +pets-in-zoo
  +pay-and-feed
  +testimonials
  +care-for-animals

block dev
  - var h = "--h-dev-overlay: 12330px"
  .dev-overlay.dev-grid
  .dev-overlay.dev-pixelperfect(style = h)
