.info {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 60px 1fr 60px 40px;
  column-gap: 20px;
  padding: 20px;
  align-items: center;
}

.place {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0008;
  line-height: 40px;
  color: #fff;
}

.time {
  color: #48f;
}

.name {
  color: #6c1;
}
