.output {
  max-width: 400px;
  padding: 20px 40px;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  background-color: hsla(var(--color-second-default), 1);
}

.highlight {
  font-weight: bold;
  color: #000;
}
