-
  class ArrUtils {
    static chanks(chankSize, xs) {
      let res = xs.reduce((obj, x) => {
        if (obj.buff.length == chankSize) {
          obj.acc.push(obj.buff);
          obj.buff = [];
        }
        obj.buff.push(x);
        return obj;
      }, {acc:[], buff:[]});

      if (res.buff.length > 0) res.acc.push(res.buff);

      return res.acc;
    }

    static clsMap(xs, suff) {
      xs = suff ? xs.map(x => `${x}__${suff}`) : xs;
      return xs.join(' ');
    }
  }
